
<div class="content_bottom" style="margin-top:2em">

<h3 style="color:#7aae42"><i class="fa fa-plus"></i> Import products From Excel</h3>
<div class="xs"><br><br>

<p>
<b>Note:</b> Only import spreadsheets that were previously downloaded from this
  application.
</p><br>
<%=link_to 'Download Excel Template',products_imports_export_path(format: :xlsx) ,class: 'kd_buttons'%>

<br><br>
<h4>Requirements</h4>
<ul>
  <li>For new products DO NOT supply an ID. If an ID is supplied, the existing product with the ID will be updated.</li>
  <li>The Workbook contains two worksheets. Confirm the category IDs for products on the 'Category' worksheet.</li>
  <li>To make a product to active, change the value to '1'. Products are inactive ('0') by default. </li>
</ul>

<%= form_for :products_import do |f| %>
  <% if @products_import.errors.any? %>
    <%= pluralize(@products_import.errors.count, "error(s)") %> prevented us from
    importing your spreadsheet. Please update your spreadsheet and try agin.
    <ul>
      <% @products_import.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
  <div class="form-group"><br><br>
    <label for="file_new" class="col-sm-2 control-label">Select File</label>
    <div class="col-sm-8">
      <%= f.file_field :file, class:'form-control1', required:'',id:'file_new' %>
    </div>
    <div class="col-sm-2">
      <a class="help-block"><span data-toggle="tooltip" data-placement="bottom" title="This the excel file you will upload">Help?</span></a>
    </div>
  </div>
  <div class="clearfix"> </div>
  <%= f.submit "Import File", class:"kd_buttons" %>
<% end %>
</div>

<div class="clearfix"> </div>
  </div>

<div class="scripter"></div>
