<div class="col-md-6 col-md-offset-3 containerw3layouts-agileits">


  <h1>Recover Password</h1>

  <div class="aitsloginwthree w3layouts agileits">
    <div class="col-md-12">
      <% if !notice.nil? %>
          <div class="alert alert-success" role="alert">
            <strong><%= notice %></strong>
          </div>
      <% end %>
      <% if !alert.nil? %>
          <div class="alert alert-info" role="alert">
            <strong><%= alert %></strong>
          </div>
      <% end %>

    </div>
    <br><br><br>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <a href="<%= root_path %>" > <%= image_tag("website/logo.png") %><BR><BR><BR><BR></a>
        <%= devise_error_messages! %>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true,id:'user_email_res',class:'text-center form-control' %>
        </div>

        <div class="actions">
          <%= f.submit "Send me reset password instructions" ,class:'send-button'%>
        </div>
    <% end %>

    <%- if controller_name != 'sessions' %>
        <%= link_to "Log in", new_session_path(resource_name) %><br />
        <br />
    <% end -%>
  </div>
</div>
<div class="col-md-12" style="margin-top:3em;margin-bottom:0em;">
  <p style="text-align:center;color: white">Copyright &copy; <%= Time.current.year %> KDuka. All rights reserved | Developed by <a style="color:#fff;text-decoration: underline" href="http://www.zerone.co.ke">Zerone I.T. Solutions</a><p>
</div>
