<div class="col-md-3 pro-1">
	<div class="col-m">
		<div id="imgbox" style="width:100%;height:auto">
			<a href="#" data-toggle="modal" data-target="#myModal1" class="offer-img"> <%= image_tag(product.image_url(:thumb).to_s, class:'img-responsive')%> </a>
		</div>
		
		<div class="mid-1">
			<div class="women">
				<h6><a href="<%= product_view_path(product.sku)%>"><%= product.name %></a></h6>
			</div>
			<div class="mid-2">
				<p >
					<label>$7.00</label><em class="item_price">$<%= product.price %></em>
				</p>
				<div class="block">
					<div class="starbox small ghosting"></div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="add">
				<%= form_for order_item, remote: true do |f| %>
				Qty: <%= f.number_field :quantity, value: 1, class: "item_quantity", min: 1 , style:"width:40%;margin-bottom:1em;"%> <p></p>
				<%= f.hidden_field :product_id, value: product.id %>
				
				<%= f.button type:'submit' ,class:"btn btn-danger my-cart-btn my-cart-b" do %>
					Add to Cart
				 <% end %>
				 <% end %>
			</div>
		</div>
	</div>
</div>

