<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
  <title><%= @store.name %></title>
  <!-- for-mobile-apps -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta property="og:title" content="Vide"/>
  <meta name="keywords" content="Big store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
		Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"/>
  <script type="application/x-javascript">
      addEventListener("load", function () {
          setTimeout(hideURLbar, 0);
      }, false);

      function hideURLbar() {
          window.scrollTo(0, 1);
      }
  </script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://use.fontawesome.com/0c894d70a3.js"></script>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <% Dir.foreach("public/stylesheets/#{Layout.find(@store.layout_id).name}") do |item|
    next if item == '.' or item == '..'  %>
    <%= stylesheet_link_tag "#{Layout.find(@store.layout_id).name}/#{item}" %>
  <% end %>
  <% Dir.foreach("public/javascripts/#{Layout.find(@store.layout_id).name}") do |item|
    next if item == '.' or item == '..'  %>
    <%= javascript_include_tag "#{Layout.find(@store.layout_id).name}/#{item}" %>
  <% end %>
  <script type="text/javascript">
      jQuery(document).ready(function ($) {
          $(".scroll").click(function (event) {
              event.preventDefault();
              $('html,body').animate({
                  scrollTop: $(this.hash).offset().top
              }, 1000);
          });
      });
  </script>
  <!-- start-smoth-scrolling -->
  <link href="css/font-awesome.css" rel="stylesheet">
  <link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Noto+Sans:400,700' rel='stylesheet' type='text/css'>
  <!--- start-rate---->
  <script src="js/jstarbox.js"></script>
  <link rel="stylesheet" href="css/jstarbox.css" type="text/css" media="screen" charset="utf-8"/>
  <script type="text/javascript">
      jQuery(function () {
          jQuery('.starbox').each(function () {
              var starbox = jQuery(this);
              starbox.starbox({
                  average: starbox.attr('data-start-value'),
                  changeable: starbox.hasClass('unchangeable') ? false : starbox.hasClass('clickonce') ? 'once' : true,
                  ghosting: starbox.hasClass('ghosting'),
                  autoUpdateAverage: starbox.hasClass('autoupdate'),
                  buttons: starbox.hasClass('smooth') ? false : starbox.attr('data-button-count') || 5,
                  stars: starbox.attr('data-star-count') || 5
              }).bind('starbox-value-changed', function (event, value) {
                  if (starbox.hasClass('random')) {
                      var val = Math.random();
                      starbox.next().text(' ' + val);
                      return val;
                  }
              })
          });
      });
  </script>

  <!---//End-rate---->
  <% if @store.premium %>
    <!--Google Tag -->
    <%= @store.gtag.html_safe %>
    <!--End Google Tag-->
  <% end %>
</head>
<body>
<a href="offer.html"><img src="images/bigstore/bigstore/download.png" class="img-head" alt=""></a>
<div class="header">

  <div class="container">

    <div class="logo">
      <h1><a href="index.html"><%= @store.name %><span><%= @store.slogan %></span></a></h1>
    </div>
    <div class="head-t">
      <ul class="card">
        <li>
          <a href="wishlist.html"><i class="fa fa-heart" aria-hidden="true"></i>Wishlist</a>
        </li>
        <li>
          <a href="login.html"><i class="fa fa-user" aria-hidden="true"></i>Login</a>
        </li>
        <li>
          <a href="register.html"><i class="fa fa-arrow-right" aria-hidden="true"></i>Register</a>
        </li>
        <li>
          <a href="about.html"><i class="fa fa-file-text-o" aria-hidden="true"></i>Order History</a>
        </li>
        <li>
          <a href="shipping.html"><i class="fa fa-ship" aria-hidden="true"></i>Shipping</a>
        </li>
      </ul>
    </div>

    <div class="header-ri">
      <ul class="social-top">
        <li>
          <a href="#" class="icon facebook"><i class="fa fa-facebook" aria-hidden="true"></i><span></span></a>
        </li>
        <li>
          <a href="#" class="icon twitter"><i class="fa fa-twitter" aria-hidden="true"></i><span></span></a>
        </li>
        <li>
          <a href="#" class="icon pinterest"><i class="fa fa-pinterest-p" aria-hidden="true"></i><span></span></a>
        </li>
        <li>
          <a href="#" class="icon dribbble"><i class="fa fa-dribbble" aria-hidden="true"></i><span></span></a>
        </li>
      </ul>
    </div>
    <%= render 'layouts/bigstore/menu' %>
  </div>
</div>
<!---->

<!-- Carousel
================================================== -->
<!--
<div id="myCarousel" class="carousel slide" data-ride="carousel">

<ol class="carousel-indicators">
<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
<li data-target="#myCarousel" data-slide-to="1"></li>
<li data-target="#myCarousel" data-slide-to="2"></li>
</ol>
<div class="carousel-inner" role="listbox">
<div class="item active">
<a href="care.html"><img class="first-slide" src="images/bigstore/ba2.jpg" alt="First slide"></a>

</div>
<div class="item">
<a href="care.html"><img class="second-slide " src="images/bigstore/ba.jpg" alt="Second slide"></a>

</div>
<div class="item">
<a href="hold.html"> <img class="third-slide " src="images/bigstore/ba1.jpg" alt="Third slide"></a>

</div>
</div>

</div>-->
<!-- /.carousel -->

<!--content-->
<!--
<div class="kic-top ">
<div class="container ">
<div class="kic ">
<h3>Popular Categories</h3>

</div>
<div class="col-md-4 kic-top1">
<a href="single.html">
<img src="images/bigstore/ki6.jpg" class="img-responsive" alt="">
</a>
<h6>Clips</h6>
<p>Nam libero tempore</p>
</div>
<div class="col-md-4 kic-top1">
<a href="single.html">
<img src="images/bigstore/ki7.jpg" class="img-responsive" alt="">
</a>
<h6>Cleaning Wear</h6>
<p>Nam libero tempore</p>
</div>
<div class="col-md-4 kic-top1">
<a href="single.html">
<img src="images/bigstore/ki8.jpg" class="img-responsive" alt="">
</a>
<h6>Toothbrush</h6>
<p>Nam libero tempore</p>
</div>
</div>
</div>-->

<!--content-->
<%= yield %>
<!--footer-->
<div class="footer">
  <div class="container">
    <div class="col-md-3 footer-grid">
      <h3>About Us</h3>
      <p>
        Nam libero tempore, cum soluta nobis est eligendi
        optio cumque nihil impedit quo minus id quod maxime
        placeat facere possimus.
      </p>
    </div>
    <div class="col-md-3 footer-grid ">
      <h3>Menu</h3>
      <ul>
        <li>
          <a href="index.html">Home</a>
        </li>
        <li>
          <a href="kitchen.html">Kitchen</a>
        </li>
        <li>
          <a href="care.html">Personal Care</a>
        </li>
        <li>
          <a href="hold.html">Household</a>
        </li>
        <li>
          <a href="codes.html">Short Codes</a>
        </li>
        <li>
          <a href="contact.html">Contact</a>
        </li>
      </ul>
    </div>
    <div class="col-md-3 footer-grid ">
      <h3>Customer Services</h3>
      <ul>
        <li>
          <a href="shipping.html">Shipping</a>
        </li>
        <li>
          <a href="terms.html">Terms & Conditions</a>
        </li>
        <li>
          <a href="faqs.html">Faqs</a>
        </li>
        <li>
          <a href="contact.html">Contact</a>
        </li>
        <li>
          <a href="offer.html">Online Shopping</a>
        </li>

      </ul>
    </div>
    <div class="col-md-3 footer-grid">
      <h3>My Account</h3>
      <ul>
        <li>
          <a href="login.html">Login</a>
        </li>
        <li>
          <a href="register.html">Register</a>
        </li>
        <li>
          <a href="wishlist.html">Wishlist</a>
        </li>

      </ul>
    </div>
    <div class="clearfix"></div>
    <div class="footer-bottom">
      <h2><a href="index.html"><%= @store.name %><span><%= @store.slogan %></span></a></h2>
      <p class="fo-para">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
      </p>
      <ul class="social-fo">
        <li>
          <a href="#" class=" face"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        </li>
        <li>
          <a href="#" class=" twi"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        </li>
        <li>
          <a href="#" class=" pin"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
        </li>
        <li>
          <a href="#" class=" dri"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
        </li>
      </ul>
      <div class=" address">
        <div class="col-md-4 fo-grid1">
          <p>
            <i class="fa fa-home" aria-hidden="true"></i>12K Street , 45 Building Road Canada.
          </p>
        </div>
        <div class="col-md-4 fo-grid1">
          <p>
            <i class="fa fa-phone" aria-hidden="true"></i><%= @store.phone %>
          </p>
        </div>
        <div class="col-md-4 fo-grid1">
          <p>
            <a href="mailto:#{@store.display_email}"><i class="fa fa-envelope-o" aria-hidden="true"></i><%= @store.display_email %>
            </a>
          </p>
        </div>
        <div class="clearfix"></div>

      </div>
    </div>
    <div class="copy-right">
      <p>
        &copy; 2016 Big store. All Rights Reserved | Design by <a href="http://w3layouts.com/"> W3layouts</a>
      </p>
    </div>
  </div>
</div>
<!-- //footer-->

<!-- smooth scrolling -->
<script type="text/javascript">
    $(document).ready(function () {
        /*
         var defaults = {
         containerID: 'toTop', // fading element id
         containerHoverID: 'toTopHover', // fading element hover id
         scrollSpeed: 1200,
         easingType: 'linear'
         };
         */
        $().UItoTop({
            easingType: 'easeOutQuart'
        });
    });
</script>
<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!-- //smooth scrolling -->
<!-- for bootstrap working -->
<script src="js/bootstrap.js"></script>
<!-- //for bootstrap working -->
<script type='text/javascript' src="js/jquery.mycart.js"></script>
<script type="text/javascript">
    $(function () {

        var goToCartIcon = function ($addTocartBtn) {
            var $cartIcon = $(".my-cart-icon");
            var $image = $('<img width="30px" height="30px" src="' + $addTocartBtn.data("image") + '"/>').css({
                "position": "fixed",
                "z-index": "999"
            });
            $addTocartBtn.prepend($image);
            var position = $cartIcon.position();
            $image.animate({
                top: position.top,
                left: position.left
            }, 500, "linear", function () {
                $image.remove();
            });
        }

        $('.my-cart-btn').myCart({
            classCartIcon: 'my-cart-icon',
            classCartBadge: 'my-cart-badge',
            affixCartIcon: true,
            checkoutCart: function (products) {
                $.each(products, function () {
                    //console.log(this);
                });
            },
            clickOnAddToCart: function ($addTocart) {
                goToCartIcon($addTocart);
            },
            getDiscountPrice: function (products) {
                var total = 0;
                $.each(products, function () {
                    total += this.quantity * this.price;
                });
                return total * 1;
            }
        });

    });
</script>

<!-- product -->
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-info">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body modal-spa">
        <div class="col-md-5 span-2">
          <div class="item">
            <img src="images/bigstore/of48.png" class="img-responsive" alt="">
          </div>
        </div>
        <div class="col-md-7 span-1 ">
          <h3>Cat Food(500 g)</h3>
          <p class="in-para">
            There are many variations of passages of Lorem Ipsum.
          </p>
          <div class="price_single">
            <span class="reducedfrom "><del>$2.00</del>$1.50</span>

            <div class="clearfix"></div>
          </div>
          <h4 class="quick">Quick Overview:</h4>
          <p class="quick_desc">
            Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer
            possim assum. Typi non habent claritatem insitam; es
          </p>
          <div class="add-to">
            <button class="btn btn-danger my-cart-btn my-cart-btn1 " data-id="48" data-name="Cat Food" data-summary="summary 48" data-price="1.50" data-quantity="1" data-image="images/bigstore/of48.png">
              Add to Cart
            </button>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
<!-- product -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-info">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body modal-spa">
        <div class="col-md-5 span-2">
          <div class="item">
            <img src="images/bigstore/of49.png" class="img-responsive" alt="">
          </div>
        </div>
        <div class="col-md-7 span-1 ">
          <h3>Safety Pins(100 g)</h3>
          <p class="in-para">
            There are many variations of passages of Lorem Ipsum.
          </p>
          <div class="price_single">
            <span class="reducedfrom "><del>$10.00</del>$9.00</span>

            <div class="clearfix"></div>
          </div>
          <h4 class="quick">Quick Overview:</h4>
          <p class="quick_desc">
            Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer
            possim assum. Typi non habent claritatem insitam; es
          </p>
          <div class="add-to">
            <button class="btn btn-danger my-cart-btn my-cart-btn1 " data-id="49" data-name="Safety Pins" data-summary="summary 49" data-price="9.00" data-quantity="1" data-image="images/bigstore/of49.png">
              Add to Cart
            </button>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
<!-- product -->
<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-info">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body modal-spa">
        <div class="col-md-5 span-2">
          <div class="item">
            <img src="images/bigstore/of50.png" class="img-responsive" alt="">
          </div>
        </div>
        <div class="col-md-7 span-1 ">
          <h3>Agarbatti(200 g)</h3>
          <p class="in-para">
            There are many variations of passages of Lorem Ipsum.
          </p>
          <div class="price_single">
            <span class="reducedfrom "><del>$3.00</del>$2.00</span>

            <div class="clearfix"></div>
          </div>
          <h4 class="quick">Quick Overview:</h4>
          <p class="quick_desc">
            Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer
            possim assum. Typi non habent claritatem insitam; es
          </p>
          <div class="add-to">
            <button class="btn btn-danger my-cart-btn my-cart-btn1 " data-id="50" data-name="Agarbatti" data-summary="summary 50" data-price="2.00" data-quantity="1" data-image="images/bigstore/of50.png">
              Add to Cart
            </button>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
<!-- product -->
<div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-info">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body modal-spa">
        <div class="col-md-5 span-2">
          <div class="item">
            <img src="images/bigstore/of51.png" class="img-responsive" alt="">
          </div>
        </div>
        <div class="col-md-7 span-1 ">
          <h3>Candle Set </h3>
          <p class="in-para">
            There are many variations of passages of Lorem Ipsum.
          </p>
          <div class="price_single">
            <span class="reducedfrom "><del>$4.00</del>$3.50</span>

            <div class="clearfix"></div>
          </div>
          <h4 class="quick">Quick Overview:</h4>
          <p class="quick_desc">
            Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer
            possim assum. Typi non habent claritatem insitam; es
          </p>
          <div class="add-to">
            <button class="btn btn-danger my-cart-btn my-cart-btn1 " data-id="51" data-name="Candle Set" data-summary="summary 51" data-price="3.50" data-quantity="1" data-image="images/bigstore/of51.png">
              Add to Cart
            </button>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
<!-- product -->
<div class="modal fade" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-info">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body modal-spa">
        <div class="col-md-5 span-2">
          <div class="item">
            <img src="images/bigstore/of52.png" class="img-responsive" alt="">
          </div>
        </div>
        <div class="col-md-7 span-1 ">
          <h3>Dust Bin(1 pc)</h3>
          <p class="in-para">
            There are many variations of passages of Lorem Ipsum.
          </p>
          <div class="price_single">
            <span class="reducedfrom "><del>$1.00</del>$0.70</span>

            <div class="clearfix"></div>
          </div>
          <h4 class="quick">Quick Overview:</h4>
          <p class="quick_desc">
            Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer
            possim assum. Typi non habent claritatem insitam; es
          </p>
          <div class="add-to">
            <button class="btn btn-danger my-cart-btn my-cart-btn1 " data-id="52" data-name="Dust Bin" data-summary="summary 52" data-price="0.70" data-quantity="1" data-image="images/bigstore/of52.png">
              Add to Cart
            </button>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
<!-- product -->
<div class="modal fade" id="myModal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-info">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body modal-spa">
        <div class="col-md-5 span-2">
          <div class="item">
            <img src="images/bigstore/of53.png" class="img-responsive" alt="">
          </div>
        </div>
        <div class="col-md-7 span-1 ">
          <h3>Hanger(1 pc)</h3>
          <p class="in-para">
            There are many variations of passages of Lorem Ipsum.
          </p>
          <div class="price_single">
            <span class="reducedfrom "><del>$1.00</del>$0.70</span>

            <div class="clearfix"></div>
          </div>
          <h4 class="quick">Quick Overview:</h4>
          <p class="quick_desc">
            Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer
            possim assum. Typi non habent claritatem insitam; es
          </p>
          <div class="add-to">
            <button class="btn btn-danger my-cart-btn my-cart-btn1 " data-id="53" data-name="Hanger" data-summary="summary 53" data-price="0.70" data-quantity="1" data-image="images/bigstore/of53.png">
              Add to Cart
            </button>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
<!-- product -->
<div class="modal fade" id="myModal7" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-info">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body modal-spa">
        <div class="col-md-5 span-2">
          <div class="item">
            <img src="images/bigstore/of54.png" class="img-responsive" alt="">
          </div>
        </div>
        <div class="col-md-7 span-1 ">
          <h3>Pet Bowl(1 pc)</h3>
          <p class="in-para">
            There are many variations of passages of Lorem Ipsum.
          </p>
          <div class="price_single">
            <span class="reducedfrom "><del>$2.00</del>$1.00</span>

            <div class="clearfix"></div>
          </div>
          <h4 class="quick">Quick Overview:</h4>
          <p class="quick_desc">
            Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer
            possim assum. Typi non habent claritatem insitam; es
          </p>
          <div class="add-to">
            <button class="btn btn-danger my-cart-btn my-cart-btn1 " data-id="54" data-name="Pet Bowl" data-summary="summary 54" data-price="1.00" data-quantity="1" data-image="images/bigstore/of54.png">
              Add to Cart
            </button>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
<!-- product -->
<div class="modal fade" id="myModal8" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-info">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body modal-spa">
        <div class="col-md-5 span-2">
          <div class="item">
            <img src="images/bigstore/of55.png" class="img-responsive" alt="">
          </div>
        </div>
        <div class="col-md-7 span-1 ">
          <h3>Tailum(500 g)</h3>
          <p class="in-para">
            There are many variations of passages of Lorem Ipsum.
          </p>
          <div class="price_single">
            <span class="reducedfrom "><del>$4.00</del>$3.50</span>

            <div class="clearfix"></div>
          </div>
          <h4 class="quick">Quick Overview:</h4>
          <p class="quick_desc">
            Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer
            possim assum. Typi non habent claritatem insitam; es
          </p>
          <div class="add-to">
            <button class="btn btn-danger my-cart-btn my-cart-btn1 " data-id="55" data-name="Tailum" data-summary="summary 55" data-price="3.50" data-quantity="1" data-image="images/bigstore/of55.png">
              Add to Cart
            </button>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
<!-- product -->
<div class="modal fade" id="myModal9" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-info">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body modal-spa">
        <div class="col-md-5 span-2">
          <div class="item">
            <img src="images/bigstore/of56.png" class="img-responsive" alt="">
          </div>
        </div>
        <div class="col-md-7 span-1 ">
          <h3>Container(1 pc)</h3>
          <p class="in-para">
            There are many variations of passages of Lorem Ipsum.
          </p>
          <div class="price_single">
            <span class="reducedfrom "><del>$2.00</del>$1.50</span>

            <div class="clearfix"></div>
          </div>
          <h4 class="quick">Quick Overview:</h4>
          <p class="quick_desc">
            Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer
            possim assum. Typi non habent claritatem insitam; es
          </p>
          <div class="add-to">
            <button class="btn btn-danger my-cart-btn my-cart-btn1 " data-id="56" data-name="Container" data-summary="summary 56" data-price="1.50" data-quantity="1" data-image="images/bigstore/of56.png">
              Add to Cart
            </button>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
<!-- product -->
<div class="modal fade" id="myModal10" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-info">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body modal-spa">
        <div class="col-md-5 span-2">
          <div class="item">
            <img src="images/bigstore/of57.png" class="img-responsive" alt="">
          </div>
        </div>
        <div class="col-md-7 span-1 ">
          <h3>Scrub Sponge(100 g)</h3>
          <p class="in-para">
            There are many variations of passages of Lorem Ipsum.
          </p>
          <div class="price_single">
            <span class="reducedfrom "><del>$1.00</del>$0.70</span>

            <div class="clearfix"></div>
          </div>
          <h4 class="quick">Quick Overview:</h4>
          <p class="quick_desc">
            Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer
            possim assum. Typi non habent claritatem insitam; es
          </p>
          <div class="add-to">
            <button class="btn btn-danger my-cart-btn my-cart-btn1 " data-id="57" data-name="Scrub Sponge" data-summary="summary 57" data-price="0.70" data-quantity="1" data-image="images/bigstore/of57.png">
              Add to Cart
            </button>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
<!-- product -->
<div class="modal fade" id="myModal11" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-info">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body modal-spa">
        <div class="col-md-5 span-2">
          <div class="item">
            <img src="images/bigstore/of58.png" class="img-responsive" alt="">
          </div>
        </div>
        <div class="col-md-7 span-1 ">
          <h3>Xmas Reindeer (1 pc)</h3>
          <p class="in-para">
            There are many variations of passages of Lorem Ipsum.
          </p>
          <div class="price_single">
            <span class="reducedfrom "><del>$2.00</del>$1.00</span>

            <div class="clearfix"></div>
          </div>
          <h4 class="quick">Quick Overview:</h4>
          <p class="quick_desc">
            Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer
            possim assum. Typi non habent claritatem insitam; es
          </p>
          <div class="add-to">
            <button class="btn btn-danger my-cart-btn my-cart-btn1 " data-id="58" data-name="Xmas Reindeer" data-summary="summary 58" data-price="1.00" data-quantity="1" data-image="images/bigstore/of58.png">
              Add to Cart
            </button>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
<!-- product -->
<div class="modal fade" id="myModal12" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-info">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body modal-spa">
        <div class="col-md-5 span-2">
          <div class="item">
            <img src="images/bigstore/of59.png" class="img-responsive" alt="">
          </div>
        </div>
        <div class="col-md-7 span-1 ">
          <h3>Cleaner(1 pc)</h3>
          <p class="in-para">
            There are many variations of passages of Lorem Ipsum.
          </p>
          <div class="price_single">
            <span class="reducedfrom "><del>$4.00</del>$3.50</span>

            <div class="clearfix"></div>
          </div>
          <h4 class="quick">Quick Overview:</h4>
          <p class="quick_desc">
            Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer
            possim assum. Typi non habent claritatem insitam; es
          </p>
          <div class="add-to">
            <button class="btn btn-danger my-cart-btn my-cart-btn1 " data-id="59" data-name="Cleaner" data-summary="summary 59" data-price="3.50" data-quantity="1" data-image="images/bigstore/of59.png">
              Add to Cart
            </button>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>

</body>
</html>