<!-- banner -->
<title><%= @store.name %></title>
<div class="banner" style="background: url('<%= @store.banner_url.to_s %>') no-repeat center 0px;background-size:cover;">
  <div class="container">
    <h3>Welcome to <span><%= @store.name %></span></h3>
  </div>
</div>
<!-- //banner -->

<!-- new-products -->
<div class="new-products">
  <div class="container">
    <h3>Latest Products</h3>
    <div class="agileinfo_new_products_grids">


      <%= render "layouts/#{Layout.find(@store.layout_id).name}/product_home" %>



      <div class="clearfix"></div>
    </div>
  </div>

  <a href="<%= all_path %>" class="col-md-4 col-md-offset-4 col-xs-12 col-sm-12 btn btn-default">View More</a>
</div>
<!-- //new-products -->
<% if !@featured.nil? %>
    <% @featured.each do |category| %>
        <div class="new-products">
          <div class="container">
            <h3><%= category.name %></h3>
            <div class="agileinfo_new_products_grids">
              <% @cat_products = Product.where(active:true,category_id:category.id).limit(3).order('id desc') %>
              <% if !@cat_products.nil? %>
                  <% @cat_products.each do |product| %>
                      <%= render "layouts/#{Layout.find(@store.layout_id).name}/product_item", product: product, order_item: @order_item %>
                  <% end %>
              <% end %>
              <div class="clearfix"></div>
            </div>
          </div>

          <a href="<%= product_category_path(category.id) %>" class="col-md-4 col-md-offset-4 col-sm-12 col-xs-12 btn btn-default">View More from <%= category.name %></a>
        </div>


    <% end %>
<% end %>
