<!-- banner -->
<title><%= @store.name %></title>
<div class="banner" style="background: url('<%= @store.banner_url.to_s %>') no-repeat center 0px;background-size:cover;">
  <div class="container">
    <h3>Welcome to <span><%= @store.name %></span></h3>
  </div>
</div>
<!-- //banner -->

<!-- new-products -->
<div class="new-products text-center">
  <div class="container" style="margin-bottom:0em">
    <h3>Latest Products</h3>
    <div class="agileinfo_new_products_grids">


      <%= render "layouts/#{Layout.find(@store.layout_id).name}/product_home" %>



      <div class="clearfix"></div>
    </div>
  </div>
<div class="col-md-12 text-center" style="margin-top:0em;margin-bottom:2em">
  <a href="<%= all_path %>" class="electronic-button">View More Products</a>
</div>
</div>
<!-- //new-products -->
<% if !@featured.nil? %>
    <% @featured.each do |category| %>
        <div class="new-products">
          <div class="container" style="margin-bottom:0em">
            <h3><%= category.name %></h3>
            <div class="agileinfo_new_products_grids">
              <% @cat_products = Product.where(active:true,category_id:category.id).limit(3).order('id desc') %>
              <% if !@cat_products.nil? %>
                  <% @cat_products.each do |product| %>
                      <%= render "layouts/#{Layout.find(@store.layout_id).name}/product_item", product: product, order_item: @order_item %>
                  <% end %>
              <% end %>
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="col-md-12 text-center" style="margin-top:0em;margin-bottom:2em">
          <a href="<%= product_category_path(category.id) %>" class="electronic-button">View More from <%= category.name %></a>
          </div>
        </div>


    <% end %>
<% end %>
<div class="row" style="height:2em;background:#f3f3f3"></div>
