<!-- navigation -->
<div class="navigation">
  <div class="container">
    <nav class="navbar navbar-default" style="text-align:center">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header nav_2">
        <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
        <ul class="nav navbar-nav">
          <li><a href="<%= root_path %>" class="act myclass"><i class="fa fa-home"></i> Home</a></li>
          <li><a href="<%= about_path %>" class="myclass">About Us</a></li>
          <!-- Mega Menu -->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle myclass" data-toggle="dropdown">Products <b class="caret"></b></a>
            <ul class="dropdown-menu multi-column columns-3">
              <div class="row">
                <div class="col-sm-6">
                  <ul class="multi-column-dropdown ">
                    <li><a class="list" href="<%= all_path %>"><h4>All Products</h4></a>
                    <% @store.category.each do |c| %>
                        <% if !c.nil? %>
                            <li><a class="list" href="<%= product_category_path(c.id) %>"><h4><%= c.name %></h4></a>
                              <% @sub = c.sub_category.all %>
                              <% if !@sub.blank? %>
                                  <ul>
                                    <% @sub.each do |sub| %>
                                        <li><a class="list" href=""><%= sub.name %></a></li>
                                    <% end %>
                                  </ul>
                              <% end %>
                            </li>
                        <% end %>
                    <% end %>
                  </ul>
                </div>

                <div class="clearfix"></div>
              </div>
            </ul>
          </li>
          <li><a href="<%= contact_path %>" class="myclass">Contact Us</a></li>
        </ul>
      </div>
    </nav>
  </div>
</div>
<!-- //navigation -->
