<div class="col-md-4 agileinfo_new_products_grid" style="margin-bottom:3em">
  <div class="agile_ecommerce_tab_left agileinfo_new_products_grid1">
    <div class="hs-wrapper hs-wrapper1">
      <%= image_tag(product.image_url(:thumb).to_s, class:'text-center')  %>
      <div class="w3_hs_bottom w3_hs_bottom_sub">
        <ul>
          <li>
            <a href="<%= product_view_path(product.sku)%>" ><span class="glyphicon glyphicon-eye-open"></span></a>
          </li>
        </ul>
      </div>
    </div>
    <h5><a href="<%= product_view_path(product.sku)%>"><%= product.name %></a></h5>
    <div class="simpleCart_shelfItem">
      <p><i class="item_price"><%= number_to_currency product.price %></i></p>
        <%= form_for order_item, remote: true do |f| %>
        <%= f.hidden_field :quantity, value: 1, class: "item_quantity", min: 1 %>
        <%= f.hidden_field :product_id, value: product.id %>
        <%= f.button type:'submit', :class=> "w3ls-cart" do %>
Add to Cart
<% end %>

            <% end %>
    </div>
  </div>
</div>
