<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.11&appId=153790178720044';
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<div class="col-md-4 agileinfo_new_products_grid" style="margin-bottom:3em">
  <div class="agile_ecommerce_tab_left agileinfo_new_products_grid1" style="box-shadow: 0px 0px 15px 0px #D6D6D6;;">
    <div class="hs-wrapper hs-wrapper1 text-center">
      <%= image_tag(product.image_url(:thumb).to_s, class: 'text-center',style:'max-height:20em;width:auto;max-width:100%') %>
      <% if product.img1_url.nil? %>
          <%= image_tag(product.image_url(:thumb).to_s, class: 'text-center',style:'max-height:20em;width:auto;max-width:100%') %>
      <% else %>
          <%= image_tag(product.img1_url(:thumb).to_s, class: 'text-center',style:'max-height:20em;width:auto;max-width:100%') %>
      <% end %>

      <% if product.img2_url.nil? %>
          <%= image_tag(product.image_url(:thumb).to_s, class: 'text-center',style:'max-height:20em;width:auto;max-width:100%') %>
      <% else %>
          <%= image_tag(product.img2_url(:thumb).to_s, class: 'text-center',style:'max-height:20em;width:auto;max-width:100%') %>
      <% end %>

      <% if product.img3_url.nil? %>
          <%= image_tag(product.image_url(:thumb).to_s, class: 'text-center',style:'max-height:20em;width:auto;max-width:100%') %>
      <% else %>
          <%= image_tag(product.img3_url(:thumb).to_s, class: 'text-center',style:'max-height:20em;width:auto;max-width:100%') %>
      <% end %>
      <% if product.img4_url.nil? %>
          <%= image_tag(product.image_url(:thumb).to_s, class: 'text-center',style:'max-height:20em;width:auto;max-width:100%') %>
      <% else %>
          <%= image_tag(product.img4_url(:thumb).to_s, class: 'text-center',style:'max-height:20em;width:auto;max-width:100% ') %>
      <% end %>

      <div class="w3_hs_bottom w3_hs_bottom_sub">
        <ul>
          <li>
            <a href="<%= product_view_path(product.sku) %>"><i class="fa fa-eye"></i> View Product</a>
          </li>
        </ul>
        <div class="col-md-12 col-xs-12" style="margin-top:1em">
          <div style="margin-top:3px" class="fb-share-button col-md-6 col-xs-12" data-href="http://<%= @store.subdomain %>.kduka.co.ke/products/view/<%= product.sku %>" data-layout="button" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2F<%= @store.subdomain %>.kduka.co.ke%2Fproducts%2Fview%2F<%= product.sku %>%2F&amp;src=sdkpreparse">Share</a></div>
          <div style="margin-top:3px" class="col-md-6 col-xs-12"> <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-url="http://<%= @store.subdomain %>.kduka.co.ke/products/view/<%= product.sku %>" data-show-count="false">Tweet</a></div>
          <div id="fb-<%= product.sku %>"></div>
        </div>
      </div>
    </div>
    <h5><a style="color:<%= @store.store_color %>" class="myclass" href="<%= product_view_path(product.sku) %>"><%= product.name %></a></h5>
    <div class="simpleCart_shelfItem">

      <p>
        <i class="item_price" style="font-size: 14px;font-weight:900"><%= number_to_currency(product.price, :unit => "Ksh ", :separator => ".", :delimiter => ",") %></i>
      </p>
      <% if product.discount_status %>
          <p style="margin-top:-1em">
            <i class="item_price" style="font-size: 13px;font-weight:900;color: red;"><s><%= number_to_currency(product.discount_price, :unit => "Ksh ", :separator => ".", :delimiter => ",") %></s></i>
          </p>
      <% else %>
          <p style="margin-top:-1em">
            <br>
          </p>
      <% end %>

      <br>
      <!--<p><%= product.quantity %> Units in Stock</p>-->
      <%= form_for order_item, remote: true do |f| %>
          <%= f.hidden_field :quantity, value: 1, class: "item_quantity", min: 1 %>
          <%= f.hidden_field :product_id, value: product.id %>
          <% exist=false %>
          <% current_order.order_items.each do |oi| %>
              <% if oi.product_id == product.id %>
                  <% exist = true %>
              <% end %>
          <% end %>
          <% if product.quantity < 1 %>
              <%= f.button type: 'submit', :class => "w3ls-cart", disabled: 'disabled' do %>
                  Out of Stock!
              <% end %>
          <% else %>
              <% if !exist %>
                  <%= f.button type: 'submit', :class => "w3ls-cart", :onclick=>"KD_alert()" do %>
                      Add to Cart
                  <% end %>
              <% else %>
                  <%= f.button type: 'submit', :class => "w3ls-cart", disabled: 'disabled' do %>
                      Added!
                  <% end %>
              <% end %>
          <% end %>
      <% end %>
    </div>
  </div>
</div>
