<div class="container-fluid">
<div class="col-sm-12 col-md-10 col-md-offset-1" style="margin-bottom:4em;margin-top:4em">
  <div class="modal-body">
    <div class="col-md-5 modal_body_left">
      <%=  image_tag(@product.image_url.to_s ,'data-imagezoom':"true", class:"img-responsive", alt:"")%>
    </div>
    <div class="col-md-7 modal_body_right">
      <h4><%= @product.name%></h4>
      <p><%= @product.description%></p>

      <div class="modal_body_right_cart simpleCart_shelfItem">
        <p><i class="item_price"><%= number_to_currency(@product.price , :unit => "Ksh ", :separator => ".", :delimiter => ",") %></i></p>
      </div>
      <!---->
      <div class="clearfix"></div>
      <div class="modal_body_right_cart simpleCart_shelfItem">
      <%= form_for :order_item, :url => {controller:'order_items', action:'create'}, remote: true do |f| %>
      <div class="">
        <p class="">
          Quantity :
        </p>
        <%= f.number_field :quantity, value: 1, class: "form-control item_quantity", min: 1 %><br>
      </div>
      <div>
        <%= f.hidden_field :product_id, value: @product.id %>


        <% exist=false %>
        <% current_order.order_items.each do |oi| %>
            <% if oi.product_id == @product.id %>
                <% exist = true %>
            <% end %>
        <% end %>
        <% if !exist %>
            <%= f.button type: 'submit', :class => "w3ls-cart" do %>
                Add to Cart
            <% end %>
        <% else %>
            <%= f.button type: 'submit', :class => "w3ls-cart", disabled:'disabled' do %>
                Added!
            <% end %>
        <% end %>

      </div>
      <% end %>
    </div>
      <!---->
    </div>
    <div class="clearfix"> </div>
  </div>
</div>
</div>
