<!DOCTYPE html>
<html lang="en">
<head>
  <!-- for-mobile-apps -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="keywords" content=""/>
  <script type="application/x-javascript"> addEventListener("load", function () {
      setTimeout(hideURLbar, 0);
  }, false);
  function hideURLbar() {
      window.scrollTo(0, 1);
  } </script>
  <!-- //for-mobile-apps -->
  <% if Date.current.strftime("%B") == "December" %>
  <script src="/javascripts/snow/snowstorm.js"></script>
  <%end%>
  <!-- Custom Theme files -->
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://use.fontawesome.com/0c894d70a3.js"></script>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <% Dir.foreach("public/stylesheets/#{Layout.find(@store.layout_id).name}") do |item|
    next if item == '.' or item == '..' %>
      <%= stylesheet_link_tag "#{Layout.find(@store.layout_id).name}/#{item}" %>
  <% end %>
  <% Dir.foreach("public/javascripts/#{Layout.find(@store.layout_id).name}") do |item|
    next if item == '.' or item == '..' %>
      <%= javascript_include_tag "#{Layout.find(@store.layout_id).name}/#{item}" %>
  <% end %>


  <!-- web fonts -->
  <link href='//fonts.googleapis.com/css?family=Glegoo:400,700' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
  <!-- //web fonts -->
  <!-- start-smooth-scrolling -->
  <script type="text/javascript">
      jQuery(document).ready(function ($) {
          $(".scroll").click(function (event) {
              event.preventDefault();
              $('html,body').animate({scrollTop: $(this.hash).offset().top}, 1000);
          });
      });
  </script>
  <!-- //end-smooth-scrolling -->
  <!--Custom Colors-->
  <style>
  body{
    overflow-x: hidden !important;
  }
  <% if !@store.store_font.nil? %>
  body{
    font-family: <%= @store.store_font %> !important;
  }
  h1{
    font-family: <%= @store.store_font %> !important;
  }
  h2{
    font-family: <%= @store.store_font %> !important;
  }
  h3{
    font-family: <%= @store.store_font %> !important;
  }
  h4{
    font-family: <%= @store.store_font %> !important;
  }
  h5{
    font-family: <%= @store.store_font %> !important;
  }
  h6{
    font-family: <%= @store.store_font %> !important;
  }
  p{
    font-family: <%= @store.store_font %> !important;
  }
  a{
    font-family: <%= @store.store_font %> !important;
  }
  <% end %>

  <% if !@store.store_color.nil? %>
    .electronic-button{
      font-size: 13px;
      color: #fff;
      background: <%= @store.store_color %>;
      text-decoration: none;
      position: relative;
      border: 3px solid <%= @store.store_color %>;
      border-radius: 0;
      width: 100%;
      text-transform: uppercase;
      padding: 1em 2em;
      outline: none;
      letter-spacing: 1px;
      font-weight: 600;
      transition: all 0.5s;
    }
    .electronic-button:hover,.electronic-button:focus,.electronic-button:active{
      font-size: 13px;
      color: <%= @store.store_color %>;
      background: #fff;
      text-decoration: none;
      position: relative;
      border: 3px solid <%= @store.store_color %>;
      border-radius: 0;
      width: 100%;
      text-transform: uppercase;
      padding: 1em 2em;
      outline: none;
      letter-spacing: 1px;
      font-weight: 600;
      transition: all 0.5s;
    }
    .navbar-default .navbar-nav > li > a:focus{
      color: <%= @store.store_color %> !important;
    }
    .myclass:hover{
      color: <%= @store.store_color %> !important;
    }
    .agileits_social_button ul li a:hover,
    .agileits_social_button ul li a:focus {
      background-color: <%= @store.store_color %> !important;
    }
    .w3view-cart {
      background: <%= @store.store_color %> !important;
    }
    a.act {
      color: <%= @store.store_color %> !important;
    }
    h3.agileits-title:before {
      background: <%= @store.store_color %> !important;
    }
    .banner h3 span {
      color: <%= @store.store_color %> !important;
    }
    .w3ls-cart:hover{
      background: <%= @store.store_color %> !important;
      border: 1px solid <%= @store.store_color %> !important;
    }
    .w3_hs_bottom ul li a, .flex_ecommerce a {
      border: 1px solid <%= @store.store_color %> !important;
      background: <%= @store.store_color %> !important;
      border-radius: 4px;
      color: #fff !important;

    }
    .w3_hs_bottom ul li a:hover {
      border: 1px solid <%= @store.store_color %> !important;
      background: #fff !important;
      color: <%= @store.store_color %> !important;
      border-radius: 4px;
    }
    .navigation {
    background: #000;
    }
    .w3_footer_grid h3:after {
    background: <%= @store.store_color %> !important;
    }

    <% end %>
    .flex-control-thumbs img {
        height: 7em !important;
        width: auto !important;
     }
     @media (max-width: 640px){
        .w3view-cart {
            right: 5%;
            margin-top: -3.4em;
            width: 100px;
            height: 40px;
        }
        .my_input{

        }
      }
      .faq{
        padding-top:0em !important;
        padding-left: 1em !important;
        padding-right: 1em !important;
      }
      .our_logo{
        max-width: 150px !important;
        max-height: 100px !important;
      }
      @media (max-width:480px) {
        .our_logo{
          max-width: 150px !important;
          max-height: 100px !important;
        }
      }
      @media (max-width:720px) {
        .our_logo{
          max-width: 150px !important;
          max-height: 100px !important;
        }
      }
      @media (max-width:1080px) {
        .our_logo{
          max-width: 150px !important;
          max-height: 100px !important;
        }
      }
      .var_dis{
        border-style: dashed;
        border-width: 1px;
        border-color: <%= @store.store_color %>;
    		padding:5px 10px;
    		transition: all 0.5s;
        margin-bottom: .5em !important;
      }

  </style>
  <!--Custom Colors-->

  <% if @store.premium %>
    <!--Google Tag -->
    <%= @store.gtag.html_safe rescue nil  %>
    <!--End Google Tag-->
  <% end %>
</head>
<body>
<!-- header -->
<div class="header" id="home1">
  <div class="container">
    <div class="w3l_logo">
      <h1><a href="<%= root_path %>">

        <% if @store.logo_status %>
            <span style="text-align:left"><%= image_tag(@store.logo_url.to_s,class:"our_logo") %></span>
        <% else %>
        <span style="width:100%;margin-top:1.5em"></span>
            <%= @store.name %>

        <% end %>
        <span style="min-height:1em"><%= @store.slogan %></span></a></h1>
    </div>

    <div class="cart cart box_1">
      <!---->
      <%= link_to(cart_path) do %>
          <a style="padding-top:0.5em" class="w3view-cart" href="<%= cart_path %>"><i class="fa fa-cart-arrow-down"></i>
            <span class="cart-text" style="font-size: 1em;color: #ffffff;vertical-align: middle;"><%= render "layouts/#{Layout.find(@store.layout_id).name}/cart_text" %></span></a>
      <% end %>
      <!---->


    </div>
  </div>
</div>
<!-- //header -->
<%= render "layouts/#{Layout.find(@store.layout_id).name}/menu_shop" %>

<div style="margin-bottom: 0em;margin-top: 0em;width:100%">
  <div class="col-md-12">
    <% if !notice.nil? %>
        <div class="text-center alert alert-success" role="alert">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong><%= notice %></strong>
        </div>
    <% end %>
    <% if !alert.nil? %>
        <div class="text-center alert alert-info" role="alert">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong><%= alert %></strong>
        </div>
    <% end %>

  </div>
</div>


<%= yield %>
<!-- footer -->
<style>
  .mylink {
    color: #fff !important;
    transition: all 0.5s !important;
  }

  .mylink:hover {
    transition: all 0.5s !important;
  }

</style>
<div class="footer" style="background:#000">
  <div class="container">
    <div class="w3_footer_grids">

      <div class="col-md-4 w3_footer_grid">
        <h3 style="color:#fff">Quick Links</h3>
        <ul class="info">
          <li class="mylink"><a class="mylink myclass" href="<%= root_path %>">Home</a></li>
          <li class="mylink"><a class="mylink myclass" href="<%= about_path %>">About Us</a></li>
          <li class="mylink"><a class="mylink myclass" href="<%= contact_path %>">Contact Us</a></li>
          <li class="mylink"><a class="mylink myclass" href="<%= all_path %>">Products</a></li>
        </ul>
      </div>
      <div class="col-md-4 w3_footer_grid">
        <h3 style="color:#fff">Contact</h3>
        <ul class="address">
          <li class="mylink">
            <i style="color:#fff" class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a class="mylink myclass" href="mailto:<%= @store.display_email %>"><%= @store.display_email %></a>
          </li>
          <li style="color:#fff">
            <i style="color:#fff" class="glyphicon glyphicon-earphone" aria-hidden="true"></i><%= @store.phone %></li>
        </ul>
      </div>
      <div class="col-md-4 w3_footer_grid">
        <h3 style="color:#fff">Social Media</h3>
        <div class="agileits_social_button">
          <ul>
            <% if !@store.facebook.blank? %>
                <li style="text-align:center !important;margin-bottom:1em !important;">
                  <a target="_blank" href="<%= @store.facebook %>"><i style="padding-top:1.3em" class="fa fa-facebook"></i>
                  </a></li>
            <% end %>
            <% if !@store.twitter.blank? %>
                <li style="text-align:center !important;margin-bottom:1em !important;">
                  <a target="_blank" href="<%= @store.twitter %>"><i style="padding-top:1.3em" class="fa fa-twitter"></i>
                  </a></li>
            <% end %>
            <% if !@store.instagram.blank? %>
                <li style="text-align:center !important;margin-bottom:1em !important;">
                  <a target="_blank" href="<%= @store.instagram %>"><i style="padding-top:1.3em" class="fa fa-instagram"></i>
                  </a></li>
            <% end %>
            <% if !@store.linkedin.blank? %>
                <li style="text-align:center !important;margin-bottom:1em !important;">
                  <a target="_blank" href="http://<%= @store.linkedin %>"><i style="padding-top:1.3em" class="fa fa-linkedin"></i>
                  </a></li>
            <% end %>
            <% if !@store.youtube.blank? %>
                <li style="text-align:center !important;margin-bottom:1em !important;">
                  <a target="_blank" href="http://<%= @store.youtube %>"><i style="padding-top:1.3em" class="fa fa-youtube"></i>
                  </a></li>
            <% end %>
            <% if !@store.vimeo.blank? %>
                <li style="text-align:center !important;margin-bottom:1em !important;">
                  <a target="_blank" href="http://<%= @store.vimeo %>"><i style="padding-top:1.3em" class="fa fa-vimeo"></i>
                  </a></li>
            <% end %>
            <% if !@store.pinterest.blank? %>
                <li style="text-align:center !important;margin-bottom:1em !important;">
                  <a target="_blank" href="http://<%= @store.pinterest %>"><i style="padding-top:1.3em" class="fa fa-pinterest"></i>
                  </a></li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="footer-copy">
    <div class="footer-copy1">
      <div class="footer-copy-pos">
        <a href="#home1" class="scroll"><img src="/images/electronic/arrow.png" alt=" " class="img-responsive"/></a>
      </div>
    </div>
    <div class="container">
      <p style="color:#fff">Copyright © <%= Time.current.year %> <%= @store.name %>. All rights reserved | Powered by
        <a target="_blank" class="mylink myclass" href="http://www.kduka.co.ke/">KDuka</a></p>
    </div>
  </div>
</div>
<!-- //footer -->

<!-- cart-js -->

<script>
    w3ls.render();

    w3ls.cart.on('w3sb_checkout', function (evt) {
        var items, len, i;

        if (this.subtotal() > 0) {
            items = this.items();

            for (i = 0, len = items.length; i < len; i++) {
            }
        }
    });
</script>
<!-- //cart-js -->
<!-- Flexslider -->
<script>
						// Can also be used with $(document).ready()
							$(window).load(function() {
								$('.flexslider').flexslider({
								animation: "slide",
								controlNav: "thumbnails"
								});
							});
						</script>

<!-- Flexslider end -->
</body>
</html>
