<div class="content_bottom" style="margin-top:2em">
<p id="notice"><%= notice %></p>

<h3 style="color:#7aae42"><i class="fa fa-money"></i> Total Earnings: <%= @earnings.sum(:amount) %></h3>
<div class="col_2">
<div style="overflow-x:scroll">

<% columns = @earnings.column_names %>
<table id="earningsTable" class="table">
  <thead>
  <tr>
    <th>Store Name</th>
    <% columns.each do |c| %>
      <th><%= c %></th>
    <% end %>

  </tr>
  </thead>

  <tbody>
  <% @earnings.each do |ipn| %>
    <tr>
      <td><%= Store.find(ipn.store_id).name.humanize %></td>
      <% columns.each do |c| %>
        <td><%= ipn[c] %></td>
      <% end %>

    </tr>
  <% end %>
  </tbody>
</table>
</div>
</div>
</div>
<br>
