<p id="notice"><%= notice %></p>

<h1>Total Earnings <%= @earnings.sum(:amount) %></h1>
<% columns = @earnings.column_names %>
<table id="earningsTable" class="table">
  <thead>
  <tr>
    <th>Store Name</th>
    <% columns.each do |c| %>
      <th><%= c %></th>
    <% end %>

  </tr>
  </thead>

  <tbody>
  <% @earnings.each do |ipn| %>
    <tr>
      <td><%= Store.find(ipn.store_id).name.humanize %></td>
      <% columns.each do |c| %>
        <td><%= ipn[c] %></td>
      <% end %>

    </tr>
  <% end %>
  </tbody>
</table>

<br>

