<div class="content_bottom" style="margin-top:2em">


<h3 style="color:#7aae42"><i class="fa fa-desktop"></i> Layouts</h3>
 <div class="col-md-12 span_3">
   <div class="col_2">
      <% if !@layouts.nil? %>
          <table id="data-tables" class="table">
            <thead>
            <tr>
              <th>Name</th>
              <th>Preview</th>
              <th colspan="3"></th>
            </tr>
            </thead>
            <tbody>
            <% @layouts.each do |l| %>
                <tr>
                  <td><%= l.d_name %></td>
                  <td><%= image_tag(l.preview_url(:thumb).to_s) %></td>
                  <td><%= link_to 'Show', l %></td>
                  <td><%= link_to 'Edit', edit_layout_path(l) %></td>
                  <td><%= link_to 'Destroy', l, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
            <% end %>
            </tbody>
          </table>
      <% else %>
          <p>You have no Layouts</p>
      <% end %>
      <br>
      <%= link_to new_layout_path do %>
        <button class="kd_buttons"><i class="fa fa-plus"></i> New Layout</button>
      <%end%>
    </div>
  </div>
</div>
<div class="clearfix"></div>
