<div class="content_bottom" style="margin-top:2em">
<p id="notice"><%= notice %></p>

<h3 style="color:#7aae42"><i class="fa fa-plus"></i> Subscriptions</h3>
<div class="col_2">
<div style="overflow-x:scroll">
<% columns = @subscriptions.column_names %>
<table id="subscriptionsTable" class="table">
  <thead>
  <tr>
    <th>Store Name</th>
    <th>Next Subscription</th>
    <% columns.each do |c| %>
      <th><%= c %></th>
    <% end %>

  </tr>
  </thead>

  <tbody>
  <% @subscriptions.each do |ipn| %>
    <tr>
      <td><%= Store.find(ipn.store_id).name.humanize %></td>
      <td><%= Store.find(ipn.store_id).premiumexpiry %></td>
      <% columns.each do |c| %>
        <td><%= ipn[c] %></td>
      <% end %>

    </tr>
  <% end %>
  </tbody>
</table>
</div>
</div>
</div>

<br>
