<div class="content_bottom" style="margin-top:2em">
<p id="notice"><%= notice %></p>

<h3 style="color:#7aae42"><i class="fa fa-money"></i> Money In</h3>
<div class="col_2">
<div style="overflow-x:scroll">

<% columns = @transactions.column_names %>
<table id="transactionsTable" class="table">
  <thead>
  <tr>
    <th>Store Name</th>
    <% columns.each do |c| %>
      <th><%= c %></th>
    <% end %>
    <th>Transaction Status</th>
  </tr>
  </thead>

  <tbody>
  <% @transactions.each do |ipn| %>
    <tr>
      <td><%= Store.find(ipn.store_id).name.humanize %></td>
      <% columns.each do |c| %>
        <td><%=  ipn[c] %></td>
      <% end %>
      <th><%= TransactionStatus.find(ipn.transaction_status_id).status.humanize %></th>
    </tr>
  <% end %>
  </tbody>
</table>
</div>
</div>
</div>

<br>
