<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>
<div class="content_bottom" style="margin-top:2em">

  <h3 style="color:#7aae42"><i class="fa fa-bar-chart"></i> Domain Settings</h3>
  <div class="xs">
    <div class="tab-content">
      <div class="tab-pane active" id="horizontal-form">
        <%= form_for :store, :url => {controller:'admins', action:'own_domain'}, method:'put' do |f|%>
          <div class="form-group">
            <label for="facebook" class="col-sm-2 control-label">Current Domain</label>
            <div class="col-sm-8">
              <pre> <%= @store.c_subdomain %>.<%= @store.domain %></pre>
            </div>
            <div class="col-sm-2">
              <a class="help-block"><span data-toggle="tooltip" data-placement="bottom" title="Your current domain">Help?</span></a>
            </div>
          </div><div class="col-md-12" style="height:1em"></div>

          <div class="form-group">
            <label for="facebook" class="col-sm-2 control-label">Use Own Domain</label>
            <div class="col-sm-8">
              <%= f.check_box :own_domain, id:'own_domain' %>
            </div>
            <div class="col-sm-2">
              <a class="help-block"><span data-toggle="tooltip" data-placement="bottom" title="Tick if user will use custom domain">Help?</span></a>
            </div>
          </div>
          <div class="col-md-12" style="height:1em"></div>

          <div class="form-group">
            <label for="facebook" class="col-sm-2 control-label">Subdomain</label>
            <div class="col-sm-8">
              <%= f.text_area :c_subdomain, class:'form-control1', id:'domain',placeholder:'Your custom subdomain' %>
            </div>
            <div class="col-sm-2">
              <a class="help-block"><span data-toggle="tooltip" data-placement="bottom" title="Your custom subdomain">Help?</span></a>
            </div>
          </div>
          <div class="col-md-12" style="height:1em"></div>

          <div class="form-group">
            <label for="facebook" class="col-sm-2 control-label">Domain</label>
            <div class="col-sm-8">
              <%= f.text_area :domain, class:'form-control1', id:'subdomain',placeholder:'Your Top Level Domain name' %>
            </div>
            <div class="col-sm-2">
              <a class="help-block"><span data-toggle="tooltip" data-placement="bottom" title="Your Top Level Domain name">Help?</span></a>
            </div>
          </div>
          <div class="col-md-12" style="height:1em"></div>

          <div class="form-group">
            <label for="checkbox" class="col-sm-2 control-label"></label>
            <div class="col-sm-8">
              <button type="sumbit" class="kd_buttons"><i class="fa fa-save"></i> Save Domain Details</button>
            </div>
          </div>
        <%end%>
      </div>
    </div>

  </div>

  <div class="clearfix"> </div>

<h3 style="color:#7aae42"><i class="fa fa-list"></i> Categories</h3>
 <div class="col-md-12 span_3">
   <div class="col_2">

      <% if !@categories.blank? %>
        <table id="myTable" class="table">
          <thead>
          <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Price</th>
          </tr>
          </thead>
          <tbody>
          <% num = 1 %>
          <% @categories.each do |category| %>
            <tr>
              <td><%= num %>
              <td><%= category.name %></td>
              <td><%= category.active %></td>

            </tr>
            <% num = num+1 %>
          <% end %>
          </tbody>
        </table>

      <% else %>

        <p>This Store Has No Categories</p>

      <% end %>

    </div>
  </div>
</div>

<div class="content_bottom" style="margin-top:2em">


<h3 style="color:#7aae42"><i class="fa fa-gift"></i> Products</h3>
 <div class="col-md-12 span_3">
   <div class="col_2">

      <% if !@products.blank? %>
        <table id="data-tables" class="table">
          <thead>
          <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Active</th>
            <th>Category</th>
          </tr>
          </thead>
          <tbody>
          <% @products.each do |p| %>
            <tr>
              <% if p.quantity < 1 %>
                <td><%= p.name %>
                  <a data-toggle="tooltip" data-placement="right" title="You have run out of stock for this item"><span class="label label-danger">Out of Stock</span></a>
                </td>
              <% elsif p.quantity < 10 %>
                <td><%= p.name %>
                  <a data-toggle="tooltip" data-placement="right" title="Your current stock is running low"><span class="label label-warning">Low</span></a>
                </td>
              <% else %>
                <td><%= p.name %></td>
              <% end %>
              <td><%= p.quantity %></td>
              <td><%= p.price %></td>
              <td><%= p.active %></td>
              <td><%= Category.find(p.category_id).name rescue nil %></td>
              <td><%= link_to "Show", store_product_path(p.store_id, p), style: "color:#06B216;text-decoration: none;" %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>

      <% else %>

        <p>This Store has no Products</p>

      <% end %>
    </div>
  </div>
</div>
<div class="clearfix"></div>
