<% @transactions = Transaction.where(store_id:current_store.id).limit(10).order('created_at desc') %>
<h1>History</h1>
<table id="myTable" class="table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Account</th>
    <th>Type</th>
    <th>Amount</th>
    <th>Reference</th>
  </tr>
  </thead>
  <tbody>
  <% @transactions.each do |p| %>
      <tr>

        <td><%= p.name %></td>
        <td><%= p.account %></td>
        <td><%= p.trans_type %></td>
        <td><%= p.amount %></td>
        <td><%= p.ref %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<br>
<p><button class="btn btn-primary" >View Full History</button></p>