<div class="skil">
<div class="row">
  <div class="container-fluid">
    <% if !@important.blank? %>
        <div style="margin-top:1em" class="alert alert-danger">
          <h2> Hello, you need to setup the following before you can activate your store </h2>
          <% @important.each do |k, m| %>
              <p><%= "#{k}. " %><%= m.html_safe %></p>
          <% end %>
        </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="container-fluid">
    <% if can_be_active %>
        <div style="margin-top:1em" class="alert alert-danger">
          <a style='font-weight:bold;text-decoration:none;' href='<%= stores_active_path %>'>1. Activate your Store!</a>
        </div>
    <% end %>
  </div>
</div>


<div class="container-fluid">
  <% if @store.active == false %>
      <h3 style="text-align:center"> Click the Button Below to Activate your store </h3>
      <%= form_for :store, :url => {controller: 'stores', action: 'activate'} do |f| %>
          <% if @store.important == false  %>
              <p style="text-align:center"><%= f.submit 'Activate Store', class: 'btn btn-lg btn-success', disabled: 'disabled' %></p>
          <% else %>
              <p style="text-align:center"><%= f.submit 'Activate Store', class: 'btn btn-lg btn-success' %></p>
          <% end %>
      <% end %>
  <% else %>
      <h3 style="text-align:center"> Click the Button Below to De-Activate your store </h3>
      <%= form_for :store, :url => {controller: 'stores', action: 'deactivate'} do |f| %>
          <p style="text-align:center"><%= f.submit 'Deactivate Store', class: 'btn btn-lg btn-danger' %>
      <% end %>
  <% end %>
</div>
</div>
