<% if @status %>
$("#client_name_b2c").val("");
$("#client_account_b2c").val("");
$("#amount_b2c").val("");

$(".conditions_b2c").html("<%= escape_javascript(render "stores/charges") %>");
$(".conditions_till").html("<%= escape_javascript(render "stores/charges") %>");
$(".conditions_pay").html("<%= escape_javascript(render "stores/charges") %>");
$(".conditions_eft").html("<%= escape_javascript(render "stores/charges") %>");
$(".history").html("<%= escape_javascript(render "stores/history") %>");
$(".balance").html("<%= escape_javascript(render "stores/balance") %>");
$(".trans_messages").html("<p style='color:green'> Transaction Successful! </p>");
$("#b2c").removeAttr("disabled");
$(".b2c_text").html("Transfer Funds");
<% else %>
$(".trans_messages").html("<p style='color:red'> Transaction Failed! Something went wrong </p>");
$("#b2c").removeAttr("disabled");
$(".b2c_text").html("Transfer Funds");
<% end %>