<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCxt8jyVF7hpNm2gxCjRMvzFt69pgvVYmk">
</script>
<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>
<style>
  #fixed-div {
    position: fixed;
    top: 1em;
    right: 1em;
  }
</style>
<div class="skil">
  <div class="col-md-12">
    <% if !@important.blank? %>
        <div style="margin-top:1em;font-family:'Roboto', sans-serif;border-radius: 0px !important;" class="alert alert-warning">
          <h3> You need to setup the following before you can activate your store </h3>
          <% @important.each do |k, m| %>
              <p><%= "#{k}. " %><%= m.html_safe %></p>
          <% end %>
        </div>
    <% end %>
  </div>
  <div class="col-md-12">
    <% if can_be_active %>
        <div style="margin-top:1em;border-radius: 0px !important;" class="alert alert-success">
          <a style='text-decoration:none;' href='<%= stores_active_path %>'>1. Activate your
            Store!</a>
        </div>
    <% end %>
  </div>
  <br>
  <h1 style="text-align:center">Delivery Settings</h1><br>
  <h3 style="text-align:center;font-weight: bold">Select <span style="color: #06B216;">AT LEAST</span> one option below</h3><br>
  <div id="fixed-div"></div>
  <%= form_for :store, :url => {controller: 'stores', action: 'update_delivery'}, method: 'put' do |f| %>

<br>
      <span style="color: green">Option for having your client collect their goods from a certain collection point</span>
      <br>
      <div class="form-group">
        <%= f.label "Enable Collection Point",style:'font-weight:900' %>
        <%= f.check_box :collection_point_status, id: 'collectswitch' %>
        <a data-toggle="tooltip" data-placement="right" title="If you check this clients will be able to collect their goods from a certain collection point that you will specify"><span><i style="color: #b52e31" class="fa fa-question-circle"></i> <span style="color: #b52e31">Help?</span></span></a>
      </div>

      <div class="form-group">
        <%= f.label "Drop Point for Goods collection" %>
        <% if (@store.collection_point_status == false) %>
            <%= f.text_area :collection_point, class: 'form-control collect', id: 'thedrop', disabled: "disabled" %>

        <% else %>
            <%= f.text_area :collection_point, class: 'form-control collect', id: 'thedrop' %>
            <a data-toggle="tooltip" data-placement="right" title="This will be your drop point"><span><i style="color: #b52e31" class="fa fa-question-circle"></i> <span style="color: #b52e31">Help?</span></span></a>
        <% end %>
      </div>

      <br><br>
      <span style="color: green">You can set your own locations and their shipping prices for your clients</span>
      <br>
      <div class="form-group">
        <%= f.label "Enable Manual Delivery",style:'font-weight:900' %>
        <%= f.check_box :manual_delivery_status, id: 'manualswitch' %>
        <a data-toggle="tooltip" data-placement="right" title="If you check this clients will be able to collect their goods from a certain collection points that you will specify. You can add a collection point and its corresponding shipping price"><span><i style="color: #b52e31" class="fa fa-question-circle"></i> <span style="color: #b52e31">Help?</span></span></a>
      </div>

      <div class="form-group">
        <%= f.label "Type any instructions you want to give to the client" %>
        <% if (@store.manual_delivery_status == false) %>
            <%= f.text_area :manual_delivery_instructions, class: 'form-control manual', id: 'thedrop', disabled: "disabled" %>

        <% else %>
            <%= f.text_area :manual_delivery_instructions, class: 'form-control manual', id: 'thedrop' %>
        <% end %>
      </div>

      <div class="form-group" style="background-color: whitesmoke;border-radius: 1px;">
        <%= f.label "Add a Delivery Location" %>
        <%= text_area_tag(:delivery_option, nil, id: 'del_opt', class: 'manual form-control') %><br>
        <%= f.label "Price" %>
        <%= text_field_tag(:delivery_price, nil, id: 'del_price', type: 'number', class: 'manual form-control') %>
        <a data-toggle="tooltip" data-placement="right" title="Cost to deliver to the specified location"><span><i style="color: #b52e31" class="fa fa-question-circle"></i> <span style="color: #b52e31">Help?</span></span></a>
        <span class="del_opt_err"></span>
        <br><br><br>
        <p>
          <button class="btn btn-info" id="add-delivery" value="">Add Option</button>
        </p>
        <div style="margin-top: 2em; margin-bottom: 1em;" class="manual del_opts"><%= render "store_deliveries/locations" %></div>
      </div>

      <br>

      <div class="form-group">
        <%= f.label "Enable Automatic Delivery Services" %>
        <%= f.check_box :auto_delivery_status, id: 'deliveryswitch' %>
        <a data-toggle="tooltip" data-placement="right" title="If you check this you will be able to use third party delivery services to deliver products to your clients"><span><i style="color: #b52e31" class="fa fa-question-circle"></i> <span style="color: #b52e31">Help?</span></span></a>
      </div>
      <span style="color: green">
      <p>To use this option, <a href="https://sendyit.com/" target="_blank"> Create an account at  SendyIt</a> to get a Username and Password. This option enables third party delivery.</p>
      <p>Your Users will be able to search for locations and we'll pace the delivery for you. Always ensure you have a good standing balance in order for your clients to place orders.</p>
      <p>Client will pay for the given quotation when completing an Order.</p></span>
      <br>




      <div class="form-group">
        <%= f.label "Type pickup point for goods (This is where the goods will be picked from)" %>

        <% if (@store.auto_delivery_status == false) %>
            <input class="form-control locate" type="text" disabled id="locate" onkeyup="locate();" >
            <p>
            <div id="suggesstion-box"></div>
            </p>
        <% else %>
            <input class="form-control locate" type="text" id="locate" onkeyup="locate();" >
            <a data-toggle="tooltip" data-placement="right" title="Location from which the goods will be picked from for them to be delivered to your clients"><span><i style="color: #b52e31" class="fa fa-question-circle"></i> <span style="color: #b52e31">Help?</span></span></a>
            <p>
            <div id="suggesstion-box"></div>
            </p>
        <% end %>
      </div>

      <div class="form-group">
        <%= f.label "Selected pick up Location (Business or Warehouse location)" %>
        <%= f.text_field :auto_delivery_location, class: 'form-control locate', id:'sel_loc', disabled: 'disabled',style:"background-color:white;border-style: none !important;color:#06B216 !important;font-weight: bold;" %>
      </div>

      <div class="form-group">
        <%= f.label "Sendy Username" %>

        <% if (@store.auto_delivery_status == false) %>
            <%= f.text_field :sendy_username, class: 'form-control', id:'sendyuser', disabled: 'disabled', class: 'locate form-control' %>
        <% else %>
            <%= f.text_field :sendy_username, class: 'form-control', id:'sendyuser', class: 'locate form-control' %>
            <a data-toggle="tooltip" data-placement="right" title="Your Sendy username after registering at www.sendyit.com"><span><i style="color: #b52e31" class="fa fa-question-circle"></i> <span style="color: #b52e31">Help?</span></span></a>
        <% end %>
      </div>

      <div class="form-group">
        <%= f.label "Sendy Key" %>

        <% if (@store.auto_delivery_status == false) %>
            <%= f.text_field :sendy_key, class: 'form-control', id:'sendykey', disabled: 'disabled', class: 'locate form-control' %>
        <% else %>
            <%= f.text_field :sendy_key, class: 'form-control', id:'sendykey', class: 'locate form-control' %>
            <a data-toggle="tooltip" data-placement="right" title="Your Sendy key given to you after registering at www.sendyit.com"><span><i style="color: #b52e31" class="fa fa-question-circle"></i> <span style="color: #b52e31">Help?</span></span></a>
        <% end %>
      </div>
      <br>
      <div class="status alert alert-success" hidden></div>
      <div class="error alert alert-danger" hidden></div>
      <input id="verify" type="button" class="btn btn-primary" value="Verify and Save Sendy Credentials" >

      <div class="form-group">
        <%= f.hidden_field :lat, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.hidden_field :lng, class: 'form-control' %>
      </div>
      <br><br>
      <p style="text-align:center"><%= f.submit 'Save Delivery Settings', class: 'btn btn-success btn-lg' %>
  <% end %>

  <div id="map"></div>
</div>

<script>

    $(function () {
        $('#locate').on('keyup', function () {

            setTimeout(function () {
                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 8,
                    center: {lat: -34.397, lng: 150.644}
                });
                var geocoder = new google.maps.Geocoder();

                geocodeAddress(geocoder, map);

            }, 1000);
        });
    });

    function geocodeAddress(geocoder, resultsMap) {

        var address = document.getElementById('locate').value;
        geocoder.geocode({
            'address': address, componentRestrictions: {
                country: 'KE'
            }
        }, function (results, status) {

            if (status === 'OK') {

                var string = "";
                //console.log(results);
                results.forEach(function (entry) {

                    if (String(entry['formatted_address']) == 'Kenya') {
                        string = "<p>No Location Found. Try different Search Words</p>"
                    } else {
                        string = string + '<p style="background-color: whitesmoke;border-style: solid;border-color: #06B216;font-weight: bold;" onclick=\'selectlocation("' + String(entry['formatted_address']) + '");\'>' + String(entry['formatted_address']) + '</p>';
                    }


                });
                $('#suggesstion-box').show();
                $('#suggesstion-box').html(string);
                //console.log(string);
                // resultsMap.setCenter(results[0].geometry.location);
                // var marker = new google.maps.Marker({
                //   map: resultsMap,
                //   position: results[0].geometry.location
                // });
            } else {
                $('#suggesstion-box').html("Not Found, Try different search words");
            }
        });
    }

    function selectlocation(val) {

        $("#locate").val('');
        $("#sel_loc").val(val);
        $("#suggesstion-box").hide();
        $.ajax({
            type: 'POST',
            url: 'https://maps.googleapis.com/maps/api/geocode/json?address=' + val + '&key=AIzaSyCxt8jyVF7hpNm2gxCjRMvzFt69pgvVYmk',
            success: function (result) {
                results = result['results'];
                //console.log(result);

                var latitude = results[0]['geometry']['location']['lat'];
                var longitude = results[0]['geometry']['location']['lng'];

                $("#store_lat").val(latitude);
                $("#store_lng").val(longitude);
            },

        });
    }


</script>
