<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCxt8jyVF7hpNm2gxCjRMvzFt69pgvVYmk">
</script>

<style>
  #fixed-div {
    position: fixed;
    top: 1em;
    right: 1em;
  }
</style>
<div class="skil">
  <br><h1 style="text-align:center">Delivery Settings</h1><br>
<div id="fixed-div"></div>
  <%= form_for :store, :url => {controller: 'stores', action: 'update_delivery'}, method: 'put' do |f| %>

      <div class="form-group">
        <%= f.label "Enable Automatic Delivery Services" %>
        <%= f.check_box :auto_delivery_status, id: 'deliveryswitch' %>
      </div>

      <div class="form-group">
        <%= f.label "Set pickup point for goods (Automatic Delivery Services)" %>

        <% if (@store.auto_delivery_status == false) %>
            <%= f.text_field :auto_delivery_location, class: 'form-control locate', id: 'locate', disabled: 'disabled',onkeyup:"locate();" %>
        <% else %>
            <%= f.text_field :auto_delivery_location, class: 'form-control locate', id: 'locate'  %>
            <p><div id="suggesstion-box"></div></p>
        <% end %>
      </div>

      <div class="form-group">
        <%= f.label "Sendy Username" %>

        <% if (@store.auto_delivery_status == false) %>
            <%= f.text_field :sendy_username, class: 'form-control', id: 'locate', disabled: 'disabled', class:'locate form-control' %>
        <% else %>
            <%= f.text_field :sendy_username, class: 'form-control', id: 'locate', class:'locate form-control' %>
        <% end %>
      </div>

      <div class="form-group">
        <%= f.label "Sendy Key" %>

        <% if (@store.auto_delivery_status == false) %>
            <%= f.text_field :sendy_key, class: 'form-control', id: 'locate', disabled: 'disabled', class:'locate form-control' %>
        <% else %>
            <%= f.text_field :sendy_key, class: 'form-control', id: 'locate', class:'locate form-control' %>
        <% end %>
      </div>

      <div class="form-group">
        <%= f.label "Enable Collection Point" %>
        <%= f.check_box :collection_point_status, id: 'collectswitch' %>
      </div>

      <div class="form-group">
        <%= f.label "Drop Point for Goods collection" %>
        <% if (@store.collection_point_status == false) %>
            <%= f.text_area :collection_point, class: 'form-control collect', id: 'thedrop', disabled: "disabled" %>

        <% else %>
            <%= f.text_area :collection_point, class: 'form-control collect', id: 'thedrop' %>
        <% end %>
      </div>


      <div class="form-group">
        <%= f.label "Enable Manual Delivery" %>
        <%= f.check_box :manual_delivery_status, id: 'manualswitch' %>
      </div>

      <div class="form-group">
        <%= f.label "Manual Delivery Instruction to Client" %>
        <% if (@store.manual_delivery_status == false) %>
            <%= f.text_area :manual_delivery_instructions, class: 'form-control manual', id: 'thedrop', disabled: "disabled" %>

        <% else %>
            <%= f.text_area :manual_delivery_instructions, class: 'form-control manual', id: 'thedrop' %>
        <% end %>
      </div>

      <div class="form-group" style="background-color: whitesmoke;border-radius: 1px;" >
        <%= f.label "Add a Delivery Option" %>
        <%= text_area_tag(:delivery_option,nil,id:'del_opt',class:'manual form-control') %>
        <%= f.label "Price" %>
        <%= text_field_tag(:delivery_price,nil, id: 'del_price', type:'number',class:'manual form-control') %>
        <span class="del_opt_err"></span>
      <br>
        <p>
        <button class="btn btn-info" id="add-delivery" value="">Add Option</button>
        </p>
        <div style="margin-top: 2em; margin-bottom: 1em;" class="manual del_opts"><%= render "store_deliveries/locations" %></div>
      </div>

      <div class="form-group">
        <%= f.hidden_field :lat, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.hidden_field :lng, class: 'form-control' %>
      </div>
      <br><br>
      <p style="text-align:center"><%= f.submit 'Save Delivery Settings', class: 'btn btn-primary btn-lg' %>
  <% end %>

<div id="map"></div>
</div>

<script>

    $(function () {
        $('#locate').on('keyup', function () {

            setTimeout(function () {
                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 8,
                    center: {lat: -34.397, lng: 150.644}
                });
                var geocoder = new google.maps.Geocoder();

                geocodeAddress(geocoder, map);

            }, 1000);
        });
    });

    function geocodeAddress(geocoder, resultsMap) {

        var address = document.getElementById('locate').value;
        geocoder.geocode({
            'address': address, componentRestrictions: {
                country: 'KE'
            }
        }, function (results, status) {

            if (status === 'OK') {

                var string = "";
                console.log(results);
                results.forEach(function (entry) {

                    if (String(entry['formatted_address']) == 'Kenya') {
                        string = "<p>No Location Found. Try different Search Words</p>"
                    } else {
                        string = string + '<p onclick=\'selectlocation("' + String(entry['formatted_address']) + '");\'>' + String(entry['formatted_address']) + '</p>';
                    }


                });
                $('#suggesstion-box').show();
                $('#suggesstion-box').html(string);
                console.log(string);
                // resultsMap.setCenter(results[0].geometry.location);
                // var marker = new google.maps.Marker({
                //   map: resultsMap,
                //   position: results[0].geometry.location
                // });
            } else {
                $('#suggesstion-box').html("Not Found, Try different search words");
            }
        });
    }

    function selectlocation(val) {

        $("#locate").val(val);
        $("#suggesstion-box").hide();
        $.ajax({
            type: 'POST',
            url: 'https://maps.googleapis.com/maps/api/geocode/json?address=' + val + '&key=AIzaSyCxt8jyVF7hpNm2gxCjRMvzFt69pgvVYmk',
            success: function (result) {
                results = result['results'];
                console.log(result);

                var latitude = results[0]['geometry']['location']['lat'];
                var longitude = results[0]['geometry']['location']['lng'];

                $("#store_lat").val(latitude);
                $("#store_lng").val(longitude);
            },

        });
    }


</script>
