  <script>
  $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();
  });
  </script>
<div class="content_bottom" style="margin-top:2em">

<h3 style="color:#7aae42"><i class="fa fa-edit"></i> Edit Store Settings</h3>
<div class="xs">
      <div class="tab-content">
     <div class="tab-pane active" id="horizontal-form">
       <%= form_for :store, :url => {controller: 'stores', action: 'update_store'}, method: 'put' do |f| %>
         <div class="form-group">
           <label for="storename" class="col-sm-2 control-label">Store Name</label>
           <div class="col-sm-8">
             <%= f.text_area :name, class: 'form-control1',required:'required',id:'storename',placeholder:'Name' %>
           </div>
           <div class="col-sm-2">
             <a class="help-block"><span data-toggle="tooltip" data-placement="bottom" title="This is your Store's name">Help?</span></a>
           </div>
         </div>
         <div class="col-md-12" style="height:1em"></div>
         <div class="form-group">
           <label for="store_url" class="col-sm-2 control-label">Store Url</label>
           <div class="col-sm-8">
             <p style="font-size:12px">If you enter "john" we will automatically create john.kduka.co.ke for you.</p>
             <%= f.text_field :subdomain, class: 'form-control1', placeholder: 'Url',required:'required',id:'url_edit', val:@store.subdomain, minlength:3 %>
             <p class="text-center" style="font-size:10px;color: green;font-weight:bold" id="url_prev"><%= "http://#{@store.subdomain}.kduka.co.ke" %></p>
           </div>
           <div class="col-sm-2">
             <a class="help-block"><span data-toggle="tooltip" data-placement="bottom" title='This is the link you will give your clients to access your store. If you enter "john" we will automatically create john.kduka.co.ke for you'>Help?</span></a>
           </div>
         </div>
         <div class="col-md-12" style="height:1em"></div>
         <div class="form-group">
           <label for="store_slogan" class="col-sm-2 control-label">Store Slogan</label>
           <div class="col-sm-8">
             <%= f.text_area :slogan, class: 'form-control1',id:'store_slogan', placeholder:'Store Slogan' %>
           </div>
           <div class="col-sm-2">
             <a class="help-block"><span data-toggle="tooltip" data-placement="bottom" title="This is your store's slogan">Help?</span></a>
           </div>
         </div>
         <div class="col-md-12" style="height:1em"></div>
         <div class="form-group">
           <label for="use_logo" class="col-sm-2 control-label">Use Logo</label>
           <div class="col-sm-8">
             <div class="checkbox-inline"><%= f.check_box :logo_status,id:'use_logo' %> <label for="use_logo">Check this to Use your own Logo</label></div>
           </div>
           <div class="col-sm-2">
             <a class="help-block"><span data-toggle="tooltip" data-placement="bottom" title="If you check this, you'll be able to use your logo in your store in place of your store name">Help?</span></a>
           </div>
         </div>
         <div class="col-md-12" style="height:1em"></div>
         <div class="form-group">
           <label for="logo_pic" class="col-sm-2 control-label">Logo Image</label>
           <div class="col-sm-8">
             <%= f.file_field :logo, autofocus: true, class:'form-control1',id:'logo_pic' %>
           </div>
           <div class="col-sm-2">
             <a class="help-block"><span data-toggle="tooltip" data-placement="bottom" title="Select the logo which you want to upload to your store">Help?</span></a>
           </div>
         </div>
         <div class="col-md-10 col-md-offset-2">
           <%= f.label "Preview Logo" %><br />
           <%= image_tag(@store.logo_url(:thumb).to_s) %>
         </div>
         <div class="col-md-12" style="height:1em"></div>
         <div class="form-group">
           <label for="display_email" class="col-sm-2 control-label">Display Email</label>
           <div class="col-sm-8">
             <p style="font-size:12px">The email clients can contact you with</p>
             <%= f.text_field :display_email, class: 'form-control1', placeholder:'Display Email', id:'display_email' %>
           </div>
           <div class="col-sm-2">
             <a class="help-block"><span data-toggle="tooltip" data-placement="bottom" title="This is the email that will be accessible to your clients when they visit your store">Help?</span></a>
           </div>
         </div>
         <div class="col-md-12" style="height:1em"></div>
         <div class="form-group">
           <label for="phone" class="col-sm-2 control-label">Phone</label>
           <div class="col-sm-8">
             <p style="font-size:12px">The number clients can contact you with</p>
             <%= f.text_field :phone, class: 'form-control1', placeholder:'Phone',id:'phone' %>
           </div>
           <div class="col-sm-2">
             <a class="help-block"><span data-toggle="tooltip" data-placement="bottom" title="This is the phone number that will be accessible to your clients when they visit your store">Help?</span></a>
           </div>
         </div>
         <div class="col-md-12" style="height:1em"></div>
         <div class="form-group">
           <label for="location" class="col-sm-2 control-label">Business Location</label>
           <div class="col-sm-8">
             <p style="font-size:12px">Where your Business is Located</p>
             <%= f.text_area :business_location, class: 'form-control1', placeholder:'Business Location',id:'location' %>
           </div>
           <div class="col-sm-2">
             <a class="help-block"><span data-toggle="tooltip" data-placement="bottom" title="This is your business location">Help?</span></a>
           </div>
         </div>
         <div class="col-md-12" style="height:1em"></div>

         <div class="form-group">
           <label for="checkbox" class="col-sm-2 control-label"></label>
           <div class="col-sm-8">
             <button id="changebtn" disabled style="background-color:grey;color:#000;border-color: grey;" type="submit" class="kd_buttons"><i class="fa fa-save"></i> Save Store Settings</button>
             <button type="reset" class="kd_reset"><i class="fa fa-refresh"></i> Load Prefilled</button>
           </div>
         </div>
       <%end%>
     </div>
   </div>

</div>

<div class="clearfix"> </div>
  </div>
