<div class="skil">
  <br><h1 style="text-align:center">Store Settings</h1><br>
  <%= form_for :store, :url => {controller: 'stores', action: 'update_store'}, method: 'put' do |f| %>

      <div class="form-group">
        <%= f.label "Store Name" %>
        <%= f.text_area :name, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label "Store URL" %>
        <p>If you enter "john" we will automatically create john.kduka.co.ke for you.</p>
        <%= f.text_field :subdomain, class: 'form-control', placeholder: 'john' %>
      </div>


      <div class="form-group">
        <%= f.label "Slogan" %>
        <%= f.text_area :slogan, class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label "Use Logo" %><br />
        <%= f.check_box :logo_status %>
      </div>

      <div class="field">
        <%= f.label "Upload Logo" %><br />
        <%= f.file_field :logo, autofocus: true, class:'form-control' %>
      </div>

      <div class="field">
        <%= f.label "Preview Logo" %><br />
        <%= image_tag(@store.logo_url(:thumb).to_s) %>
      </div>

      <div class="form-group">
        <%= f.label "Display Email" %>
        <p>The email clients can contact you with</p>
        <%= f.text_field :display_email, class: 'form-control' %>
      </div>


      <div class="form-group">
        <%= f.label "Phone" %>
        <p>The number clients can contact you with</p>
        <%= f.text_field :phone, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label "Business Location" %>
        <p>Where are you located</p>
        <%= f.text_area :business_location, class: 'form-control' %>
      </div><br><br>

      <p style="text-align:center"><%= f.submit 'Save Store Settings', class: 'btn btn-success btn-lg' %>
  <% end %>
</div>
