<% if @status %>
$("#client_name_eft").val("");
$("#client_account_eft").val("");
$("#amount_eft").val("");
$(".trans_messages_eft").html("<p style='color:green'> Transaction Successful! </p>");
$(".history").html("<%= escape_javascript(render "stores/history") %>");
$(".balance").html("<%= escape_javascript(render "stores/balance") %>");
$(".conditions_b2c").html("<%= escape_javascript(render "stores/charges") %>");
$(".conditions_till").html("<%= escape_javascript(render "stores/charges") %>");
$(".conditions_pay").html("<%= escape_javascript(render "stores/charges") %>");
$(".conditions_eft").html("<%= escape_javascript(render "stores/charges") %>");
$("#eft").removeAttr("disabled");
$(".eft_text").html("Transfer Funds");
<% else %>
$(".trans_messages").html("<p style='color:red'> Transaction Failed! Something went wrong </p>");
$("#eft").removeAttr("disabled");
$(".eft_text").html("Transfer Funds");
<% end %>