<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>

<div class="content_bottom" style="margin-top:2em">

<h3 style="color:#7aae42"><i class="fa fa-money"></i> Funds</h3>
  <div class="balance">
    <%= render 'balance' %>
  </div>
 <div class="col-md-12 span_3"><br>
   <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#b2c_mpesa" style="color:#7aae42">M-PESA</a></li>
      <li><a data-toggle="tab" href="#b2c_airtel" style="color:#7aae42">Airtel Money</a></li>
      <li><a data-toggle="tab" href="#b2b_paybill_tab" style="color:#7aae42">Paybill</a></li>
      <li><a data-toggle="tab" href="#b2b_till_tab" style="color:#7aae42">Till Number</a></li>
<!--      <li><a data-toggle="tab" href="#b2b_eft" style="color:#7aae42">Bank</a></li>-->
    </ul>

    <div class="tab-content">
      <div id="b2c_mpesa" class="tab-pane fade in active">
        <h3>M-PESA</h3>
        <%= form_tag('') do%>

        <div class="form-group">
          <label for="client_account_b2c" class="col-sm-2 control-label">Recepient's Phone Number</label>
          <div class="col-sm-8">
            <input type="text" id="client_account_b2c_mpesa" onchange="b2c_mpesa_val();val_phone2()" class="form-control1" placeholder="254xxxxxxxxx"/>
            <div id="phone_prev"></div>
          </div>
          <div class="col-sm-2">
            <a class="help-block"><span data-toggle="tooltip" data-placement="bottom" title="This is the phone number of the person receiving the money">Help?</span></a>
          </div>
        </div>
        <div class="col-md-12" style="margin-top:1em"></div>
        <div class="form-group">
          <label for="amount_b2c_mpesa" class="col-sm-2 control-label">Amount</label>
          <div class="col-sm-8">
            <input type="number" id="amount_b2c_mpesa" onchange="set_bal('b2c_mpesa');" onkeyup="set_max('b2c_mpesa');b2c_mpesa_val();check_num('b2c_mpesa')" class="form-control1" placeholder="Amount" min="0" />
            <div id="amount_prev_b2c_mpesa"></div>
          </div>
          <div class="col-sm-2">
            <a class="help-block"><span data-toggle="tooltip" data-placement="bottom" title="This is the amount (kenya shillings) that will be transferred">Help?</span></a>
          </div>
        </div>
        <div class="col-md-12" style="margin-top:1em"></div>

        <div class="form-group">
          <div class="col-sm-10 col-sm-offset-2">
            <button id="ib2c_mpesa" disabled style="background-color: grey;color: white"  type="submit" class="kd_buttons"><span class="b2c_mpesa_text"><i class="fa fa-arrow-right"></i> Transfer Funds</span></button>
          </div>
        </div>
        <div class="col-md-12" style="margin-top:1em"></div>
        <%end%>
        <div class="conditions_b2c_mpesa">
          <%= render 'charges' %>
        </div>
      </div>

      <div id="b2c_airtel" class="tab-pane fade in">
        <h3>Airtel MOney</h3>
        <%= form_tag('') do%>

          <div class="form-group">
            <label for="client_account_b2c" class="col-sm-2 control-label">Recepient's Phone Number</label>
            <div class="col-sm-8">
              <input type="text" id="client_account_b2c_airtel" onchange="b2c_airtel_val();val_phone2()" class="form-control1" placeholder="254xxxxxxxxx"/>
              <div id="phone_prev"></div>
            </div>
            <div class="col-sm-2">
              <a class="help-block"><span data-toggle="tooltip" data-placement="bottom" title="This is the phone number of the person receiving the money">Help?</span></a>
            </div>
          </div>
          <div class="col-md-12" style="margin-top:1em"></div>
          <div class="form-group">
            <label for="amount_b2c_airtel" class="col-sm-2 control-label">Amount</label>
            <div class="col-sm-8">
              <input type="number" id="amount_b2c_airtel" onchange="set_bal('b2c_airtel');" onkeyup="set_max('b2c_airtel');b2c_airtel_val();check_num('b2c_airtel')" class="form-control1" placeholder="Amount" min="0" />
              <div id="amount_prev_b2c_airtel"></div>
            </div>
            <div class="col-sm-2">
              <a class="help-block"><span data-toggle="tooltip" data-placement="bottom" title="This is the amount (kenya shillings) that will be transferred">Help?</span></a>
            </div>
          </div>
          <div class="col-md-12" style="margin-top:1em"></div>

          <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
              <button id="ib2c_airtel" disabled style="background-color: grey;color: white"  type="submit" class="kd_buttons"><span class="b2c_airtel_text"><i class="fa fa-arrow-right"></i> Transfer Funds</span></button>
            </div>
          </div>
          <div class="col-md-12" style="margin-top:1em"></div>
        <%end%>
        <div class="conditions_b2c_airtel">
          <%= render 'charges' %>
        </div>
      </div>

      <div id="b2b_paybill_tab" class="tab-pane fade">
        <h3>Paybill</h3>
        <%= form_tag('') do%>
        <div class="form-group">
          <label for="account_name_b2b_paybill" class="col-sm-2 control-label">Account Name</label>
          <div class="col-sm-8">
            <input id="account_name_b2b_paybill" onchange="b2b_paybill_val()" type="text" name="client_name" class="form-control1" placeholder="Account Name"/>
          </div>
          <div class="col-sm-2">
            <a class="help-block"><span data-toggle="tooltip" data-placement="bottom" title="This is the name of the person/company receiving the money">Help?</span></a>
          </div>
        </div>
        <div class="col-md-12" style="margin-top:1em"></div>
        <div class="form-group">
          <label for="account_number_b2b_paybill" class="col-sm-2 control-label">Paybill Number</label>
          <div class="col-sm-8">
            <input id="account_number_b2b_paybill" type="text" onchange="b2b_paybill_val();val_b2b_paybill()"  name="client_account"  class="form-control1" placeholder="Paybill Number"/>
            <div class="acc_prev_b2b_paybill"></div>
          </div>
          <div class="col-sm-2">
            <a class="help-block"><span data-toggle="tooltip" data-placement="bottom" title="This is the Paybill Number of the person/company receiving the money">Help?</span></a>
          </div>
        </div>
        <div class="col-md-12" style="margin-top:1em"></div>
        <div class="form-group">
          <label for="amount_b2b_paybill" class="col-sm-2 control-label">Amount</label>
          <div class="col-sm-8">
            <input  type="number" id="amount_b2b_paybill" onchange="b2b_paybill_val();set_bal_b2b('b2b_paybill')" onkeyup="set_max('b2b_paybill');check_num('b2b_paybill')" class="form-control1" placeholder="Amount" />
            <div id="amount_prev_b2b_paybill"></div>
          </div>
          <div class="col-sm-2">
            <a class="help-block"><span data-toggle="tooltip" data-placement="bottom" title="This is the amount (kenya shillings) that will be transferred">Help?</span></a>
          </div>
        </div>
        <div class="col-md-12" style="margin-top:1em"></div>

        <div class="form-group">
          <div class="col-sm-10 col-sm-offset-2">
            <button id="b2b_paybill" disabled style="background-color: grey;color: white" type="sumbit" class="kd_buttons"><span class="b2b_paybill_text"><i class="fa fa-arrow-right"></i> Transfer Funds</span></button>
          </div>
        </div>
        <div class="col-md-12" style="margin-top:1em"></div>
        <%end%>
        <div class="conditions_b2b_paybill">
          <%= render 'charges' %>
        </div>
      </div>

      <div id="b2b_till_tab" class="tab-pane fade">
        <h3>Till Number</h3>
        <%= form_tag('') do%>
          <div class="form-group">
            <label for="account_name_b2b_till" class="col-sm-2 control-label">Account Name</label>
            <div class="col-sm-8">
              <input id="account_name_b2b_till" onchange="b2b_till_val()" type="text" name="client_name" class="form-control1" placeholder="Account Name"/>
            </div>
            <div class="col-sm-2">
              <a class="help-block"><span data-toggle="tooltip" data-placement="bottom" title="This is the name of the person/company receiving the money">Help?</span></a>
            </div>
          </div>
          <div class="col-md-12" style="margin-top:1em"></div>
          <div class="form-group">
            <label for="account_number_b2b_till" class="col-sm-2 control-label">Till Number</label>
            <div class="col-sm-8">
              <input id="account_number_b2b_till" type="text" onchange="b2b_till_val();val_b2b_till()"  name="client_account"  class="form-control1" placeholder="Till Number"/>
              <div class="acc_prev_b2b_till"></div>
            </div>
            <div class="col-sm-2">
              <a class="help-block"><span data-toggle="tooltip" data-placement="bottom" title="This is the Till Number of the person/company receiving the money">Help?</span></a>
            </div>
          </div>
          <div class="col-md-12" style="margin-top:1em"></div>
          <div class="form-group">
            <label for="amount_b2b_till" class="col-sm-2 control-label">Amount</label>
            <div class="col-sm-8">
              <input  type="number" id="amount_b2b_till" onchange="b2b_till_val();set_bal_b2b('b2b_till')" onkeyup="set_max('b2b_till');check_num('b2b_till')" class="form-control1" placeholder="Amount" />
              <div id="amount_prev_b2b_till"></div>
            </div>
            <div class="col-sm-2">
              <a class="help-block"><span data-toggle="tooltip" data-placement="bottom" title="This is the amount (kenya shillings) that will be transferred">Help?</span></a>
            </div>
          </div>
          <div class="col-md-12" style="margin-top:1em"></div>

          <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
              <button id="b2b_till" disabled style="background-color: grey;color: white" type="sumbit" class="kd_buttons"><span class="b2b_till_text"><i class="fa fa-arrow-right"></i> Transfer Funds</span></button>
            </div>
          </div>
          <div class="col-md-12" style="margin-top:1em"></div>
        <%end%>
        <div class="conditions_b2b_till">
          <%= render 'charges' %>
        </div>
      </div>


<!--      <div id="b2b_eft" class="tab-pane fade">
        <h3>Bank Account</h3>
        <%#= form_tag('') do%>
        <div class="form-group">
          <label for="client_name_eft" class="col-sm-2 control-label">Recepient's Name</label>
          <div class="col-sm-8">
            <input type="text" id="client_name_eft" onchange="eft_val()" class="form-control1" placeholder="Recepient's Name"/>
          </div>
          <div class="col-sm-2">
            <a class="help-block"><span data-toggle="tooltip" data-placement="bottom" title="This is the name of the person/company receiving the money">Help?</span></a>
          </div>
        </div>
        <div class="col-md-12" style="margin-top:1em"></div>
        <div class="form-group">
          <label for="bank_code" class="col-sm-2 control-label">Bank Code</label>
          <div class="col-sm-8">
            <input type="text" id="bank_code" onchange="eft_val();val_eft2()"  class="form-control1" placeholder="Bank Code"/>
            <div class="code_acc_prev"></div>
          </div>
          <div class="col-sm-2">
            <a class="help-block"><span data-toggle="tooltip" data-placement="bottom" title="This is the bank code of the person/company receiving the money">Help?</span></a>
          </div>
        </div>
        <div class="col-md-12" style="margin-top:1em"></div>
        <div class="form-group">
          <label for="client_account_eft" class="col-sm-2 control-label">Account Number</label>
          <div class="col-sm-8">
            <input type="text" id="client_account_eft" onchange="eft_val();val_eft()" class="form-control1" placeholder="Account Number" />
            <div class="eft_acc_prev"></div>
          </div>
          <div class="col-sm-2">
            <a class="help-block"><span data-toggle="tooltip" data-placement="bottom" title="This is the Account Number of the person/company receiving the money">Help?</span></a>
          </div>
        </div>
        <div class="col-md-12" style="margin-top:1em"></div>
        <div class="form-group">
          <label for="amount_eft" class="col-sm-2 control-label">Amount</label>
          <div class="col-sm-8">
            <input type="text" id="amount_eft" onchange="eft_val();set_bal('eft')" onkeyup="set_max('eft');check_num('eft')" class="form-control1" placeholder="Amount" />
            <div id="amount_prev_eft"></div>
          </div>
          <div class="col-sm-2">
            <a class="help-block"><span data-toggle="tooltip" data-placement="bottom" title="This is the amount (kenya shillings) that will be transferred">Help?</span></a>
          </div>
        </div>
        <div class="col-md-12" style="margin-top:1em"></div>

        <div class="form-group">
          <div class="col-sm-10 col-sm-offset-2">
            <button id="eft" disabled type="sumbit" class="kd_buttons"><span class="eft_text"><i class="fa fa-arrow-right"></i> Transfer Funds</span></button>
          </div>
        </div>
        <div class="col-md-12" style="margin-top:1em"></div>
          <div class="conditions_eft">
            <%#= render 'charges' %>
          </div>
        <%#end%>
      </div>-->

    </div>


    <div class="clearfix"></div><br><br>
   <div class="history">
    <%= render 'history' %>
   </div>


 </div>

<div class="clearfix"> </div>
  </div>
