<div class="row">
<div class="col-md-6 col-md-offset-3">
  <h1>Account Balance : Ksh <%= StoreAmount.where(store_id:current_store.id).first.amount %></h1>
</div>
</div>
<br><br>
<div class="row">
<ul class="nav nav-tabs">
  <li><a data-toggle="tab" href="#menu1">Mobile Number</a></li>
  <li><a data-toggle="tab" href="#menu2">Paybill</a></li>
  <li><a data-toggle="tab" href="#menu3">Till Number</a></li>
  <li><a data-toggle="tab" href="#menu4">Bank Account</a></li>
</ul>

<div class="tab-content">
  <div style="margin-bottom: 3em;padding-top: 2em"  id="menu1" class="col-md-offset-3 col-md-6 tab-pane fade in active">
    <h3>Mobile Number</h3>
    <p>Enter the following details</p>
    <br><br>
    <%= form_tag('') do%>
        <div class="form-group">
          <label>Recepient's Name</label>
          <input type="text" id="client_name" class="form-control"/>
        </div>

        <div class="form-group">
          <label>Recepient's Phone Number</label>
          <input type="text" id="client_account" class="form-control" placeholder="254xxxxxxxxx"/>
        </div>

        <div class="form-group">
          <label>Amount</label>
          <input type="text" id="amount" class="form-control" />
        </div>

        <button id="b2c" class="btn btn-success">Transfer Funds</button>
    <% end %>
  </div>
  <div style="margin-bottom: 3em;padding-top: 2em"  id="menu2" class="col-md-offset-3 col-md-6 tab-pane fade">
    <h3>Paybill</h3>
    <p>Enter the following details</p>
    <br><br>
    <%= form_tag('') do%>
        <div class="form-group">
          <label>Recepients Name</label>
          <input id="client_name_pay" type="text" name="client_name" class="form-control"/>
        </div>

        <div class="form-group">
          <label>Paybill Number</label>
          <input id="client_account_pay" type="text" name="client_account" class="form-control"/>
        </div>

        <div class="form-group">
          <label>Amount</label>
          <input  type="text" id="amount_pay" class="form-control" />
        </div>

        <button id="b2bpay" class="btn btn-success">Transfer Funds</button>
    <% end %>
  </div>
  <div style="margin-bottom: 3em;padding-top: 2em"  id="menu3" class="col-md-offset-3 col-md-6 tab-pane fade">
    <h3>Till NUmber</h3>
    <p>Enter the following details</p>
    <br><br>
    <%= form_tag('') do%>
        <div class="form-group">
          <label>Recepients Name</label>
          <input id="client_name_till" type="text" name="client_name" class="form-control"/>
        </div>

        <div class="form-group">
          <label>Till Number</label>
          <input id="client_account_till" type="text" name="client_account" class="form-control"/>
        </div>

        <div class="form-group">
          <label>Amount</label>
          <input  type="text" id="amount_till" class="form-control" />
        </div>

        <button id="b2btill" class="btn btn-success">Transfer Funds</button>
    <% end %>
  </div>
  <div style="margin-bottom: 3em;padding-top: 2em"  id="menu4" class="col-md-offset-3 col-md-6 tab-pane fade">
    <h3>Bank Account</h3>
    <p>Enter the following details</p>
    <br><br>
    <%= form_tag('') do%>
        <div class="form-group">
          <label>Recepients Name</label>
          <input type="text" id="client_name_eft" class="form-control"/>
        </div>

        <div class="form-group">
          <label>Bank Code</label>
          <input type="text" id="bank_code" class="form-control"/>
        </div>

        <div class="form-group">
          <label>Account Number</label>
          <input type="text" id="client_account_eft" class="form-control" />
        </div>

        <div class="form-group">
          <label>Amount</label>
          <input type="text" id="amount_eft" class="form-control" />
        </div>

        <button id="eft" class="btn btn-success">Transfer Funds</button>
    <% end %>
  </div>
</div>
</div>
<div class="row">
  <div class="history col-md-12">
<%= render 'history' %>
  </div>
</div>