<div class="row">
<div class="col-md-6 col-md-offset-3">
  <h1><span class="balance"><%= render 'balance' %></span></h1>
</div>
</div>
<br><br>
<div class="row">
<ul class="nav nav-tabs">
  <li><a data-toggle="tab" href="#mobile" active>Mobile Number</a></li>
<!--  <li ><a data-toggle="tab" href="#paybill">Paybill</a></li>
  <li><a data-toggle="tab" href="#till">Till Number</a></li>
  <li><a data-toggle="tab" href="#bank">Bank Account</a></li>-->
</ul>

<div class="tab-content">

  <div style="margin-bottom: 3em;padding-top: 2em"  id="mobile" class="col-md-offset-3 col-md-6 tab-pane fade in active">
    <h3>Mobile Number</h3>
    <p>Enter the following details</p>
    <br><br>
    <%= form_tag('') do%>
        <div class="form-group">
          <label>Recepient's Name</label>
          <input type="text" id="client_name_b2c" onchange="b2c_val();" class="form-control"/>
        </div>
        <div class="form-group">
          <label>Recepient's Phone Number</label>
          <input type="text" id="client_account_b2c" onchange="b2c_val();val_phone2()" class="form-control" placeholder="254xxxxxxxxx"/>
          <div id="phone_prev"></div>
        </div>

        <div class="form-group">
          <label>Amount</label>
          <input type="text" id="amount_b2c" onchange="b2c_val();set_bal('b2c');" onkeyup="set_max('b2c');check_num('b2c')" class="form-control" />
          <div id="amount_prev_b2c"></div>
        </div>

        <button id="b2c" disabled class="btn btn-success"><span class="b2c_text">Transfer Funds</span></button>

    <% end %>
    <br>
    <span class="trans_messages"></span>
    <br>
    <div class="conditions_b2c">
      <%= render 'charges' %>
    </div>
  </div>
<!--  <div style="margin-bottom: 3em;padding-top: 2em"  id="paybill" class="col-md-offset-3 col-md-6 tab-pane fade">
    <h3>Paybill</h3>
    <p>Enter the following details</p>
    <br><br>
    <%= form_tag('') do%>
        <div class="form-group">
          <label>Recepients Name</label>
          <input id="client_name_pay" onchange="b2bpay_val()" type="text" name="client_name" class="form-control"/>
        </div>

        <div class="form-group">
          <label>Paybill Number</label>
          <input id="client_account_pay" type="text" onchange="b2bpay_val();val_b2bpay()"  name="client_account"  class="form-control"/>
          <div class="pay_acc_prev"></div>
        </div>

        <div class="form-group">
          <label>Amount</label>
          <input  type="number" id="amount_pay" onchange="b2bpay_val();set_bal('pay')" onkeyup="set_max('pay');check_num('pay')" class="form-control" />
          <div id="amount_prev_pay"></div>
        </div>

        <button id="b2bpay" disabled class="btn btn-success"><span class="b2bpay_text">Transfer Funds</span></button>
    <% end %>
    <br>
    <span class="trans_messages_pay"></span>
    <br>
    <div class="conditions_pay">
      <%= render 'charges' %>
    </div>
  </div>
  <div style="margin-bottom: 3em;padding-top: 2em"  id="till" class="col-md-offset-3 col-md-6 tab-pane fade">
    <h3>Till Number</h3>
    <p>Enter the following details</p>
    <br><br>
    <%= form_tag('') do%>
        <div class="form-group">
          <label>Recepients Name</label>
          <input id="client_name_till" type="text" onchange="b2btill_val()" name="client_name" class="form-control"/>
        </div>

        <div class="form-group">
          <label>Till Number</label>
          <input id="client_account_till" type="text" onchange="b2btill_val();val_b2btill()" name="client_account" class="form-control"/>
          <div class="till_acc_prev"></div>
        </div>

        <div class="form-group">
          <label>Amount</label>
          <input  type="text" onchange="b2btill_val();set_bal('till')" onkeyup="set_max('till');check_num('till')" id="amount_till" class="form-control" />
          <div id="amount_prev_till"></div>
        </div>

        <button id="b2btill" disabled class="btn btn-success"><span class="b2btill_text">Transfer Funds</span></button>
    <% end %>
    <br>
    <span class="trans_messages_till"></span>
    <br>
    <div class="conditions_till">
      <%= render 'charges' %>
    </div>
  </div>
  <div style="margin-bottom: 3em;padding-top: 2em"  id="bank" class="col-md-offset-3 col-md-6 tab-pane fade">
    <h3>Bank Account</h3>
    <p>Enter the following details</p>
    <br><br>
    <%= form_tag('') do%>
        <div class="form-group">
          <label>Recepients Name</label>
          <input type="text" id="client_name_eft" onchange="eft_val()" class="form-control"/>
        </div>

        <div class="form-group">
          <label>Bank Code</label>
          <input type="text" id="bank_code" onchange="eft_val();val_eft2()"  class="form-control"/>
          <div class="code_acc_prev"></div>
        </div>

        <div class="form-group">
          <label>Account Number</label>
          <input type="text" id="client_account_eft" onchange="eft_val();val_eft()" class="form-control" />
          <div class="eft_acc_prev"></div>
        </div>

        <div class="form-group">
          <label>Amount</label>
          <input type="text" id="amount_eft" onchange="eft_val();set_bal('eft')" onkeyup="set_max('eft');check_num('eft')" class="form-control" />
          <div id="amount_prev_eft"></div>
        </div>

        <button id="eft" disabled class="btn btn-success"><span class="eft_text">Transfer Funds</span></button>
    <% end %>
    <br>
    <span class="trans_messages_eft"></span>
    <br>
    <div class="conditions_eft">
      <%= render 'charges' %>
    </div>
  </div>-->
</div>
</div>
<div class="row">
  <div class="history col-md-12">
<%= render 'history' %>
  </div>
</div>