<p id="notice"><%= notice %></p>

<h1>Stores</h1>

<br>
<table class="table">
  <thead>
  <tr>
   <td></td>
  </tr>
  </thead>
  <tbody>
  <% @stores.each do |store| %>
      <tr>
        <td><%= store.name %>  </td>
        <td><%= link_to 'Show', store %> | <%= link_to 'Edit', edit_store_path(store) %> | <%= link_to 'Destroy', store, method: :delete, data: { confirm: 'Are you sure?' } %> | <%= link_to 'Shop', store_products_path(store), :title => 'Visit ' + store.name %></td>
      </tr>
  <% end %>
  <tr>
    <td><%= link_to 'New Store', new_store_registration_path, :class => "btn btn-primary" %></td>
  </tr>
  </tbody>
</table>
