<div class="skil">
<div class="catalog">
  <div id="tabs" class="tabs">
    <div class="graph">
  <nav>
			<ul>
				<li class="tab-current"><a href="#section-1"><span>Choose Layout</span></a></li>
				<li><a href="#section-2"><span>Choose Layout Color</span></a></li>
			</ul>
	</nav>
  <div class="content tab">
<section id="section-1" class="content-current">
<div class="row">
  <%= form_for :store, :url => {controller: 'stores', action: 'update_layout'}, method: 'put' do |f| %>
      <% @layouts.each do |l| %>
          <div style="margin-top:1em" class="col-md-4 text-center">

            <div style="min-height: 200px;border-style: solid;border-color:#b52e31;margin:3px;background:url('<%= l.preview_url(:thumb).to_s %>');background-size: contain"></div>
            <label>
              <% if l.id == @store.layout_id %>
                  <input name="layout" type="radio" value="<%= l.id %>" checked> <%= l.d_name %>
              <% else %>
                  <input name="layout" type="radio" value="<%= l.id %>"> <%= l.d_name %>
              <% end %>
            </label>
          </div>
      <% end %>
      <br><br>
    </div>
    </section>
    <section id="section-2">
      <div class="row">
          <p></p>
          <div class="form-group">
            Store Color
            <%= f.text_field :store_color, :class => 'form-control colorpicker' %>
          </div>
          <br>
          <div id="clrbx" style="height:250px;width:250px;padding:1em;border-style:solid;border-color:<%= @store.store_color %>;background-color:<%= @store.store_color %>" class="backcolor"></div>
          <br><br>
        </div>
        </section>
      </div>

          <p style="text-align:center"><%= f.submit 'Save Layout Details', class: 'btn btn-primary btn-lg' %></p>
  <% end %>
</div>
</div>
</div>
<script>
			new CBPFWTabs( document.getElementById( 'tabs' ) );
</script>
</div>
