<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:order="urn:schemas-microsoft-com:office:office"
          xmlns:x="urn:schemas-microsoft-com:office:excel"
          xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Name</Data></Cell>
        <Cell><Data ss:Type="String">Phone</Data></Cell>
        <Cell><Data ss:Type="String">Email</Data></Cell>
        <Cell><Data ss:Type="String">REF ID</Data></Cell>
        <Cell><Data ss:Type="String">Status</Data></Cell>
        <Cell><Data ss:Type="String">Subtotal</Data></Cell>
        <Cell><Data ss:Type="String">Tax</Data></Cell>
        <Cell><Data ss:Type="String">Shipping</Data></Cell>
        <Cell><Data ss:Type="String">Total</Data></Cell>
        <Cell><Data ss:Type="String">Amount Received</Data></Cell>
        <Cell><Data ss:Type="String">Coupon</Data></Cell>
        <Cell><Data ss:Type="String">Discount</Data></Cell>
        <Cell><Data ss:Type="String">Placed On</Data></Cell>
        <Cell><Data ss:Type="String">Shipped On</Data></Cell>
        <Cell><Data ss:Type="String">Completed On</Data></Cell>
        <Cell><Data ss:Type="String">Delivery Type</Data></Cell>
        <Cell><Data ss:Type="String">Sendy Delivery ID</Data></Cell>

        <Cell><Data ss:Type="String">Discount</Data></Cell>
      </Row>
      <% @orders.each do |order| %>
          <Row>
            <Cell><Data ss:Type="String"><%= order.name %></Data></Cell>
            <Cell><Data ss:Type="String"><%= order.phone %></Data></Cell>
            <Cell><Data ss:Type="String"><%= order.email %></Data></Cell>
            <Cell><Data ss:Type="String"><%= order.ref %></Data></Cell>
            <Cell><Data ss:Type="String"><%= order.status %></Data></Cell>
            <Cell><Data ss:Type="String"><%= order.subtotal %></Data></Cell>
            <Cell><Data ss:Type="String"><%= order.tax %></Data></Cell>
            <Cell><Data ss:Type="String"><%= order.shipping %></Data></Cell>
            <Cell><Data ss:Type="String"><%= order.total %></Data></Cell>
            <Cell><Data ss:Type="String"><%= order.amount_received %></Data></Cell>
            <Cell><Data ss:Type="String"><%= order.coupon %></Data></Cell>
            <Cell><Data ss:Type="String"><%= order.discount %></Data></Cell>
            <Cell><Data ss:Type="String"><%= order.date_placed.strftime("%Y-%m-%d %H:%M") rescue nil%></Data></Cell>
            <Cell><Data ss:Type="String"><%= order.ship_date.strftime("%Y-%m-%d %H:%M") rescue nil%></Data></Cell>
            <Cell><Data ss:Type="String"><%= order.complete_date.strftime("%Y-%m-%d %H:%M") rescue nil%></Data></Cell>
            <Cell><Data ss:Type="String"><%= order.delivery_type %></Data></Cell>
            <Cell><Data ss:Type="String"><%= order.delivery_order %></Data></Cell>
          </Row>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>