<p id="notice">
	<%= notice %>
</p>

<p>
	<strong>Total Orders : <%= @order.count %></strong>
</p>

<% if !@order.blank? %>
<table id="myTable" class="table">
	<thead>
		<tr>
			<th>Order Status</th>
			<th>Reference</th>
			<th>Subtotal</th>
			<th>Tax</th>
			<th>Shipping</th>
			<th>Total</th>
			<th>Number of Transactions</th>
			<th>Amount Received</th>

		</tr>
	</thead>
	<tbody>
		<% @order.each do |p| %>
		<tr>
			<td><%= OrderStatus.find(p.order_status_id).name rescue nil %></td>
			<td><%= p.ref %></td>
			<td><%= p.subtotal %></td>
			<td><%= p.tax %></td>
			<td><%= p.shipping %></td>
			<td><%= p.total %></td>
			<td><%= p.number_of_transactions %></td>
			<td><%= p.amount_received %></td>
		</tr>
		<% end %>
	</tbody>
</table>

<% else %>

<p>
	You dont have any Orders yet.
</p>

<% end %>
