<div class="skil">
  <%= form_for :store, :url => {controller: 'stores', action: 'update_pages'}, method: 'put' do |f| %>

      <div class="form-group">
        <%= f.label "Home Page Enabled" %>
        <%= f.check_box :homepage_status, id: 'homepageswitch' %>
      </div>

      <div class="form-group">
        Banner Image
        <%= f.file_field :banner, class:'form-control' %>
      </div>

      <div class="form-group">
        <%= image_tag(@store.banner_url(:thumb).to_s) %>
      </div>


      <div class="form-group">
        <%= f.label "About Page Enabled" %>
        <%= f.check_box :aboutpage_status, id: 'aboutpageswitch' %>
      </div>

      <div class="form-group">
        <%= f.label "About Page Text" %>

        <% if (@store.aboutpage_status == false) %>
            <%= f.text_area :aboutpage_text, class: 'form-control aboutswitch textarea', id: 'aboutpage_text', disabled: 'disabled' %>
        <% else %>
            <%= f.text_area :aboutpage_text, class: 'form-control aboutswitch textarea', id: 'aboutpage_text'  %>
        <% end %>
      </div>




      <p style="text-align:center"><%= f.submit 'Save Pages', class: 'btn btn-primary btn-lg' %>
  <% end %>
</div>
