<p id="notice"><%= notice %></p>
<p><strong>Total Products : <%= @product.count %></strong></p>
<p><strong>Active : <%= @store.active %></strong></p>

<% if !@product.blank? %>
<table class="table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Active</th>
  </tr>
  </thead>
  <tbody>
  <% @product.each do |p| %>
  <tr>
    <td><%= p.name %></td>
    <td><%= p.price %></td>
    <td><%= p.active %></td>
  </tr>
  <% end %>
  </tbody>
</table>

    <% else %>

    <p>You dont have any Products in this store yet</p>

    <% end %>


<%= link_to 'New Product', new_store_product_path(@store) %> |
<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path %>
