<!--cart-items-->
<div style="padding:2em !important" class="cart-items">
  <div class="container-fluid">
    <div class="cart-header2 wow fadeInUp animated" data-wow-delay=".9s">
      <div class="alert-close2"> </div>
      <%= form_for order_item, remote: true do |f| %>
      <div class="cart-sec simpleCart_shelfItem">
        <div class="cart-item cyc">
            <!-- <img src="images/g9.jpg" class="img-responsive" alt=""> -->
            <%= image_tag(product.image_url(:thumb).to_s, class:'text-center')  %>
        </div>
        <div class="cart-item-info">
          <h4><span style="color:#000;font-size:2em;font-weight:700"><%= product.name %></span><br><span>Unit Price : <%= number_to_currency(product.price , :unit => "Ksh ", :separator => ".", :delimiter => ",") %></span><span>Total Price : <%= number_to_currency(order_item.total_price , :unit => "Ksh ", :separator => ".", :delimiter => ",") %></span></h4><br/>
          <div class="qty">
            <%= f.number_field :quantity, value: order_item.quantity.to_i, class: "form-control", min: 1,max:product.quantity %>
            <%= f.hidden_field :product_id, value: product.id %>
          </div>
          <div class="delivery">

              <%= f.submit "Update Quantity", class: "btn btn-default col-md-3 col-sm-12", style: "margin-right:1em;margin-bottom:1em" %>
              <%= link_to "Remove Item", order_item, { data: { confirm: "Are you sure you wish to delete the product '#{order_item.product.name}' from your cart?" }, method: :delete, remote: true, class: "btn btn-danger col-md-3 col-sm-12" } %>

            <div class="clearfix"></div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div><br>
      <% end %>
    </div>
  </div>
</div>
<!--//cart-items-->
