<div class="top-nav navbar navbar-default"><!--header-three-->
  <div class="container">
    <nav class="navbar" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <!--navbar-header-->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav top-nav-info">
          <% if @store.homepage_status == true %>
              <li><a href="<%= root_path %>" class="active"><i class="fa fa-home"></i> Home</a></li>
          <% end %>
          <% if @store.aboutpage_status == true %>
              <li><a href="<%= about_path %>" class="">About</a></li>
          <% end %>
          <li class="dropdown my-dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span>Products</span><b class="caret"></b></a>
            <ul class="dropdown-menu multi-column multi-column1">
              <div class="row">
                <div class="col-sm-4 menu-grids menulist1">
                  <!-- <h4>Bath & Care</h4> -->
                  <ul class="multi-column-dropdown ">
                    <li><a class="list" href="<%= all_path %>"><h4>ALL PRODUCTS</h4></a>
                    <% @store.category.where(active:true).each do |c| %>
                        <% if !c.nil? %>
                            <li><a class="list" href="<%= product_category_path(c.id) %>"><h4><%= c.name %></h4></a></li>
                        <% end %>
                    <% end %>
                  </ul>

                </div>
                <div class="clearfix"></div>
              </div>
            </ul>
          </li>
          <li><a href="<%= contact_path %>" class="">Contact Us</a></li>
          <li><a href="#" data-toggle="modal" data-target="#mysearch"><i class="fa fa-search"></i></a></li>
          <!-- Modal -->
          <div id="mysearch" class="modal fade" role="dialog">
            <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
                <form action="#">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title text-center">Enter Your Search Below</h4>
                </div>
                <div class="modal-body">
                  <input class="form-control text-center" type="text" name="search" placeholder="Enter Keywords...." required=""><br>
                  <input style="width:100%;background:<%= @store.store_color %>" type="submit" value="Search" class="btn btn-primary">
                </div>
              </form>
              </div>

            </div>
          </div>
          <!-- /Modal -->
        </ul>
        <div class="clearfix"></div>
        <!--//navbar-collapse-->

      </div>
      <!--//navbar-header-->
    </nav>

  </div>
</div>
