<div class="top-nav navbar navbar-default"><!--header-three-->
  <div class="container">
    <nav class="navbar" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <!--navbar-header-->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav top-nav-info">
          <% if @store.homepage_status == true %>
              <li><a href="<%= root_path %>" class="active"><i class="fa fa-home"></i> Home</a></li>
          <% end %>
          <% if @store.aboutpage_status == true %>
              <li><a href="<%= about_path %>" class="">About</a></li>
          <% end %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Products<b class="caret"></b></a>
            <ul class="dropdown-menu multi-column multi-column1">
              <div class="row">
                <div class="col-sm-4 menu-grids menulist1">
                  <!-- <h4>Bath & Care</h4> -->
                  <ul class="multi-column-dropdown ">
                    <li><a class="list" href="<%= all_path %>"><h4>ALL PRODUCTS</h4></a>
                    <% @store.category.where(active:true).each do |c| %>
                        <% if !c.nil? %>
                            <li><a class="list" href="<%= product_category_path(c.id) %>"><h4><%= c.name %></h4></a></li>
                        <% end %>
                    <% end %>
                  </ul>

                </div>
                <div class="clearfix"></div>
              </div>
            </ul>
          </li>
          <li><a href="<%= contact_path %>" class="">Contact Us</a></li>
        </ul>
        <div class="clearfix"></div>
        <!--//navbar-collapse-->

      </div>
      <!--//navbar-header-->
    </nav>

  </div>
</div>
