<script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.11&appId=153790178720044';
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<div class="col-md-4 col-xs-12">
  <div style="width:100% !important" class="product-grids simpleCart_shelfItem wow fadeInUp animated" data-wow-delay=".5s">
    <div class="new-top text-center">
      <!--<img src="images/g1.jpg" class="img-responsive" alt=""/></a>-->
      <%= image_tag(product.image_url(:thumb).to_s, class: 'text-center', style: 'max-height:20em;width:auto') %>
      <div class="new-text">
        <ul>
          <li><a href="<%= product_view_path(product.sku) %>" class="mylink"><i class="fa fa-eye"></i> Quick View </a>
          </li>
          <%= form_for order_item, remote: true do |f| %>
            <li><%= f.number_field :quantity, value: 1, class: "item_quantity", min: 1, max: product.quantity %></li>
            <%= f.hidden_field :product_id, value: product.id %>

            <% exist = false %>
            <% current_order.order_items.each do |oi| %>
              <% if oi.product_id == product.id %>
                <% exist = true %>
              <% end %>
            <% end %>

            <% if product.quantity < 1 %>
              <li><%= f.submit "Out of Stock", :class => "form-control item_add", style: 'color:red', disabled: 'disabled' %></li>
            <% else %>
              <% if !exist %>
                <li> <%= f.submit "Add to Cart", :class => "form-control item_add" %>
              <% else %>
                <li><%= f.submit "Added", :class => "form-control item_add", disabled: 'disabled' %></li>
              <% end %>
            <% end %>
          <% end %><br><br>

        </ul>
        <div style="margin-bottom:0em;width:100%;background:#fff !important">
          <% if @store.own_domain %>
            <div style="margin-top:3px" class="fb-share-button col-md-6 col-xs-12" data-href="http://<%= "#{@store.c_subdomain}.#{@store.domain}" %>/products/view/<%= product.sku %>" data-layout="button" data-size="large" data-mobile-iframe="true">
              <a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2F<%= "#{@store.c_subdomain}.#{@store.domain}" %>%2Fproducts%2Fview%2F<%= product.sku %>%2F&amp;src=sdkpreparse">Share</a>
            </div>
          <% else %>
            <div style="margin-top:3px" class="fb-share-button col-md-6 col-xs-12" data-href="http://<%= @store.subdomain %>.kduka.co.ke/products/view/<%= product.sku %>" data-layout="button" data-size="large" data-mobile-iframe="true">
              <a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2F<%= @store.subdomain %>.kduka.co.ke%2Fproducts%2Fview%2F<%= product.sku %>%2F&amp;src=sdkpreparse">Share</a>
            </div>
          <% end %>
          <div style="margin-top:3px" class="col-md-6 col-xs-12">
            <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-url="http://<%= "#{@store.c_subdomain}.#{@store.domain}" %>/products/view/<%= product.sku %>" data-show-count="false" style="border: 1px solid #fff !important;">Tweet</a>
          </div>
          <div id="fb-<%= product.sku %>"></div>
        </div>
      </div>

    </div>
    <div class="new-bottom" style="text-align:center !important">
      <h5 style="text-align:center !important">
        <a class="name" href="<%= product_view_path(product.sku) %>"><%= product.name %></a></h5>
      <!-- <div class="rating">
        <span class="on">☆</span>
        <span class="on">☆</span>
        <span class="on">☆</span>
        <span class="on">☆</span>
        <span>☆</span>
      </div> -->
      <div class="ofr" style="text-align:center !important">
        <% if product.discount_status %>
          <p>
            <span class="item_price" style="font-weight:900;color: red"><s><%= number_to_currency(product.discount_price, :unit => "Ksh ", :separator => ".", :delimiter => ",") %></s></span>
          </p><br>
        <% else %>
          <p>
            <br>
          </p>
        <% end %>
        <p>
          <span class="item_price" style="font-weight:900"><%= number_to_currency(product.price, :unit => "Ksh ", :separator => ".", :delimiter => ",") %></span>
        </p>
      </div>
      <div class="ofr">
        <!--<p><span class="item_price text-center"><%= product.quantity %> Units in Stock</span></p>-->
      </div>
    </div>

  </div>

</div>
