<title><%= @store.name %></title>
<!--breadcrumbs-->
<div class="breadcrumbs">
  <div class="container">
    <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
      <li><a href="<%= root_path %>"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
      <li>Products</li>
    </ol>
  </div>
</div>
<!--//breadcrumbs-->
<!--products-->
<div class="products">
    <div class="col-md-12">
    <div style="margin-bottom: 2em;margin-top: 2em;width:100%;">
        <!--<div class="col-md-4 slider-left">
          <h4>Filter By Price</h4>
          <div id="slider-range"></div>
          <br>
          <input type="text" id="amount" style="border: 0; color: #000; font-weight: normal;" />
          &lt;!&ndash;&ndash;&gt;
          <script type='text/javascript'>//<![CDATA[
          $(window).load(function(){
              $( "#slider-range" ).slider({
                  range: true,
                  min: 0,
                  max: 9000,
                  values: [ 1000, 7000 ],
                  slide: function( event, ui ) {  $( "#amount" ).val( "$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ] );
                  }
              });
              $( "#amount" ).val( "$" + $( "#slider-range" ).slider( "values", 0 ) + " - $" + $( "#slider-range" ).slider( "values", 1 ) );

          });//]]>
          </script>
          &lt;!&ndash;&ndash;&gt;
        </div>-->
        <div class="col-md-8 sidebar-row">

        <div class="col-md-5 faq">
          <h4> Category </h4>
          <%= select_tag(:category_id, options_from_collection_for_select(@categories, 'id','name') ,{:class=>'form-control',required:'required',:include_blank => true}) %>
        </div>

          <div class="col-md-5 faq">
            <h4> Sorting </h4>
              <select id="sorter_id" name="sorter" class="form-control">
                <optgroup label="Date">
                  <option value="nto">New to Old</option>
                  <option value="otn">Old to New</option>
                </optgroup>
                <optgroup label="Price">
                  <option value="htl">Highest to Lowest</option>
                  <option value="lth">Lowest to Highest</option>
                </optgroup>
              </select>
          </div>
            <div class="col-md-2 faq">
              <h4 style="color:#fff !important">Sort </h4>
              <button style="background-color: <%= @store.store_color %>" id="sort_product" class="form-control btn btn-primary">Sort</button>
            </div>
          </div>
        <div class="col-md-4 sidebar-row">

          <%= form_tag("") do %>
          <div class="col-md-9">
            <h4>Search</h4>
            <input class="form-control" id="keywords" />
            <br>
          </div>
          <div class="col-md-3">
            <h4 style="color:#fff !important">Search </h4>
            <button style="background-color: <%= @store.store_color %>" class="form-control btn btn-primary" id="product_search" ><i class="fa fa-search"></i> </button>
          </div>
          <% end %>
        </div>
    </div>
    </div>
    <div class="row">
    <div class="product_box col-md-12 product-model-sec">
      <% if @products.nil? %>
      <p class="text-center">This store does not have any active Products</p>
      <% else %>
      <% @products.each do |product| %>
        <%= render "layouts/#{Layout.find(@store.layout_id).name}/product_item", product: product, order_item: @order_item %>
      <% end %>
      <% end %>
      <br>
      <div class="row"></div>
      <div class="text-center" style="font-size: medium"> <%= will_paginate @products %></div>
    </div>

    </div>
    <div class="clearfix"> </div>
</div>
<!--//products-->
