<script>
	// Can also be used with $(document).ready()
	$(window).load(function() {
		$('.flexslider').flexslider({
			animation : "slide",
			controlNav : "thumbnails"
		});
	});
</script>
<!--breadcrumbs-->
<div class="breadcrumbs">
	<div class="container">
		<ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
			<li>
				<a href="index.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a>
			</li>
			<li class="active">
				View Product
			</li>
		</ol>
	</div>
</div>
<!--//breadcrumbs-->
<!--single-page-->
<div class="single">
	<div class="container">
		<div class="single-info">
			<div class="col-md-6 single-top wow fadeInLeft animated" data-wow-delay=".5s">
				<div class="flexslider">
					<ul class="slides">
						<li data-thumb="<%=  image_tag(@product.image_url.to_s , alt:"")%>">
							<div class="thumb-image"> <%=  image_tag(@product.image_url.to_s ,'data-imagezoom':"true", class:"img-responsive", alt:"")%> </div>
						</li>
						<li data-thumb="<%=  image_tag(@product.image_url.to_s , alt:"")%>">
							<div class="thumb-image"> <%=  image_tag(@product.image_url.to_s ,'data-imagezoom':"true", class:"img-responsive", alt:"")%> </div>
						</li>
						<li data-thumb="<%=  image_tag(@product.image_url.to_s , alt:"")%>">
							<div class="thumb-image"> <%=  image_tag(@product.image_url.to_s ,'data-imagezoom':"true", class:"img-responsive", alt:"")%> </div>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-md-6 single-top-left simpleCart_shelfItem wow fadeInRight animated" data-wow-delay=".5s">
				<h3 style="font-size:55px;text-transform:capitalize;text-align:left;color:<%= @store.store_color %> !important"><%= @product.name %></h3><br><br>

				<h6 class="item_price"><%= number_to_currency(@product.price , :unit => "Ksh ", :separator => ".", :delimiter => ",") %></h6>
				<p>
					<%= @product.description%>
				</p>

				<div class="clearfix"></div>
				<%= form_for :order_item, :url => {controller:'order_items', action:'create'}, remote: true do |f| %>
				<div class="quantity">
					<p class="qty">
						Quantity :
					</p>
					<%= f.number_field :quantity, value: 1, class: "form-control item_quantity", min: 1 %>
				</div>
				<div class="btn_form">
					<%= f.hidden_field :product_id, value: @product.id %>


          <% exist=false %>
          <% current_order.order_items.each do |oi| %>
              <% if oi.product_id == @product.id %>
                  <% exist = true %>
              <% end %>
          <% end %>
          <% if !exist %>
              <%= f.button type:'submit', class: 'add-cart item_add' do %>
                  Add to Cart
              <%end%>
          <% else %>
              <%= f.button type:'submit', class: 'add-cart item_add', disabled:'disabled' do %>
                  Added
              <%end%>
          <% end %>



				</div>
				<% end %>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!--//single-page-->
