<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="keywords" content="" />
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://use.fontawesome.com/0c894d70a3.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <% Dir.foreach("public/stylesheets/#{Layout.find(@store.layout_id).name}") do |item|
  next if item == '.' or item == '..' %>
  <%= stylesheet_link_tag    "#{Layout.find(@store.layout_id).name}/#{item}" %>
  <% end %>
  <% Dir.foreach("public/javascripts/#{Layout.find(@store.layout_id).name}") do |item|
  next if item == '.' or item == '..' %>
  <%= javascript_include_tag    "#{Layout.find(@store.layout_id).name}/#{item}" %>
  <% end %>

  <%= csrf_meta_tags %>
  <title><%= @store.name %></title>


<!--<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>-->

<!--cart-->
<!--web-fonts-->
<link href='//fonts.googleapis.com/css?family=Raleway:400,100,100italic,200,200italic,300,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic' rel='stylesheet' type='text/css'><link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Pompiere' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Fascinate' rel='stylesheet' type='text/css'>
<!--web-fonts-->
<!--animation-effect-->
<!--<script>
 new WOW().init();
</script>
&lt;!&ndash;//animation-effect&ndash;&gt;
&lt;!&ndash;start-smooth-scrolling&ndash;&gt;
<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
</script>-->
<!--//end-smooth-scrolling-->
<!--Custom Colors-->
<style>
  a:hover{
    color: <%= @store.store_color %> !important;
  }
  .active{
    color: <%= @store.store_color %> !important;
  }
  .breadcrumb1 li a{
    color: #fff !important;
  }
  .breadcrumb1 li span {
    color: #fff !important;
  }
  .breadcrumb1 li {
    color: #fff !important;
  }
  .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background: <%= @store.store_color %> !important;
  }
  .row h4 {
    color: <%= @store.store_color %> !important;
  }
  .single-info .quantity p {
    color: <%= @store.store_color %> !important;
  }
  .add-cart:hover {
    color: <%= @store.store_color %> !important;
    border-color: <%= @store.store_color %> !important;
  }
  .cart-item-info h4 span {
    color: <%= @store.store_color %> !important;
  }
  .new-text {
  background: <%= @store.store_color %> !important;
  }
  .mylink:hover{
    color: #fff !important;
  }
  .flex-control-thumbs img {
      height: 7em !important;
      width: 100% !important;
   }
   @media (max-width: 767px){
      button.navbar-toggle {
          border-color: <%= @store.store_color %> !important;
          background-color: <%= @store.store_color %> !important;
      }
    }
</style>
<!--Custom Colors-->
</head>
<body>
	<!--header-->
	<div class="header">
		<div class="top-header navbar navbar-default"><!--header-one-->
			<div class="container">
				<div class="nav navbar-nav wow fadeInLeft animated" data-wow-delay=".5s">
					<h2>Welcome to <%= @store.name %></h2>
				</div>
				<div class="nav navbar-nav navbar-right social-icons wow fadeInRight animated" data-wow-delay=".5s">
					<ul>
            <% if !@store.facebook.blank? %>
            <li>
              <a target="_blank" href="<%= @store.facebook %>"><i class="fa fa-facebook fa-lg"></i> </a>
            </li>
            <% end %>

            <% if !@store.twitter.blank? %>
            <li>
              <a target="_blank" href="<%= @store.twitter %>"><i class="fa fa-twitter fa-lg"></i> </a>
            </li>
            <% end %>

            <% if !@store.instagram.blank? %>
            <li>
              <a target="_blank" href="<%= @store.instagram %>"><i class="fa fa-instagram fa-lg"></i> </a>
            </li>
            <% end %>

            <% if !@store.linkedin.blank? %>
            <li>
              <a target="_blank" href="<%= @store.linkedin %>"><i class="fa fa-linkedin fa-lg"></i> </a>
            </li>
            <% end %>

            <% if !@store.youtube.blank? %>
            <li>
              <a target="_blank" href="<%= @store.youtube %>"><i class="fa fa-youtube-play fa-lg"></i> </a>
            </li>
            <% end %>

            <% if !@store.vimeo.blank? %>
            <li>
              <a target="_blank" href="<%= @store.vimeo %>"><i class="fa fa-vimeo fa-lg"></i> </a>
            </li>
            <% end %>

            <% if !@store.pinterest.blank? %>
            <li>
              <a target="_blank" href="<%= @store.pinterest %>"><i class="fa fa-pinterest fa-lg"></i> </a>
            </li>
            <% end %>
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<div class="header-two navbar navbar-default"><!--header-two-->
			<div class="container">
				<div class="nav navbar-nav header-two-left">
					<ul>
            <% if !@store.phone.blank?%>
            <li>
              <i style="color:<%= @store.store_color %> !important" class="glyphicon glyphicon-earphone" aria-hidden="true"></i> <%= @store.phone %>
            </li>
            <% end %>
            <% if !@store.display_email.blank?%>
            <li>
              <i style="color:<%= @store.store_color %> !important" class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:<%= @store.display_email%>"><%= @store.display_email%></a>
            </li>
            <% end %>
					</ul>
				</div>
				<div class="nav navbar-nav logo wow zoomIn animated" data-wow-delay=".7s">
					<h1><%= link_to(root_path) do %> <span style="color: <%= @store.store_color %> !important">
          <style>
          @media (max-width < 480px) {
            .our_logo{
              width: 5em !important;
              height: 5em !important;
            }
          }
          @media (max-width < 720px) {
            .our_logo{
              width: 10em !important;
              height: 5em !important;
            }
          }
          @media (max-width < 1080px) {
            .our_logo{
              width: 10em !important;
              height: 5em !important;
            }
          }
          </style>
          <% if @store.logo_status %>
              <%= image_tag(@store.logo_url.to_s,class:"our_logo") %>
          <% else %>
              <%= @store.name %>

          <% end %>
          </span> <span class="tag"> <% if !@store.slogan.blank? %> <%= @store.slogan %> <%end%></span> <% end %></h1>
				</div>
				<div class="nav navbar-nav navbar-right header-two-right">
					<div class="header-right my-account">
						<a href="<%= contact_path %>"><span style="color: <%= @store.store_color %> !important" class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> CONTACT US</a>
					</div>
          <div class="header-right cart">
            <a href="#"><span style="color: <%= @store.store_color %> !important" class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a>
            <%= link_to(cart_path) do %>
            <h4 class="cart-text"><%= render "layouts/#{Layout.find(@store.layout_id).name}/cart_text" %></h4>
            <% end %>
            <div class="cart-box">
              <p>
                <%= link_to "Empty cart", order_items_clear_path, remote: true, :class => "simpleCart_empty" %>
              </p>
              <div class="clearfix"></div>
            </div>
          </div>
					<div class="clearfix"> </div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<%= render "layouts/#{Layout.find(@store.layout_id).name}/menu_shop" %>
	</div>
	<!--//header-->

  <div style="margin-bottom: 1em;margin-top: 1em;width:100%">
      <div class="col-md-12">
        <% if !notice.nil? %>
        <div class=" text-center alert alert-success" role="alert">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong><%= notice %></strong>
        </div>
        <% end %>
        <% if !alert.nil? %>
        <div class=" text-center alert alert-info" role="alert">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong><%= alert %></strong>
        </div>
        <% end %>

      </div>
  </div>

    <br><br>
    <%= yield %>
    <br><br>


	<!--footer-->
	<div class="footer col-md-12">
		<div class="container">
			<div class="footer-info">
				<div class="col-md-4 footer-grids wow fadeInUp animated" data-wow-delay=".5s">
					<h4 class="footer-logo"><a href="<%= root_path %>"><span style="color:<%= @store.store_color %>"><%= @store.name %></span> <span class="tag"><%= @store.slogan %></span> </a></h4>
					<p>Copyright © <%= Time.current.year %> KDuka . All rights reserved | Developed by <a href="http://www.zerone.co.ke" target="_blank">Zerone I.T. Solutions</a></p>
				</div>
				<div class="col-md-4 footer-grids wow fadeInUp animated" data-wow-delay=".7s">
					<h3><span style="color:<%= @store.store_color %>">Quick Links</span></h3>
					<ul>
            <li><a href="<%= root_path %>">Home</a></li>
						<li><a href="<%= about_path %>">About Us</a></li>
						<li><a href="<%= contact_path %>">Contact Us</a></li>
            <li><a href="<%= all_path %>">Products</a></li>
					</ul>
				</div>
				<div class="col-md-4 footer-grids wow fadeInUp animated" data-wow-delay=".9s">
					<h3><span style="color:<%= @store.store_color %>">Social Media</span></h3>
          <div class="nav navbar-nav social-icons wow fadeInRight animated" data-wow-delay=".5s">
  					<ul>
              <% if !@store.facebook.blank? %>
              <li>
                <a target="_blank" href="<%= @store.facebook %>"><i class="fa fa-facebook fa-lg"></i> </a>
              </li>
              <% end %>

              <% if !@store.twitter.blank? %>
              <li>
                <a target="_blank" href="<%= @store.twitter %>"><i class="fa fa-twitter fa-lg"></i> </a>
              </li>
              <% end %>

              <% if !@store.instagram.blank? %>
              <li>
                <a target="_blank" href="<%= @store.instagram %>"><i class="fa fa-instagram fa-lg"></i> </a>
              </li>
              <% end %>

              <% if !@store.linkedin.blank? %>
              <li>
                <a target="_blank" href="<%= @store.linkedin %>"><i class="fa fa-linkedin fa-lg"></i> </a>
              </li>
              <% end %>

              <% if !@store.youtube.blank? %>
              <li>
                <a target="_blank" href="<%= @store.youtube %>"><i class="fa fa-youtube-play fa-lg"></i> </a>
              </li>
              <% end %>

              <% if !@store.vimeo.blank? %>
              <li>
                <a target="_blank" href="<%= @store.vimeo %>"><i class="fa fa-vimeo fa-lg"></i> </a>
              </li>
              <% end %>

              <% if !@store.pinterest.blank? %>
              <li>
                <a target="_blank" href="<%= @store.pinterest %>"><i class="fa fa-pinterest fa-lg"></i> </a>
              </li>
              <% end %>
  					</ul>
  				</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>

	<!--//footer-->
	<!-- the jScrollPane script -->

			<script type="text/javascript" id="sourcecode">
				$(function()
				{
					$('.scroll-pane').jScrollPane();
				});
			</script>
	<!--smooth-scrolling-of-move-up-->
	<script type="text/javascript">
		$(document).ready(function() {

			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
			};

			$().UItoTop({ easingType: 'easeOutQuart' });

		});
	</script>
	<!--//smooth-scrolling-of-move-up-->
  <!-- Flexslider -->
  <script>
  						// Can also be used with $(document).ready()
  							$(window).load(function() {
  								$('.flexslider').flexslider({
  								animation: "slide",
  								controlNav: "thumbnails"
  								});
  							});
  						</script>

  <!-- Flexslider end -->

</body>
</html>
