
<div class="skil">
<% if user_signed_in? %>
    <h1 style="text-align:center;margin-bottom:2em">Your Stores</h1>
<% unless @stores.blank? %>
        <table id="myTable" class="table dataTable no-footer">
          <thead>
          <tr>
            <th>#</th>
            <th>Store Name</th>
            <th>Active</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <% num = 1 %>
          <% @stores.each do |s| %>
              <tr>
                <td><%= num %></td>
                <td><%= s.name %></td>
                <td><%= s.active %></td>
                <td><%= link_to "Visit Shop (http://#{s.subdomain}.kduka.co.ke)", "http://#{s.subdomain}.kduka.co.ke", target:"_blank" %> |  <%= link_to "Delete", store_path(s), method:'delete', confirm:"Are you Sure you want to delete this store?" %></td>
              </tr>
              <% num = num + 1 %>
          <% end %>
          </tbody>
        </table>
<% else %>
You have no stores
<% end %><br><br>
<p style="text-align:center"><%= link_to "Add New Store", new_store_registration_path,:style=>'padding:1em;font-weight:900', :class => 'btn btn-primary' %></p>

<% else %>
<p>Please Log In</p>
<% end %>
</div>
