<div class="col-md-6 col-md-offset-3" style="margin-bottom: 2em;">
<h1>Generate Coupons (Mass Create)</h1>

<%= form_for :coupon, url:{controller:'coupons',action:'create_coupons'} do |f| %>

    <div class="form-group">
      <label>Number of Codes</label>
      <input name="number" type="number" value="1" class="form-control"/>
    </div>

    <div class="form-group">
      <%= f.label "Number of Use for each" %>
      <%= f.number_field :number_of_use, class:'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :percentage %>
      <%= f.number_field :percentage, class:'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :expiry %>
      <%= f.date_select :expiry, class:'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :active %>
      <%= f.check_box :active %>
    </div>

    <div class="actions">
      <%= f.submit "Generate Coupons", class:'btn btn-primary' %>
    </div>
<% end %>
</div>