<div class="skil"><br>
  <h1 style="text-align:center">Coupons</h1><br>
  <% if !@coupons.nil? %>
      <table id="data-tables" class="table">
        <thead>
        <tr>
          <th>Code</th>
          <th>Number of use</th>
          <th>Percentage</th>
          <th>Amount</th>
          <th>Expiry</th>
          <th colspan="3"></th>
        </tr>
        </thead>
        <tbody>
        <% @coupons.each do |coupon| %>
            <tr>
              <td><%= coupon.code %></td>
              <td><%= coupon.number_of_use %></td>
              <% if !coupon.percentage.nil? %>
                  <td><%= coupon.percentage %>%</td>
              <% else %>
                  <td>-</td>
              <% end %>
              <% if !coupon.amount.nil? %>
                  <td>Ksh <%= coupon.amount %></td>
              <% else %>
                  <td>-</td>
              <% end %>
              <td><%= coupon.expiry %></td>
              <td><%= link_to 'Delete', coupon, method: :delete, data: {confirm: 'Are you sure?'} %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
  <% else %>
      <p>You have no coupons</p>
  <% end %>
  <br><br>

  <p style="text-align:center"><%= link_to 'Add New Coupon', new_coupon_path, class: 'btn btn-primary btn-lg' %></p>
</div>
