<div class="skil">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Code:</strong>
    <%= @coupon.code %>
  </p>

  <p>
    <strong>Number of use:</strong>
    <%= @coupon.number_of_use %>
  </p>

  <% if !@coupon.percentage.nil? %>
      <p>
        <strong>Percentage:</strong>
        <%= @coupon.percentage %> %
      </p>
  <% end %>

  <% if !@coupon.amount.nil? %>
      <p>
        <strong>Amount:</strong>
        <%= @coupon.amount %>
      </p>
  <% end %>

  <p>
    <strong>Expiry:</strong>
    <%= @coupon.expiry %>
  </p>

</div>
