<script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.11&appId=153790178720044';
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<div class="col-md-4 team-grid" style="padding-top: 2em;padding-bottom:4em;margin-bottom:3em;margin-top:0em;min-height:10em">
  <!-- normal -->
  <div class="ih-item circle effect10 bottom_to_top">

      <div class="img vertical-center" style="text-align:center !important"><%= image_tag(product.image_url(:thumb).to_s, class: 'text-center', style: 'text-align:center;width:auto;max-height:200px;margin-top: 2em;') %></div>
    <div class="info">
      <a href="<%= product_view_path(product.sku) %>" style="background:rgba(0,0,0,0.5);">
        <button class="elegant-button prod_name" style="border-radius:16px"><i class="fa fa-search"></i> View</button><br><br>
      </a>
      <a href="<%= product_view_path(product.sku) %>">
        <h3 style="font-family:'Arial'"><%= product.name %></h3><br>
      </a>
        <h3 style="color: #000 !important"><%= number_to_currency(product.price, :unit => "Ksh ", :separator => ".", :delimiter => ",") %> <% if product.discount_status%><span style="color: red"><%= number_to_currency(product.discount_price, :unit => "Ksh ", :separator => ".", :delimiter => ",") %></span><% else %><% end %></h3>


      <ul>
        <li></li>
        <li></li>
        <li class="cary-li-w3-agileits">
          <div class="snipcart-details top_brand_home_details">
            <!--Start Form-->
            <%= form_for order_item, remote: true do |f| %>
              <%= f.hidden_field :quantity, value: 1, class: "item_quantity", min: 1 %>
              <%= f.hidden_field :product_id, value: product.id %>
              <% exist = false %>
              <% current_order.order_items.each do |oi| %>
                <% if oi.product_id == product.id %>
                  <% exist = true %>
                <% end %>
              <% end %>
              <% if product.quantity < 1 %>
                <%= button_tag type: 'submit', class: "add_to_cart_button", disabled: 'disabled' do %>
                    <i class="fa fa-times"></i> Out of Stock
                <% end %>
              <% else %>
                <% if !exist %>
                  <%= button_tag type: 'submit', class: "add_to_cart_button", onclick:"KD_alert()" do %>
                      <i class="fa fa-cart-plus"></i> Add to Cart
                  <% end %>
                <% else %>
                  <%= button_tag type: 'submit', class: "add_to_cart_button" do %>
                      <i class="fa fa-check"></i> Added
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
            <!--//End Form-->
            <div class="col-md-12 col-xs-12" style="margin-top:2em">
              <% if @store.own_domain %>
                <div style="margin-top:3px" class="fb-share-button col-md-6 col-xs-12" data-href='<%= "#{@store.c_subdomain}.#{@store.domain}" %>/products/view/<%= product.sku %>' data-layout="button" data-size="large" data-mobile-iframe="true">
                  <a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2F<%= "#{@store.c_subdomain}.#{@store.domain}" %>%2Fproducts%2Fview%2F<%= product.sku %>%2F&amp;src=sdkpreparse">Share</a>
                </div>
              <% else %>
                <div style="margin-top:3px" class="fb-share-button col-md-6 col-xs-12" data-href="http://<%= @store.subdomain %>.kduka.co.ke/products/view/<%= product.sku %>" data-layout="button" data-size="large" data-mobile-iframe="true">
                  <a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2F<%= @store.subdomain %>.kduka.co.ke%2Fproducts%2Fview%2F<%= product.sku %>%2F&amp;src=sdkpreparse">Share</a>
                </div>
              <% end %>
              <div style="margin-top:3px" class="col-md-6 col-xs-12">
                <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-url="http://<%= @store.subdomain %>.kduka.co.ke/products/view/<%= product.sku %>" data-show-count="false">Tweet</a>
              </div>
              <div id="fb-<%= product.sku %>"></div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <!-- end normal -->
</div>
