<!DOCTYPE HTML>
<html lang="en">
<head>
<title>KDuka | Kenya's Ecommerce Website Builder | Create an Online Store </title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Kenya Ecommerce Website Builder, Create an Online Store, KDuka, Sell online kenya, Sell online Nairobi, create website, create ecommerce website" />
<meta name="description" content="KDuka is the best ecommerce platform that has everything you need to sell online and get straight to growing your business.">

  <%= favicon_link_tag 'favicon/apple-icon-57x57.png' %>
  <%= favicon_link_tag 'favicon/apple-icon-60x60.png' %>
  <%= favicon_link_tag 'favicon/apple-icon-72x72.png' %>
  <%= favicon_link_tag 'favicon/apple-icon-76x76.png' %>
  <%= favicon_link_tag 'favicon/apple-icon-114x114.png' %>
  <%= favicon_link_tag 'favicon/apple-icon-120x120.png' %>
  <%= favicon_link_tag 'favicon/apple-icon-144x144.png' %>
  <%= favicon_link_tag 'favicon/apple-icon-152x152.png' %>
  <%= favicon_link_tag 'favicon/apple-icon-180x180.png' %>
  <%= favicon_link_tag 'favicon/android-icon-192x192.png' %>
  <%= favicon_link_tag 'favicon/favicon-32x32.png' %>
  <%= favicon_link_tag 'favicon/favicon-96x96.png' %>
  <%= favicon_link_tag 'favicon/favicon-16x16.png' %>
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

<script src="https://use.fontawesome.com/0c894d70a3.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.0/jquery-1.8.0.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	var slideImages = [ {src: '../jRCarousel/images/01.jpg'},
	              		{src: '../jRCarousel/images/02.jpg'},
	              		{src: '../jRCarousel/images/03.jpg'},
	              		{src: '../jRCarousel/images/04.jpg'},
	              		{src: '../jRCarousel/images/05.jpg'} ]
	//var jR3DCarousel;

	jR3DCarousel = $('.jR3DCarouselGallery').jR3DCarousel({
		width: 600, 		/* largest allowed width */
		height: 350, 		/* largest allowed height */
		slides: slideImages /* array of images source */
	});

	var carouselCustomeTemplateProps =  {
	 		  width: 600, 				/* largest allowed width */
			  height: 350, 				/* largest allowed height */
			  slideLayout : 'fill',     /* "contain" (fit according to aspect ratio), "fill" (stretches object to fill) and "cover" (overflows box but maintains ratio) */
			  animation: 'slide3D', 	/* slide | scroll | fade | zoomInSlide | zoomInScroll */
			  animationCurve: 'ease',
			  animationDuration: 1900,
			  animationInterval: 2000,
			  slideClass: 'jR3DCarouselCustomSlide',
			  autoplay: false,
			  controls: true,			/* control buttons */
			  navigation: ''			/* circles | squares | '' */,
			  perspective: 2200,
			  rotationDirection: 'rtl',
			  onSlideShow: slideShownCallback

		}
	function slideShownCallback($slide){
		console.log("Slide shown: ", $slide.find('img').attr('src'))
	}

	jR3DCarouselCustomeTemplate = $('.jR3DCarouselGalleryCustomeTemplate').jR3DCarousel(carouselCustomeTemplateProps);

  })
</script>

  <% if Rails.env.production?  %>
  <!--Start of Tawk.to Script-->
  <script type="text/javascript">
      var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
      (function(){
          var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
          s1.async=true;
          s1.src='https://embed.tawk.to/59fc3b9abb0c3f433d4c6d5e/default';
          s1.charset='UTF-8';
          s1.setAttribute('crossorigin','*');
          s0.parentNode.insertBefore(s1,s0);
      })();
  </script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109847469-1"></script>
  <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-109847469-1');
  </script>
  <!--End of Tawk.to Script-->
      <% end %>
<%= stylesheet_link_tag 'application', '//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i', media: 'all', 'data-turbolinks-track' => true %>
<!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet"> -->
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<% Dir.foreach("public/stylesheets/website") do |item|
next if item == '.' or item == '..' %>
<%= stylesheet_link_tag    "website/#{item}" %>
<% end %>
<% Dir.foreach("public/javascripts/website") do |item|
next if item == '.' or item == '..' %>
<%= javascript_include_tag    "website/#{item}" %>
<% end %>

<!-- web fonts -->
</head>
<body class="cbp-spmenu-push">
	<!-- banner -->
	<div class="banner" id="home">
    <div class="header-left" style="margin-left:1em">
      <style>
        .my_overlay{
          background:#fff;
          opacity:0.2;
        }
      </style>
      <h1><a style="color:#000 !important" href="<%= root_path %>"><%= image_tag("website/logo.png",style:"width:150px;height:auto") %></a></h1>
    </div>
		<div class="container">
			<div class="w3layouts-header">
				<div class="top-nav">
					<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s2">
						<h3 class="text-center"><i class="fa fa-close" id="showRightPush2"></i> </h3>
						<ul>
							<li><a href="#home" class="scroll"><i class="fa fa-home"></i> Home</a></li>
							<li><a href="#introduction" class="scroll"><i class="fa fa-desktop"></i> Featured</a></li>
              <li><a href="#learn" class="scroll"><i class="fa fa-book"></i> Learn</a></li>
							<li><a href="#features" class="scroll"><i class="fa fa-check"></i> Features</a></li>
              <li><a href="#pricing" class="scroll"><i class="fa fa-money"></i> Pricing</a></li>
							<li><a href="#contact" class="scroll"><i class="fa fa-envelope"></i> Contact</a></li>
              <li><a href="<%= new_store_registration_path %>"><i class="fa fa-edit"></i> Sign Up</a></li>
              <li><a href="<%= new_store_session_path %>"><i class="fa fa-sign-in"></i> Login</a></li>
              <li><a target="_blank" href="http://www.kduka.co.ke/help"><i class="fa fa-question-circle"></i> Help</a></li>
						</ul>
					</nav>
					<div class="main buttonset">
					<!-- Class "cbp-spmenu-open" gets applied to menu and "cbp-spmenu-push-toleft" or "cbp-spmenu-push-toright" to the body -->
            <i class="fa fa-reorder fa-4x menu-button1" id="showRightPush" style="color: #7AAE42;"></i>
					<!-- <span class="menu"></span> -->
					</div>
					<!-- Classie - class helper functions by @desandro https://github.com/desandro/classie -->
					<script src="js/classie.js"></script>
					<script>
					var menuRight = document.getElementById( 'cbp-spmenu-s2' ),
					showRightPush = document.getElementById( 'showRightPush' ),
					body = document.body;

					showRightPush.onclick = function() {
						classie.toggle( this, 'active' );
						classie.toggle( body, 'cbp-spmenu-push-toleft' );
						classie.toggle( menuRight, 'cbp-spmenu-open' );
						disableOther( 'showRightPush' );
					};

          showRightPush2.onclick = function() {
              classie.toggle( this, 'active' );
              classie.toggle( body, 'cbp-spmenu-push-toleft' );
              classie.toggle( menuRight, 'cbp-spmenu-open' );
              disableOther( 'showRightPush' );
          };

					function disableOther( button ) {
						if( button !== 'showRightPush' ) {
							classie.toggle( showRightPush, 'disabled' );
						}
					}
				 </script>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="banner-w3lsinfo" >
				<h2 style="margin-top:-1.2em;letter-spacing:3px;font-size:2.5em;font-weight: 200;text-transform:capitalize;;color: #fff">Create a stunning online shop with <span style="color: #7AAE42">KDuka!</span></h2>
				<p style="font-size:1.2em;font-weight: 200;color: #fff;">Let's create your Online Shop in Minutes!</p>
        <br><br>
        <div class="col-md-4 col-md-offset-4 col-xs-12" style="margin-bottom:2em">
          <style>
          .my_new_button{
            display: block;
            background:#7AAE42;
            margin-left:auto;
            margin-right:auto;
            padding: .2em .3em;
            border: 2px solid #7AAE42;
            border-radius: 10px;
            color: #fff;
            font-size: 1.5em;
            text-decoration: none;
          }
          .my_new_button:hover{
            background:#fff;
            color:#7AAE42 !important;
          }
          .my_new_button:active{
            background:#fff;
            color:#7AAE42 !important;
          }
          </style>
          <a href="<%= new_store_registration_path %>" class="my_new_button"><i class="fa fa-edit"></i> Let's Start</a>
          <BR>
          <a style="font-weight: 600;color: #7AAE42;" target="_blank" href="http://www.kduka.co.ke/help"> NEED SOME HELP?</a>
        </div>
        <!-- <div class="col-md-3 col-xs-12" style="margin-bottom:2em">
  			     <a style="width:90%;margin-left:auto;margin-right:auto;padding: .2em .3em;border: 2px solid #7AAE42;border-radius: 10px;color: #7AAE42;font-size: 1.3em;text-decoration: none;" href="<%= new_store_session_path %>" class="wthree-hvr"><span style="color:#fff" class="link_color"><i class="fa fa-sign-in"></i> Store Login</span></a>
        </div> -->
			</div>
			<div class="agileits-intro">
        <BR>
				<p style="font-weight: 600">LEARN MORE<a href="#introduction" class="scroll"> </a></p>
			</div>
		</div>
	</div>
	<!-- //banner -->
	<!-- introduction -->
	<div class="introduction" id="introduction">
		<div class="container">
      <div class="col-md-12 col-xs-12">
			<h3 class="agileits-title" style="text-align:center">Featured <span style="color:#7AAE42">Websites</span></h3>
      <br><br>
      <div class="our_scale" style="max-width:100% !important;overflow:hidden !important;" >
      <div class="jR3DCarouselGalleryCustomeTemplate">
  			<div class="jR3DCarouselCustomSlide">
          <a href="http://shop.jacarandamusichub.co.ke" target="_blank">
  				<%= image_tag("website/featured1.png", :style=>"width:100%;height:auto;border:2px solid #7AAE42;") %>
  				<div class="captions">Jacaranda Music Hub Shop</div>
          </a>
  			</div>
  			<div class="jR3DCarouselCustomSlide">
  				<a href="http://www.temya.co.ke" target="_blank">
  					<%= image_tag("website/featured2.png", :style=>"width:100%;height:auto;border:2px solid #7AAE42;") %>
  					<span class="captions">Temya Enterprises Ltd.</span>
  				</a>
  			</div>
  			<div class="jR3DCarouselCustomSlide">
          <a href="http://lilemporium.kduka.co.ke" target="_blank">
  				<%= image_tag("website/featured3.png", :style=>"width:100%;height:auto;border:2px solid #7AAE42;") %>
  				<div class="captions">Lil Emporium</div>
          </a>
  			</div>
  			<div class="jR3DCarouselCustomSlide">
          <a href="http://nyarnam.kduka.co.ke" target="_blank">
  				<%= image_tag("website/featured4.png", :style=>"width:100%;height:auto;border:2px solid #7AAE42;") %>
  				<div class="captions">Nyarnam Shop</div>
          </a>
  			</div>
  			<div class="jR3DCarouselCustomSlide">
          <a href="http://xwatches.kduka.co.ke" target="_blank">
  				<%= image_tag("website/featured5.png", :style=>"width:100%;height:auto;border:2px solid #7AAE42;") %>
  				<div class="captions">X Watches Shop</div>
          </a>
  			</div>
  		</div>
    </div>

      <!-- <div class="col-md-8 col-md-offset-2 col-xs-12">
        <section id="slider">
        <input type="radio" name="slider" id="s1">
        <input type="radio" name="slider" id="s2">
        <input type="radio" name="slider" id="s3" checked>
        <input type="radio" name="slider" id="s4">
        <input type="radio" name="slider" id="s5">
        <label style="width:100%" for="s1" id="slide1"><%= image_tag("website/featured1.png", :style=>"width:100%;height:auto;border: 1px solid #efefef;") %></label>
        <label style="width:100%" for="s2" id="slide2"><%= image_tag("website/featured2.png", :style=>"width:100%;height:auto;border: 1px solid #efefef;") %></label>
        <label style="width:100%" for="s3" id="slide3"><%= image_tag("website/featured3.png", :style=>"width:100%;height:auto;border: 1px solid #efefef;") %></label>
        <label style="width:100%" for="s4" id="slide4"><%= image_tag("website/featured4.png", :style=>"width:100%;height:auto;border: 1px solid #efefef;") %></label>
        <label style="width:100%" for="s5" id="slide5"><%= image_tag("website/featured5.png", :style=>"width:100%;height:auto;border: 1px solid #efefef;") %></label>
        </section>
      </div>
      <div class="row" style="height:30em"></div> -->



			<!-- <p>We help you to take your business online!</p>
      <br>

      <p>KDuka provides everything you need to sell online and get straight to growing your business.</p>
<br>
      <p style="color: #7AAE42">No programming experience is required</p> -->
    </div>

       <!-- <div class="col-md-6 col-sm-12"><iframe width="100%" height="315" src="https://www.youtube.com/embed/OUp7k_rp6t0" frameborder="0" gesture="media" allowfullscreen style="margin-top: 1em;"></iframe></div> -->
		</div>
	</div>
	<!-- //introduction -->
  <div class="learn" id="learn">
    <div class="container">
      <div class="col-md-12 col-xs-12">
        <h3 class="agileits-title" style="text-align:center;color: #fff !important;">Learn how to <span style="color:#7AAE42">sell online!</span></h3>
        <br><br>
        <div class="row" style="padding-top:1em;padding-bottom:1em">
          <div class="col-md-6 learnbox">
            <a target="_blank" href="https://learndigital.withgoogle.com/digitalskills">
              <div class="box_shadow our_padding">
                <%= image_tag("website/Google-Digital-Skills-for-Africa.png",style:"width:auto;max-height:150px;max-width:100%") %>
                <br/><br/>
                <p style="font-size:18px;">An intensive certification course by Google that will help you get all the important Digital Skills you need to make your business successful</p>
              </div>
            </a>
          </div>
          <div class="col-md-6 learnbox">
            <a target="_blank" href="http://www.kduka.co.ke/help">
              <div class="box_shadow our_padding">
                <%= image_tag("website/logo.png",style:"width:auto;max-height:150px;max-width:100%") %>
                <br/><br/>
                <p style="font-size:18px;">A Userguide to help you in setting up your KDuka store</p>
              </div>
            </a>
          </div>
        </div>

        <!-- <div class="col-md-8 col-md-offset-2 col-xs-12">
        <section id="slider">
        <input type="radio" name="slider" id="s1">
        <input type="radio" name="slider" id="s2">
        <input type="radio" name="slider" id="s3" checked>
        <input type="radio" name="slider" id="s4">
        <input type="radio" name="slider" id="s5">
        <label style="width:100%" for="s1" id="slide1"><%= image_tag("website/featured1.png", :style=>"width:100%;height:auto;border: 1px solid #efefef;") %></label>
        <label style="width:100%" for="s2" id="slide2"><%= image_tag("website/featured2.png", :style=>"width:100%;height:auto;border: 1px solid #efefef;") %></label>
        <label style="width:100%" for="s3" id="slide3"><%= image_tag("website/featured3.png", :style=>"width:100%;height:auto;border: 1px solid #efefef;") %></label>
        <label style="width:100%" for="s4" id="slide4"><%= image_tag("website/featured4.png", :style=>"width:100%;height:auto;border: 1px solid #efefef;") %></label>
        <label style="width:100%" for="s5" id="slide5"><%= image_tag("website/featured5.png", :style=>"width:100%;height:auto;border: 1px solid #efefef;") %></label>
        </section>
      </div>
      <div class="row" style="height:30em"></div> -->



        <!-- <p>We help you to take your business online!</p>
        <br>

        <p>KDuka provides everything you need to sell online and get straight to growing your business.</p>
  <br>
        <p style="color: #7AAE42">No programming experience is required</p> -->
      </div>

      <!-- <div class="col-md-6 col-sm-12"><iframe width="100%" height="315" src="https://www.youtube.com/embed/OUp7k_rp6t0" frameborder="0" gesture="media" allowfullscreen style="margin-top: 1em;"></iframe></div> -->
    </div>
  </div>
	<!-- logins -->
	<div class="download-agile">
		<div class="container">
			<style>
				.link_color:hover{
					color: #fff !important;
					transition: all 0.5s;
				}
				.link_color{
					transition: all 0.5s;
				}
			</style>
			<p>You can log in to your store(website). If you don't have a store(website) you can create one below. If you need help please <a style="padding: 0em 0em !important;border: 0px;color:#7AAE42;font-size: 20px !important;text-decoration:underline" target="_blank" href="http://www.kduka.co.ke/help">click here</a></p>
      <div class="col-md-6" style="margin-bottom:2em">
        <!-- <p>Sign Up!</p> -->
        <a style="width:95%;margin-left:auto;margin-right:auto" href="<%= new_store_registration_path %>" class="wthree-hvr"><span style="color:#fff" class="link_color"><i class="fa fa-edit"></i> Create Store !</span></a>
      </div>
      <div class="col-md-6" style="margin-bottom:2em">
        <!-- <p>Login</p> -->
			     <a style="width:95%;margin-left:auto;margin-right:auto" href="<%= new_store_session_path %>" class="wthree-hvr"><span style="color:#fff" class="link_color"><i class="fa fa-sign-in"></i> Store Login</span></a>
      </div>

		</div>
	</div>
	<!-- //logins -->

	<!-- features start -->
	<div class="services" id="features">
		<div class="container">
      <h1 class="text-center" style="font-size:2.2em">What we offer at <span style="color:#7AAE42">KDuka</span></h1><br><br>
			<!-- <h3 class="agileits-title" style="color:#000;font-size:1.4em">Manage and Grow Your Business Online</h3><br> -->
			<div class="col-md-6 col-xs-12">
				<div class="single-text w3-agile" style="margin-bottom:3em">
					<p style="font-weight: 700;font-size:28px;text-align:left;color:#7AAE42">Fully customizable website, online store and domain</p>
				</div>
				<div class="clearfix"> </div>
					 <ul style="list-style:url(/images/website/check.png);font-size:18px;padding-left:2em">
					 	<li>Free KDuka Account.</li><br>
						 <li>Beautiful storefront and powerful management tools.</li><br>
						 <li>Online payment solutions.</li><br>
						 <li>24/7 customer support.</li><br>
					 </ul>
			</div>
			<div class="col-md-6 col-xs-12">
				<%= image_tag("website/responsive.png", :style=>"width:100%;") %>
			</div>
		</div>
	</div>
	<div class="work">
		<div class="container">
			<div class="col-md-6 col-xs-12">
				<%= image_tag("website/interfaces.png", :style=>"width:100%;") %>
			</div>
			<div class="col-md-6 col-xs-12">
				<div class="single-text w3-agile" style="margin-bottom:3em">
					<p style="font-weight: 700;font-size:28px;text-align:left;color:#7AAE42">Get Started !</p>
				</div>
				<div class="clearfix"> </div>
					<ol style="font-size:18px;color:#fff">
	 					<li>Sign up for a free KDuka account.</li><br>
	 					<li>Fill a simple form to get your site created.</li><br>
            <li>Customize, add images, text & more.</li><br>
	 					<li>Share with the world with the click of a button.</li><br>
	 					<li>Add more features as you grow.</li><br>
	 				</ol>
			</div>
		</div>
	</div>
	<div class="services" style="background:#fff">
		<div class="container">
			<div class="col-md-6 col-xs-12">
				<div class="single-text w3-agile" style="margin-bottom:3em">
					<p style="font-weight: 700;font-size:28px;text-align:left;color:#7AAE42">Easy, Powerful, Informative</p>
				</div>
				<div class="clearfix"> </div>
				<ul style="list-style:url(/images/website/check.png);font-size:18px;padding-left:2em">
					<li>Easily manage your orders and inventory at anytime.</li><br>
					<li>Get Paid Easily.
</li><br>
					<li>Promote Sales, Create and manage promotional coupons!
</li><br>
					<li>Manage Shipping & Tax.

</li><br>

					<li>Set customized tax and shipping rules for each destination.

</li><br>
				</ul>
			</div>
			<div class="col-md-6 col-xs-12">
				<%= image_tag("website/analytics.png", :style=>"width:100%;") %>
			</div>
		</div>
	</div>
	<!-- //features end -->

  <!--Pricing-->
  <div class="our_pricing" id="pricing">
    <h3><span style="color:#fff">Our</span> Pricing</h3>
    <div class="container">
      <div class="col-md-4 col-md-offset-2">
        <div class="pricing_shadow">
          <h4>Free</h4>
          <ul style="list-style:url(/images/website/check.png);font-size:17px;padding-left:3em;text-align:left;margin-bottom:4em">
  					<li>Free KDuka Website</li><br>
  					<li>Free KDuka Subdomain (e.g mystore.kduka.co.ke)</li><br>
            <li>Unlimited Product Categories</li><br>
            <li>Unlimited Products</li><br>
            <li>Unlimited Storage Space</li><br>
          </ul>
          <a data-toggle="modal" data-target="" class="buy_btn">&nbsp;&nbsp;&nbsp;<i class="fa fa-shopping-cart"></i> Free&nbsp;&nbsp;&nbsp;</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="pricing_shadow">
          <h4>Premium</h4>
          <ul style="list-style:url(/images/website/check.png);font-size:17px;padding-left:3em;text-align:left">
  					<li>Free KDuka Website</li><br>
  					<li>Custom Domain Use (e.g www.mystore.com)</li><br>
            <li>Unlimited Product Categories</li><br>
            <li>Unlimited Products</li><br>
            <li>Unlimited Storage Space</li><br>
            <li>SEO (Search Engine Optimization)</li><br>

          </ul><br>
          <a href="#" data-toggle="modal" data-target="#buy_modal" class="buy_btn"><i class="fa fa-shopping-cart"></i> Buy Now</a>
        </div>
      </div>
      <!--Buy Modal-->
      <div id="buy_modal" class="modal fade light-box" tabindex="-1" role="dialog" aria-hidden="true">
				<div class="modal-dialog modal-md">
					<div class="modal-content light-box-info">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove"></span></button>
						<div class="pop">
							<h3>Purchase Premium Package</h3>
              <div class="contact-grids">
								<div class="inp agileits-inp">
                  <div id="success"></div>
									<form action="#" method="post">
                    <input id="name" type="text" name="name" placeholder="Your Name" required="">
                    <input id="email" type="email" name="email" placeholder="Your Email" required="">
										<input id="url" type="text" name="url" placeholder="Your Store Url" required="">
										<input id="domain" type="text" name="domain" placeholder="Your Domain" required=""><br><br>

										<input style="width:100% !important;" id="pay" type="submit" value="CHECKOUT">
									</form>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
					</div>
				</div>
			</div>
      <!--//Buy Modal-->
    </div>
  </div>
  <!--//Pricing End-->

	<!-- contact -->
	<div class="contact" id="contact">
		<div class="container">
			<h1 style="font-weight: 500;margin-bottom:2em;color:#fff">Get in Touch With Us</h1>
			<div class="con">
				<a data-toggle="modal" data-target=".bs-example-modal-md" href="#" class="b-link-stripe b-animate-go  thickbox wthree-hvr">Click Here !</a>
			</div>
			<a data-toggle="modal" data-target=".bs-example-modal-md" href="#"> </a>
			<div class="modal fade bs-example-modal-md light-box" tabindex="-1" role="dialog" aria-hidden="true">
				<div class="modal-dialog modal-md">
					<div class="modal-content light-box-info">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove"></span></button>
						<div class="pop">
							<h3>Contact Us</h3>
							<div class="contact-grids">
								<div class="inp agileits-inp">
									<h4 style="color:#7AAE42">Contact Form</h4>
                  <div id="success"></div>
									<form action="#" method="post">
										<input id="name" type="text" name="Name" placeholder="Your Name" required="">
										<input id="email" type="email" name="Email" placeholder="Email" required="">
										<input id="subject" type="text" name="Subject" placeholder="Subject" required="">
										<textarea id="message" name="Message" placeholder="Message" required=""></textarea>
										<input style="width:100% !important;" id="sendmail" type="submit" value="SEND">
									</form>
								</div>
								<h5 style="color:#7AAE42">Contact Details</h5>
								<div class="contact-grid">
									<h4>PHONE NUMBERS</h4>
									<p class="agile-qwe">+254-773-054785<br>
										+254-765-608060<br>
									+254-714-764162</p>
								</div>
								<div class="contact-grid">
									<h4>EMAIL</h4>
									<p class="agile-qwe"><a href="mailto:info@kduka.co.ke">info@kduka.co.ke</a></p>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //contact -->
	<!-- footer -->
	<div class="footer">
		<div class="container">
			<div class="footer-left agileits">
				<p>Copyright © <%= Time.current.year %> KDuka. All rights reserved | Developed by <a href="http://www.zerone.co.ke/" target="_blank"> Zerone I.T. Solutions.</a></p>
			</div>
			<div class="footer-right">
				<div class="social-icon agileits">
					<a href="https://twitter.com/kdukaofficial" target="_blank" class="social-button twitter"><i class="fa fa-twitter"></i></a>
					<a href="https://www.facebook.com/kdukaofficial/" target="_blank" class="social-button facebook"><i class="fa fa-facebook"></i></a>
          <a href="https://www.linkedin.com/company/kdukaofficial/" target="_blank" class="social-button linkedin"><i class="fa fa-linkedin"></i></a>
          <a href="https://www.instagram.com/kdukaofficial/" target="_blank" class="social-button instagram"><i class="fa fa-instagram"></i></a>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<!-- //footer -->
	<!-- start-smooth-scrolling -->
	<script type="text/javascript" src="js/move-top.js"></script>
	<script type="text/javascript" src="js/easing.js"></script>
<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
	</script>
	<!-- start-smooth-scrolling -->
	<!-- here stars scrolling icon -->
	<!--<script type="text/javascript">
		$(document).ready(function() {
			/*
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
			};
			*/

			$().UItoTop({ easingType: 'easeOutQuart' });

		});
	</script>-->
	<!-- //here ends scrolling icon -->
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/bootstrap.js"></script>
</body>
</html>
