<!DOCTYPE HTML>
<html lang="en">
<head>
<title>KDuka | Kenya's Ecommerce Website Builder | Create an Online Store </title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Kenya Ecommerce Website Builder, Create an Online Store, KDuka" />
<meta name="description" content="KDuka is the best ecommerce platform that has everything you need to sell online and get straight to growing your business.">
  <%= favicon_link_tag 'favicon/apple-icon-57x57.png' %>
  <%= favicon_link_tag 'favicon/apple-icon-60x60.png' %>
  <%= favicon_link_tag 'favicon/apple-icon-72x72.png' %>
  <%= favicon_link_tag 'favicon/apple-icon-76x76.png' %>
  <%= favicon_link_tag 'favicon/apple-icon-114x114.png' %>
  <%= favicon_link_tag 'favicon/apple-icon-120x120.png' %>
  <%= favicon_link_tag 'favicon/apple-icon-144x144.png' %>
  <%= favicon_link_tag 'favicon/apple-icon-152x152.png' %>
  <%= favicon_link_tag 'favicon/apple-icon-180x180.png' %>
  <%= favicon_link_tag 'favicon/android-icon-192x192.png' %>
  <%= favicon_link_tag 'favicon/favicon-32x32.png' %>
  <%= favicon_link_tag 'favicon/favicon-96x96.png' %>
  <%= favicon_link_tag 'favicon/favicon-16x16.png' %>
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
<script src="https://use.fontawesome.com/0c894d70a3.js"></script>
  <% if Rails.env.production?  %>
  <!--Start of Tawk.to Script-->
  <script type="text/javascript">
      var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
      (function(){
          var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
          s1.async=true;
          s1.src='https://embed.tawk.to/59fc3b9abb0c3f433d4c6d5e/default';
          s1.charset='UTF-8';
          s1.setAttribute('crossorigin','*');
          s0.parentNode.insertBefore(s1,s0);
      })();
  </script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109847469-1"></script>
  <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-109847469-1');
  </script>
  <!--End of Tawk.to Script-->
      <% end %>
<%= stylesheet_link_tag 'application', '//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i', media: 'all', 'data-turbolinks-track' => true %>
<!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet"> -->
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<% Dir.foreach("public/stylesheets/website") do |item|
next if item == '.' or item == '..' %>
<%= stylesheet_link_tag    "website/#{item}" %>
<% end %>
<% Dir.foreach("public/javascripts/website") do |item|
next if item == '.' or item == '..' %>
<%= javascript_include_tag    "website/#{item}" %>
<% end %>

<!-- web fonts -->
</head>
<body class="cbp-spmenu-push">
	<!-- banner -->
	<div class="banner" id="home">
    <div class="header-left" style="margin-left:1em">
      <style>
        .my_overlay{
          background:#fff;
          opacity:0.2;
        }
      </style>
      <h1><a style="color:#000 !important" href="<%= root_path %>"><%= image_tag("website/logo2.png") %></a></h1>
    </div>
		<div class="container">

			<div class="w3layouts-header">

				<div class="top-nav">
					<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s2">
						<h3><i class="fa fa-reorder fa-2x" id="showRightPush2"></i> </h3>
						<ul>
							<li><a href="#home" class="scroll"><i class="fa fa-home"></i> Home</a></li>
							<li><a href="#introduction" class="scroll"><i class="fa fa-info-circle"></i> About Us</a></li>
							<li><a href="#features" class="scroll"><i class="fa fa-check"></i> Features</a></li>
							<li><a href="#contact" class="scroll"><i class="fa fa-envelope"></i> Contact</a></li>
              <li><a href="<%= new_store_registration_path %>"><i class="fa fa-edit"></i>Sign Up</a></li>
              <li><a href="<%= new_store_session_path %>"><i class="fa fa-sign-in"></i>Login</a></li>
              <li><a target="_blank" href="http://www.kduka.co.ke/help"><i class="fa fa-question-circle"></i> Help</a></li>
						</ul>
					</nav>
					<div class="main buttonset">
					<!-- Class "cbp-spmenu-open" gets applied to menu and "cbp-spmenu-push-toleft" or "cbp-spmenu-push-toright" to the body -->
            <i class="fa fa-reorder fa-5x menu-button1" id="showRightPush" style="color: #06b216;"></i>
					<!-- <span class="menu"></span> -->
					</div>
					<!-- Classie - class helper functions by @desandro https://github.com/desandro/classie -->
					<script src="js/classie.js"></script>
					<script>
					var menuRight = document.getElementById( 'cbp-spmenu-s2' ),
					showRightPush = document.getElementById( 'showRightPush' ),
					body = document.body;

					showRightPush.onclick = function() {
						classie.toggle( this, 'active' );
						classie.toggle( body, 'cbp-spmenu-push-toleft' );
						classie.toggle( menuRight, 'cbp-spmenu-open' );
						disableOther( 'showRightPush' );
					};

          showRightPush2.onclick = function() {
              classie.toggle( this, 'active' );
              classie.toggle( body, 'cbp-spmenu-push-toleft' );
              classie.toggle( menuRight, 'cbp-spmenu-open' );
              disableOther( 'showRightPush' );
          };

					function disableOther( button ) {
						if( button !== 'showRightPush' ) {
							classie.toggle( showRightPush, 'disabled' );
						}
					}

				 </script>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="banner-w3lsinfo" >
				<h2 style="margin-top:-1.3em;letter-spacing:5px;font-size:3em;font-weight: 600;text-transform:capitalize;;color: #fff">Best E-commerce Platform Made for You, Start Selling <span style="color: #06B216">Now</span>!</h2>
				<p style="font-size:1.6em;font-weight: 600;color: #fff;">Selling Online Has Never Been Easier. Let's create your Online Shop in Minutes!</p>
        <br><br>
        <div class="col-md-3 col-md-offset-3 col-xs-12" style="margin-bottom:2em">
          <a style="width:90%;margin-left:auto;margin-right:auto;padding: .2em .3em;border: 2px solid #06B216;color: #06B216;font-size: 1.5em;text-decoration: none;background:#06B216" href="<%= new_store_registration_path %>" class="wthree-hvr"><span style="color:#fff" class="link_color"><i class="fa fa-edit"></i> Create Store!</span></a>
        </div>
        <div class="col-md-3 col-xs-12" style="margin-bottom:2em">
  			     <a style="width:90%;margin-left:auto;margin-right:auto;padding: .2em .3em;border: 2px solid #06B216;color: #06B216;font-size: 1.5em;text-decoration: none;" href="<%= new_store_session_path %>" class="wthree-hvr"><span style="color:#fff" class="link_color"><i class="fa fa-sign-in"></i> Store Login</span></a>
        </div>
			</div>
			<div class="agileits-intro">
				<p style="font-weight: bold">Learn More...<a href="#introduction" class="scroll"> </a></p>
			</div>
		</div>
	</div>
	<!-- //banner -->
	<!-- introduction -->
	<div class="introduction" id="introduction">
		<div class="container">
      <div class="col-md-6 col-xs-12">
			<h3 class="agileits-title" style="text-align:left">About <span style="color:#06B216">KDuka</span></h3>
			<p>Kenya's Number One Ecommerce Platform Tailored for Online Entrepreneurs </p>
      <br>

      <p>We’re not just an ecommerce software, KDuka is the best ecommerce platform that has everything you need to sell online and get straight to growing your business.</p>
<br>
      <p style="color: #06B216">No programming experience is required</p>
    </div>

       <div class="col-md-6 col-sm-12"><iframe width="100%" height="315" src="https://www.youtube.com/embed/OUp7k_rp6t0" frameborder="0" gesture="media" allowfullscreen style="margin-top: 1em;"></iframe></div>
		</div>
	</div>
	<!-- //introduction -->
	<!-- logins -->
	<div class="download-agile">
		<div class="container">
			<style>
				.link_color:hover{
					color: #fff !important;
					transition: all 0.5s;
				}
				.link_color{
					transition: all 0.5s;
				}
			</style>
			<p>You can log in to your store(website). If you don't have a store(website) you can create one by signing up. If you need help please <a style="padding: 0em 0em !important;border: 0px;color:#06B216;font-size: 20px !important;text-decoration:underline" target="_blank" href="http://www.kduka.co.ke/help">click here</a></p>
      <div class="col-md-6" style="margin-bottom:2em">
        <!-- <p>Sign Up!</p> -->
        <a style="width:95%;margin-left:auto;margin-right:auto" href="<%= new_store_registration_path %>" class="wthree-hvr"><span style="color:#fff" class="link_color"><i class="fa fa-edit"></i> Sign Up !</span></a>
      </div>
      <div class="col-md-6" style="margin-bottom:2em">
        <!-- <p>Login</p> -->
			     <a style="width:95%;margin-left:auto;margin-right:auto" href="<%= new_store_session_path %>" class="wthree-hvr"><span style="color:#fff" class="link_color"><i class="fa fa-sign-in"></i> Store Login</span></a>
      </div>

		</div>
	</div>
	<!-- //logins -->

	<!-- features start -->
	<div class="services" id="features">
		<div class="container">
      <h1 class="text-center" style="font-size:3.5em">Create a Stunning Online Store with <span style="color:#06B216">KDuka</span></h1><br>
			<h3 class="agileits-title" style="color:#000;font-size:1.6em">Manage and Grow Your Business Online</h3><br>
			<div class="col-md-6 col-xs-12">
				<div class="single-text w3-agile" style="margin-bottom:3em">
					<p style="font-size:30px;text-align:left;color:#06B216">Fully customizable website, online store and domain</p>
				</div>
				<div class="clearfix"> </div>
					 <ul style="list-style:none;color:#6e6e6e;font-size:17px">
					 	<li><i style="color:#06B216;margin-right:1em" class="fa fa-check-circle fa-2x"></i> Free KDuka Account</li><br>
						 <li><i style="color:#06B216;margin-right:1em" class="fa fa-check-circle fa-2x"></i> Beautiful storefront and powerful management tools</li><br>
						 <li><i style="color:#06B216;margin-right:1em" class="fa fa-check-circle fa-2x"></i> Multiple payment solutions</li><br>
						 <li><i style="color:#06B216;margin-right:1em" class="fa fa-check-circle fa-2x"></i> 24/7 customer support</li><br>
					 </ul>
			</div>
			<div class="col-md-6 col-xs-12">
				<%= image_tag("website/responsive.png", :style=>"width:100%;") %>
			</div>
		</div>
	</div>
	<div class="work">
		<div class="container">
			<div class="col-md-6 col-xs-12">
				<%= image_tag("website/interfaces.png", :style=>"width:100%;") %>
			</div>
			<div class="col-md-6 col-xs-12">
				<div class="single-text w3-agile" style="margin-bottom:3em">
					<p style="font-size:30px;text-align:left;color:#06B216">Learn How to Create Your Own Online Store</p>
				</div>
				<div class="clearfix"> </div>
					<ul style="list-style:none;color:#6e6e6e;font-size:17px">
	 					<li><i style="color:#06B216;margin-right:1em" class="fa fa-check-circle fa-2x"></i> 1. Sign up for a free KDuka account</li><br>
	 					<li><i style="color:#06B216;margin-right:1em" class="fa fa-check-circle fa-2x"></i> 2. Answer a few simple questions to get your site created</li><br>
            <li><i style="color:#06B216;margin-right:1em" class="fa fa-check-circle fa-2x"></i> 3. Customize, add videos, images, text & more.</li><br>
	 					<li><i style="color:#06B216;margin-right:1em" class="fa fa-check-circle fa-2x"></i> 4. Share with the world with the click of a button</li><br>
	 					<li><i style="color:#06B216;margin-right:1em" class="fa fa-check-circle fa-2x"></i> 5. Add more features as you grow</li><br>
	 				</ul>
			</div>
		</div>
	</div>
	<div class="services" style="background:#fff">
		<div class="container">
			<div class="col-md-6 col-xs-12">
				<div class="single-text w3-agile" style="margin-bottom:3em">
					<p style="font-size:30px;text-align:left;color:#06B216">Be informed about your store</p>
				</div>
				<div class="clearfix"> </div>
				<ul style="list-style:none;color:#6e6e6e;font-size:17px">
					<li><i style="color:#06B216;margin-right:1em" class="fa fa-check-circle fa-2x"></i> Easily manage your orders and inventory at anytime.</li><br>
					<li><i style="color:#06B216;margin-right:1em" class="fa fa-check-circle fa-2x"></i> Get Paid Easily. Paybill, Cards.
</li><br>
					<li><i style="color:#06B216;margin-right:1em" class="fa fa-check-circle fa-2x"></i> Promote Sales, Create and manage promotional coupons!
</li><br>
					<li><i style="color:#06B216;margin-right:1em" class="fa fa-check-circle fa-2x"></i> Manage Shipping & Tax

</li><br>
          </li><br>
					<li><i style="color:#06B216;margin-right:1em" class="fa fa-check-circle fa-2x"></i> Set customized tax and shipping rules for each destination.

</li><br>
				</ul>
			</div>
			<div class="col-md-6 col-xs-12">
				<%= image_tag("website/analytics.png", :style=>"width:100%;") %>
			</div>
		</div>
	</div>
	<!-- //features end -->
	<!-- contact -->
	<div class="contact" id="contact">
		<div class="container">
			<h1 style="font-weight: bold;margin-bottom:2em;color:#fff">Get in Touch With Us</h1>
			<div class="con">
				<a data-toggle="modal" data-target=".bs-example-modal-md" href="#" class="b-link-stripe b-animate-go  thickbox wthree-hvr">Click Me !</a>
			</div>
			<a data-toggle="modal" data-target=".bs-example-modal-md" href="#"> </a>
			<div class="modal fade bs-example-modal-md light-box" tabindex="-1" role="dialog" aria-hidden="true">
				<div class="modal-dialog modal-md">
					<div class="modal-content light-box-info">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove"></span></button>
						<div class="pop">
							<h3>Contact Us</h3>
							<div class="contact-grids">
								<div class="inp agileits-inp">
									<h4 style="color:#06B216">Contact Form</h4>
                  <div id="success"></div>
									<form action="#" method="post">
										<input id="name" type="text" name="Name" placeholder="Your Name" required="">
										<input id="email" type="email" name="Email" placeholder="Email" required="">
										<input id="subject" type="text" name="Subject" placeholder="Subject" required="">
										<textarea id="message" name="Message" placeholder="Message" required=""></textarea>
										<input id="sendmail" type="submit" value="SEND">
									</form>
								</div>
								<h5 style="color:#06B216">Contact Details</h5>
								<div class="contact-grid">
									<h4>PHONE NUMBERS</h4>
									<p class="agile-qwe">+254-773-054785<br>
										+254-765-608060<br>
									+254-714-764162</p>
								</div>
								<div class="contact-grid">
									<h4>EMAIL</h4>
									<p class="agile-qwe"><a href="mailto:info@kduka.co.ke">info@kduka.co.ke</a></p>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //contact -->
	<!-- footer -->
	<div class="footer">
		<div class="container">
			<div class="footer-left agileits">
				<p>Copyright © <%= Time.current.year %> KDuka. All rights reserved | Developed by <a href="http://www.zerone.co.ke/" target="_blank"> Zerone I.T. Solutions.</a></p>
			</div>
			<div class="footer-right">
				<div class="social-icon agileits">
					<a href="https://twitter.com/kdukaofficial" target="_blank" class="social-button twitter"><i class="fa fa-twitter"></i></a>
					<a href="https://www.facebook.com/kdukaofficial/" target="_blank" class="social-button facebook"><i class="fa fa-facebook"></i></a>
          <a href="https://www.linkedin.com/company/kdukaofficial/" target="_blank" class="social-button linkedin"><i class="fa fa-linkedin"></i></a>
          <a href="https://www.instagram.com/kdukaofficial/" target="_blank" class="social-button instagram"><i class="fa fa-instagram"></i></a>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<!-- //footer -->
	<!-- start-smooth-scrolling -->
	<script type="text/javascript" src="js/move-top.js"></script>
	<script type="text/javascript" src="js/easing.js"></script>
<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
	</script>
	<!-- start-smooth-scrolling -->
	<!-- here stars scrolling icon -->
	<!--<script type="text/javascript">
		$(document).ready(function() {
			/*
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
			};
			*/

			$().UItoTop({ easingType: 'easeOutQuart' });

		});
	</script>-->
	<!-- //here ends scrolling icon -->
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/bootstrap.js"></script>
</body>
</html>
