
  <% if Rails.env.production?  %>
  <!--Start of Tawk.to Script-->
  <script type="text/javascript">
      var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
      (function(){
          var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
          s1.async=true;
          s1.src='https://embed.tawk.to/59fc3b9abb0c3f433d4c6d5e/default';
          s1.charset='UTF-8';
          s1.setAttribute('crossorigin','*');
          s0.parentNode.insertBefore(s1,s0);
      })();
  </script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109847469-1"></script>
  <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-109847469-1');
  </script>
  <!--End of Tawk.to Script-->
      <% end %>
<%= stylesheet_link_tag 'application', '//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i', media: 'all', 'data-turbolinks-track' => true %>
<!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet"> -->
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<% Dir.foreach("public/stylesheets/website") do |item|
next if item == '.' or item == '..' %>
<%= stylesheet_link_tag    "website/#{item}" %>
<% end %>
<% Dir.foreach("public/javascripts/website") do |item|
next if item == '.' or item == '..' %>
<%= javascript_include_tag    "website/#{item}" %>
<% end %>
<% if Date.current.strftime("%B") == "December" %>
<script src="/javascripts/snow/snowstorm.js"></script>
<%end%>
<!-- web fonts -->
<style>
body{
  font-family:'Open Sans', sans-serif !important;
  padding-right: 0px !important;
}
h2{
  color:#7aae42;
  padding-top: 1em;
  padding-bottom: 1em;
}
h1{
  padding-top: 2em;
  padding-bottom: 1em;
}
p{
  font-size: 17px;
  line-height: 1.7em;
  text-align: justify;
  margin-bottom: 1.5em
}
ol li{
  font-size: 17px;
  line-height: 1.7em;
  text-align: justify;
}
ul li{
  font-size: 17px;
  line-height: 1.7em;
  text-align: justify;
}
</style>
<h1>Terms & <span style="color:#7aae42">Conditions</span></h1>
<h2>Welcome to KDuka</h2>
<p>These terms and conditions outline the rules and regulations for the use of KDuka's Website.</p> <br />
<p>By accessing this website we assume you accept these terms and conditions in full. Do not continue to use KDuka's website
  if you do not accept all of the terms and conditions stated on this page.</p>
<p>The following terminology applies to these Terms and Conditions, Privacy Statement and Disclaimer Notice
  and any or all Agreements: “Client”, “You” and “Your” refers to you, the person accessing this website
  and accepting the Company’s terms and conditions. “The Company”, “Ourselves”, “We”, “Our” and “Us”, refers
  to our Company. “Party”, “Parties”, or “Us”, refers to both the Client and ourselves, or either the Client
  or ourselves. All terms refer to the offer, acceptance and consideration of payment necessary to undertake
  the process of our assistance to the Client in the most appropriate manner, whether by formal meetings
  of a fixed duration, or any other means, for the express purpose of meeting the Client’s needs in respect
  of provision of the Company’s stated services/products, in accordance with and subject to, prevailing law
  of . Any use of the above terminology or other words in the singular, plural,
  capitalisation and/or he/she or they, are taken as interchangeable and therefore as referring to same.</p>

<h2>1. Cookies</h2>
<p>We employ the use of cookies. By using KDuka's website you consent to the use of cookies
  in accordance with KDuka’s privacy policy.</p><p>Most of the modern day interactive web sites
  use cookies to enable us to retrieve user details for each visit. Cookies are used in some areas of our site
  to enable the functionality of this area and ease of use for those people visiting. Some of our
  affiliate / advertising partners may also use cookies.</p>

<h2>2. License</h2>
<p>Unless otherwise stated, KDuka and/or it’s licensors own the intellectual property rights for
  all material on KDuka. All intellectual property rights are reserved. You may view and/or print
  pages from https://www.kduka.co.ke for your own personal use subject to restrictions set in these terms and conditions.</p>
<p>You must not:</p>
<ol>
  <li>Republish material from https://www.kduka.co.ke</li>
  <li>Sell, rent or sub-license material from https://www.kduka.co.ke</li>
  <li>Reproduce, duplicate or copy material from https://www.kduka.co.ke</li>
</ol>
<p>Redistribute content from KDuka (unless content is specifically made for redistribution).</p>
<h2>3. Hyperlinking to our Content</h2>
<ol>
  <li>The following organizations may link to our Web site without prior written approval:
    <ol>
      <li>Government agencies;</li>
      <li>Search engines;</li>
      <li>News organizations;</li>
      <li>Online directory distributors when they list us in the directory may link to our Web site in the same
        manner as they hyperlink to the Web sites of other listed businesses; and</li>
      <li>Systemwide Accredited Businesses except soliciting non-profit organizations, charity shopping malls,
        and charity fundraising groups which may not hyperlink to our Web site.</li>
    </ol>
  </li>
</ol>
<ol start="2">
  <li>These organizations may link to our home page, to publications or to other Web site information so long
    as the link: (a) is not in any way misleading; (b) does not falsely imply sponsorship, endorsement or
    approval of the linking party and its products or services; and (c) fits within the context of the linking
    party's site.
  </li>
  <li>We may consider and approve in our sole discretion other link requests from the following types of organizations:
    <ol>
      <li>commonly-known consumer and/or business information sources such as Chambers of Commerce, American
        Automobile Association, AARP and Consumers Union;</li>
      <li>dot.com community sites;</li>
      <li>associations or other groups representing charities, including charity giving sites,</li>
      <li>online directory distributors;</li>
      <li>internet portals;</li>
      <li>accounting, law and consulting firms whose primary clients are businesses; and</li>
      <li>educational institutions and trade associations.</li>
    </ol>
  </li>
</ol>
<p>We will approve link requests from these organizations if we determine that: (a) the link would not reflect
  unfavorably on us or our accredited businesses (for example, trade associations or other organizations
  representing inherently suspect types of business, such as work-at-home opportunities, shall not be allowed
  to link); (b)the organization does not have an unsatisfactory record with us; (c) the benefit to us from
  the visibility associated with the hyperlink outweighs the absence of <?=$companyName?>; and (d) where the
  link is in the context of general resource information or is otherwise consistent with editorial content
  in a newsletter or similar product furthering the mission of the organization.</p>

<p>These organizations may link to our home page, to publications or to other Web site information so long as
  the link: (a) is not in any way misleading; (b) does not falsely imply sponsorship, endorsement or approval
  of the linking party and it products or services; and (c) fits within the context of the linking party's
  site.</p>

<p>If you are among the organizations listed in paragraph 2 above and are interested in linking to our website,
  you must notify us by sending an e-mail to <a href="mailto:info@kduka.co.ke" title="send an email to info@kduka.co.ke">info@kduka.co.ke</a>.
  Please include your name, your organization name, contact information (such as a phone number and/or e-mail
  address) as well as the URL of your site, a list of any URLs from which you intend to link to our Web site,
  and a list of the URL(s) on our site to which you would like to link. Allow 2-3 weeks for a response.</p>

<p>Approved organizations may hyperlink to our Web site as follows:</p>

<ol>
  <li>By use of our corporate name; or</li>
  <li>By use of the uniform resource locator (Web address) being linked to; or</li>
  <li>By use of any other description of our Web site or material being linked to that makes sense within the
    context and format of content on the linking party's site.</li>
</ol>
<p>No use of KDuka’s logo or other artwork will be allowed for linking absent a trademark license
  agreement.</p>
<h2>4. Iframes</h2>
<p>Without prior approval and express written permission, you may not create frames around our Web pages or
  use other techniques that alter in any way the visual presentation or appearance of our Web site.</p>
<h2>5. Reservation of Rights</h2>
<p>We reserve the right at any time and in its sole discretion to request that you remove all links or any particular
  link to our Web site. You agree to immediately remove all links to our Web site upon such request. We also
  reserve the right to amend these terms and conditions and its linking policy at any time. By continuing
  to link to our Web site, you agree to be bound to and abide by these linking terms and conditions.</p>
<h2>6. Removal of links from our website</h2>
<p>If you find any link on our Web site or any linked web site objectionable for any reason, you may contact
  us about this. We will consider requests to remove links but will have no obligation to do so or to respond
  directly to you.</p>
<p>Whilst we endeavour to ensure that the information on this website is correct, we do not warrant its completeness
  or accuracy; nor do we commit to ensuring that the website remains available or that the material on the
  website is kept up to date.</p>
<h2>7. Content Liability</h2>
<p>We shall have no responsibility or liability for any content appearing on your Web site. You agree to indemnify
  and defend us against all claims arising out of or based upon your Website. No link(s) may appear on any
  page on your Web site or within any context containing content or materials that may be interpreted as
  libelous, obscene or criminal, or which infringes, otherwise violates, or advocates the infringement or
  other violation of, any third party rights.</p>
<h2>8. Disclaimer</h2>
<p>To the maximum extent permitted by applicable law, we exclude all representations, warranties and conditions relating to our website and the use of this website (including, without limitation, any warranties implied by law in respect of satisfactory quality, fitness for purpose and/or the use of reasonable care and skill). Nothing in this disclaimer will:</p>
<ol>
  <li>limit or exclude our or your liability for death or personal injury resulting from negligence;</li>
  <li>limit or exclude our or your liability for fraud or fraudulent misrepresentation;</li>
  <li>limit any of our or your liabilities in any way that is not permitted under applicable law; or</li>
  <li>exclude any of our or your liabilities that may not be excluded under applicable law.</li>
</ol>
<p>The limitations and exclusions of liability set out in this Section and elsewhere in this disclaimer: (a)
  are subject to the preceding paragraph; and (b) govern all liabilities arising under the disclaimer or
  in relation to the subject matter of this disclaimer, including liabilities arising in contract, in tort
  (including negligence) and for breach of statutory duty.</p>
<p>To the extent that the website and the information and services on the website are provided free of charge,
  we will not be liable for any loss or damage of any nature.</p>
<h2>9. Illegal Businesses</h2>
<p>We directly forbid trade of any commodities and content that are considered illegal under the Kenyan Laws. We shall not be liable for any such transactions. We are also obligated to report such illegal activities to the authorities in case of any such occurrence</p>
<h2>10. Account Terms</h2>
<p>1. You must be 18 years or older or at least the age of majority in the jurisdiction where you reside or from which you use this Service.</p>
<p>2. To access and use the Services, you must register for a KDuka account (“Account”) by providing your full legal name, current address, phone number, a valid email address, and any other information indicated as required. KDuka may reject your application for an Account, or cancel an existing Account, for any reason, in our sole discretion.</p>
<p> 3. You acknowledge that KDuka will use the email address you provide as the primary method for communication.</p>
<p> 4. You are responsible for keeping your password secure. KDuka cannot and will not be liable for any loss or damage from your failure to maintain the security of your Account and password. </p>
<p> 5. You are responsible for all activity and content such as photos, images, videos, graphics, written content, audio files, code, information, or data uploaded, collected, generated, stored, displayed, distributed, transmitted or exhibited on or in connection with your Account (“Materials”). </p>
<p> 6. A breach or violation of any term in the Terms of Service, including the AUP, as determined in the sole discretion of KDuka will result in an immediate termination of your services.</p>


<h2 id="General">11. General Conditions</h2>

<div class="terms__section grid-container">
  <div class="grid-item grid-5">

    <div class="long-form-content "><div class="long-form-content "><p>You must read, agree with and accept all of the terms and conditions
      contained in these Terms of Service, including the
      <a href="https://www.kduka.co.ke/legal/aup" target="_blank" class="body-link">AUP</a> and the
      <a href="https://www.kduka.co.ke/legal/privacy" target="_blank" class="body-link">Privacy Policy</a>
      before you may become a member of KDuka.</p>

      <ol>
        <li>Technical support is only provided to paying Account holders and
          is only available via email.</li>
        <li>The Terms of Service shall be governed by and interpreted in accordance with the laws of Kenya therein, without regard to principles of
          conflicts of laws. The parties irrevocably and unconditionally submit to the exclusive jurisdiction of the courts of the Kenya with respect to any dispute or claim arising out of or
          in connection with the Terms of Service. The United Nations Convention on Contracts for the International Sale of Goods will
          not apply to these Terms of Service and is hereby expressly excluded.</li>
        <li>You acknowledge and agree that KDuka may amend these Terms of Service at any time by posting the relevant amended and restated
          Terms of Service on KDuka’s website, available at <a href="https://www.kduka.co.ke/legal/terms" target="_blank" class="body-link">https://www.kduka.co.ke/legal/terms</a> and such amendments to the Terms of Service are effective as of the date of posting. Your continued use of the Services after the amended Terms of Service are posted to KDuka’s website
          constitutes your agreement to, and acceptance of, the amended Terms of Service. If you do not agree to any changes to the Terms of Service, do not continue to use the Service.</li>
        <li>You may not use the KDuka service for any illegal or unauthorized purpose nor may you, in the use of the Service, violate any laws in your jurisdiction (including but not limited to copyright laws), the laws applicable to you in your customer’s jurisdiction, or the laws of Kenya. You will comply with all applicable laws, rules and regulations in your use of the Service.</li>
        <!--  <li>The KDUka API License and Terms of Use at <a href="/legal/api-terms" target="_blank" class="body-link">www.kduka.co.ke/legal/api-terms</a> (“KDuka API Terms”) govern your access to
        and use of the KDuka API (as defined therein). You are solely
        responsible for the activity that occurs using your API Credentials
        (as defined in the KDuka API Terms) and for keeping your API Credentials secure.</li> -->
        <li>You agree not to reproduce, duplicate, copy, sell, resell or exploit any portion of the Service, use of the Service, or access to the Service without the express written permission by KDuka.</li>
        <li>You shall not purchase search engine or other pay per click keywords (such as Google AdWords), or domain names that use KDuka or KDuka's trademarks and/or variations and misspellings thereof.</li>
        <li>Questions about the Terms of Service should be sent to
          <a href="mailto:support@kduka.co.ke" target="_blank" class="body-link">support@kduka.co.ke</a>.</li>
        <li>You understand that your Materials (not including credit card information), may be transferred unencrypted and involve (a) transmissions over various networks; and (b) changes to conform and adapt to technical requirements of connecting networks or devices. Credit Card information is always encrypted during transfer over networks.</li>
        <li>The Services allow you to send certain communications to your customers by short message service (SMS) messaging (for example, sending order confirmation notifications via SMS) (the &quot;SMS Services&quot;). You will only use the SMS Services in compliance with this agreement, and the laws of the jurisdiction from which you send messages, and in which your messages are received.</li>
        <li>You acknowledge and agree that your use of the Service, including information transmitted to or stored by KDuka, is governed by its privacy policy at <a href="https://www.kduka.co.ke/legal/privacy" target="_blank" class="body-link">https://www.kduka.co.ke/legal/privacy</a></li>
      </ol>
    </div>
    </div>
  </div>

  <h2 id="Rights">12. KDuka Rights</h2>

  <div class="terms__section grid-container">
    <div class="grid-item grid-5">

      <div class="long-form-content "><div class="long-form-content "><ol>
        <li>We reserve the right to modify or terminate the Service for any reason, without notice at any time.</li>
        <li>We reserve the right to refuse service to anyone for any reason at any time.</li>
        <li>We may, but have no obligation to, remove Materials and suspend or terminate Accounts if we determine in our sole discretion that the goods or services offered via a store, or the Materials uploaded or posted to a store, violate our
          <a href="https://www.kduka.co.ke/legal/aup" target="_blank" class="body-link">Acceptable Use Policy (“AUP”)</a>
          or these Terms of Service.</li>
        <li>Verbal or written abuse of any kind (including threats of abuse or retribution) of any KDuka customer, KDuka employee, member, or officer will result in immediate Account termination.</li>
        <li>KDuka does not pre-screen Materials and it is in our sole discretion to refuse or remove any Materials from the Service.</li>
        <li>We reserve the right to provide our services to your competitors and make no promise of exclusivity in any particular market segment. You further acknowledge and agree that KDuka employees and contractors may also be KDuka customers/merchants and that they may compete with you, although they may not use your confidential information in doing so.</li>
        <li>In the event of a dispute regarding Account ownership, we reserve the right to request documentation to determine or confirm Account ownership. Documentation may include, but is not limited to, a
          scanned copy of your business license, government issued photo ID, the last four digits of the credit card on file, etc.</li>
        <li>KDuka retains the right to determine, in our sole judgment, rightful Account ownership and transfer an Account to the rightfu owner. If we are unable to reasonably determine the rightful Account owner, KDuka reserves the right to temporarily disable an Account until resolution has been determined between the disputing parties.</li>
      </ol>
      </div>
      </div>
    </div>
  </div>

  <h2 id="Liability">13. Limitation of Liability</h2>

  <div class="terms__section grid-container">
    <div class="grid-item grid-5">

      <div class="long-form-content "><div class="long-form-content "><ol>
        <li>You expressly understand and agree that KDuka shall not be
          liable for any direct, indirect, incidental, special,
          consequential or exemplary damages, including but not limited to,
          damages for loss of profits, goodwill, use, data or other
          intangible losses resulting from the use of or inability to use
          the service.</li>
        <li>In no event shall KDuka or our suppliers be liable for lost
          profits or any special, incidental or consequential damages
          arising out of or in connection with our site, our services or
          these Terms of Service (however arising including negligence). You
          agree to indemnify and hold us and (as applicable) our parent,
          subsidiaries, affiliates, KDuka partners, officers, directors,
          agents, employees, and suppliers harmless from any claim or demand,
          including reasonable attorneys’ fees, made by any third party due
          to or arising out of your breach of these Terms of Service or the
          documents it incorporates by reference (including the AUP), or your
          violation of any law or the rights of a third party.</li>
        <li>Your use of the Service is at your sole risk. The Service is
          provided on an “as is” and “as available” basis without any
          warranty or condition, express, implied or statutory.</li>
        <li>KDuka does not warrant that the Service will be uninterrupted,
          timely, secure, or error-free.</li>
        <li>KDuka does not warrant that the results that may be obtained
          from the use of the Service will be accurate or reliable.</li>
        <li>KDuka does not warrant that the quality of any products,
          services, information, or other Materials purchased or obtained by
          you through the Service will meet your expectations, or that any
          errors in the Service will be corrected.</li>
      </ol>
      </div>
      </div>
    </div>
  </div>


  <h2 id="Waiver">14. Waiver and Complete Agreement</h2>

  <div class="terms__section grid-container">
    <div class="grid-item grid-5">

      <div class="long-form-content "><div class="long-form-content "><p>The failure of KDuka to exercise or enforce any right or provision
        of the Terms of Service shall not constitute a waiver of such right
        or provision. The Terms of Service and the documents it incorporates
        by reference constitute the entire agreement between you and KDuka
        and govern your use of the Service, superseding any prior agreements
        between you and KDuka (including, but not limited to, any prior
        versions of the Terms of Service).</p>
      </div>
      </div>
    </div>
  </div>

  <h2 id="Ip">15. Intellectual Property and Customer Content</h2>

  <div class="terms__section grid-container">
    <div class="grid-item grid-5">

      <div class="long-form-content "><div class="long-form-content "><ol>
        <li>We do not claim any intellectual property rights over the
          Materials you provide to the KDuka service. All Materials you
          upload remains yours. You can remove your KDuka store at any
          time by deleting your Account.</li>
        <li>By uploading Materials, you agree: (a) to allow other
          internet users to view the Materials you post publicly to your store;
          (b) to allow KDuka to store, and in the case of Materials you post
          publicly, display, your Materials; and (c) that KDuka
          can, at any time, review all the Materials submitted to its Service,
          although KDuka is not obligated to do so.</li>
        <li>You retain ownership over all Materials that you upload to a
          KDuka store; however, by making your store public, you agree to
          allow others to view Materials that you post publicly to your store.
          You are responsible for compliance of the Materials with any applicable
          laws or regulations.</li>
        <li>We will not disclose your confidential information to third
          parties (“Your Confidential Information”), except as required
          in the course of providing our services. Your Confidential Information
          includes any Materials or information provided by you to us which
          is not publicly known. Your Confidential Information does not include
          information that: (a) was in the public domain at the time we
          received it; (b) comes into the public domain after we received it
          through no fault of ours; (c) we received from someone other than
          you without breach of our or their confidentiality obligations; or
          (d) we are required by law to disclose.</li>
        <li>KDuka shall have the non-exclusive right and license to use the
          names, trademarks, service marks and logos associated with your
          store to promote the Service.</li>
      </ol>
      </div>
      </div>
    </div>
  </div>

  <h2 id="Fees">16. Payment of Fees</h2>

  <div class="terms__section grid-container">
    <div class="grid-item grid-5">

      <div class="long-form-content "><div class="long-form-content "><ol>
        <li>You will pay the Fees applicable to your subscription to Online
          Service and/or POS Services (“Subscription Fees”) and any other
          applicable fees, including but not limited to applicable fees relating
          to the value of sales made through your store when using all payment
          providers other than KDuka Payments (“Transaction Fees”), and any
          fees relating to your purchase or use of any products or services such
          as KDuka Payments, shipping, Themes, domain names
          or Third Party Services (“Additional Fees”). Together, the Subscription Fees,
          Transaction Fees and the Additional Fees are referred to as the “Fees”.</li>
        <li>You must keep a valid credit card on file with us to pay for all
          incurred and recurring Fees. KDuka will charge applicable Fees
          to the credit card account that you authorize (“Authorized Card”),
          and KDuka will continue to charge the Authorized Card (or any
          replacement card) for applicable Fees until the Services are
          terminated, and any and all outstanding Fees have been paid in
          full. Unless otherwise indicated, all Fees and other charges are
          in Kenyan Shillings, and all payments shall be in Kenyan Currency.</li>
        <li>Subscription Fees are paid in advance and will be billed in 30
          day intervals (each such date, a “Billing Date”). Transaction Fees
          and Additional Fees will be charged from time to time at KDuka’s
          discretion. You will be charged on each Billing Date for all
          outstanding Fees that have not previously been charged. Fees will
          appear on an invoice, which will be sent to the Account Owner via
          the email provided. As well, an invoice will appear on the Account
          page of your KDuka administration console. Users have
          approximately two weeks to bring up and settle any issues with the
          billing of Subscription Fees.</li>
        <li>If we are not able to process payment of Fees using the Authorized
          Card, we will make a second attempt to process payment using the
          Authorized Card 3 days later. If the second attempt is not successful,
          we will make a final attempt 3 days following the second attempt.
          If our final attempt is not successful, we may suspend and revoke
          access to your Account. Your Account will be reactivated upon your
          payment of any outstanding Fees, plus the Fees applicable to your
          next Billing Cycle. You will not be able to access your Account
          during any period of suspension. If the outstanding Fees remain
          unpaid for 60 days following the date of suspension, KDuka
          reserves the right to terminate your Account.</li>
        <li>All Fees are exclusive of applicable taxes, fees or charges now in force or enacted in the
          future (“Taxes”).</li>
        <li>You are responsible for all applicable Taxes that arise from or
          as a result of your subscription to or purchase of KDuka’s
          products and services. These Taxes are based on the rates
          applicable to the billing address you provide to us.
          Such amounts are in addition to the Fees for such products and
          services and will be billed to your Authorized Card.</li>
        <li>You must maintain your current location in the administration
          menu of your KDuka store and promptly update your location if
          you move jurisdictions. If you change jurisdictions you must
          promptly update your location in the administration menu.</li>
        <li>KDuka does not provide refunds.</li>
      </ol>
      </div>
      </div>
    </div>
  </div>

  <h2 id="Cancellation">17. Cancellation and Termination</h2>

  <div class="terms__section grid-container">
    <div class="grid-item grid-5">

      <div class="long-form-content "><div class="long-form-content "><ol>
        <li>You may cancel your Account at anytime by emailing
          <a href="mailto:support@kduka.com" target="_blank" class="body-link">support@kduka.com</a> and then following the specific instructions
          indicated to you in KDuka’s response.</li>
        <li>Upon termination of the Services by either party for any reason:

          <ol>
            <li>KDuka will cease providing you with the Services and you
              will no longer be able to access your Account;</li>
            <li>unless otherwise provided in the Terms of Service, you will
              not be entitled to any refunds of any Fees, pro rata or
              otherwise;</li>
            <li>any outstanding balance owed to KDuka for your use of the
              Services through the effective date of such termination will
              immediately become due and payable in full; and</li>
            <li>your store website will be taken offline.</li>
          </ol></li>
        <li>If you purchased a domain name through KDuka, upon cancellation
          your domain will no longer be automatically renewed. Following
          cancellation, it will be your sole responsibility to handle all
          matters related to your domain with the domain provider.</li>
        <li>If at the date of termination of the Service, there are any
          outstanding Fees owing by you, you will receive one final invoice
          via email. Once that invoice has been paid in full, you will not
          be charged again.</li>
        <li>We reserve the right to modify or terminate the KDuka Service
          or your Account for any reason, without notice at any time.</li>
        <li>Fraud: Without limiting any other remedies, KDuka may suspend
          or terminate your Account if we suspect that you (by conviction,
          settlement, insurance or escrow investigation, or otherwise) have
          engaged in fraudulent activity in connection with the Site.</li>
      </ol>
      </div>
      </div>
    </div>
  </div>

  <h2 id="Modifications">18. Modifications to the Service and Prices</h2>

  <div class="terms__section grid-container">
    <div class="grid-item grid-5">

      <div class="long-form-content "><div class="long-form-content "><ol>
        <li>Prices for using the Services are subject to change upon 30 days’
          notice from KDuka. Such notice may be provided at any time by
          posting the changes to the KDuka Site (KDuka.com) or the
          administration menu of your KDuka store via an announcement.</li>
        <li>KDuka reserves the right at any time, and from time to time, to
          modify or discontinue, the Service (or any part thereof) with or
          without notice.</li>
        <li>KDuka shall not be liable to you or to any third party for any
          modification, price change, suspension or discontinuance of the
          Service.</li>
      </ol>
      </div>
      </div>
    </div>
  </div>

  <h2 id="ThirdParty">19. Third Party Services</h2>

  <div class="terms__section grid-container">
    <div class="grid-item grid-5">

      <div class="long-form-content "><div class="long-form-content "><ol>
        <li>In addition to these Terms of Service, you also agree to be bound
          by the additional service-specific terms applicable to services
          you purchase from, or that are provided by, KDuka’s partners or
          other third parties.</li>
        <li>KDuka may from time to time recommend, provide you with access
          to, or enable third party software, applications (“Apps”),
          products, services or website links (collectively, “Third Party
          Services”) for your consideration or use. Such Third Party Services are made available
          only as a convenience, and your purchase, access or use of any
          such Third Party Services is solely between you and the applicable
          third party services provider (“Third Party Provider”). Any use by
          you of Third Party Services offered through the Services or
          KDuka’s website is entirely at your own risk and discretion, and
          it is your responsibility to read the terms and conditions and/or
          privacy policies applicable to such Third Party Services before
          using them. In some instances, KDuka may receive a revenue
          share from Third Party Providers that KDuka recommends to you.</li>
        <li>We do not provide any warranties with respect to Third Party
          Services. You acknowledge that KDuka has no control over Third
          Party Services and shall not be responsible or liable to anyone
          for such Third Party Services. The availability of Third Party
          Services on KDuka’s websites,
          or the integration or enabling of such Third Party Services with
          the Services does not constitute or imply an endorsement,
          authorization, sponsorship, or affiliation by or with KDuka.
          KDuka does not guarantee the availability of Third Party Services
          and you acknowledge that KDuka may disable access to any Third
          Party Services at any time in its sole discretion and without notice
          to you. KDuka is not responsible or liable to anyone for
          discontinuation or suspension of access to, or disablement of,
          any Third Party Service. KDuka strongly recommends that you seek
          specialist advice before using or relying on Third Party Services,
          to ensure they will meet your needs.</li>
        <li>If you enable a Third Party Service for use with the
          Services, you grant us permission to allow the applicable Third
          Party Provider to access your data and to take any other actions
          as required for the interoperation of the Third Party Service with
          the Services, and any exchange of data or other interaction
          between you and the Third Party Provider is solely between you and
          such Third Party Provider. KDuka is not responsible for any
          disclosure, modification or deletion of your data or other Materials,
          or for any corresponding losses or damages you may suffer, as a
          result of access by a Third Party Service or a Third Party
          Provider to your data or other Materials.</li>
        <li>Google Maps is a Third Party Service that is used within the
          Services. Your use of the Service is subject to your acceptance of
          the Google Maps and Earth Enterprise Universal <a href="https://enterprise.google.com/maps/terms/universal_aup.html" target="_blank" class="body-link">Acceptable Use Policy</a>,
          as it may be amended by Google from time to time.</li>
        <li>Under no circumstances shall KDuka be liable for any direct,
          indirect, incidental, special, consequential, punitive,
          extraordinary, exemplary or other damages whatsoever, that result
          from any Third Party Services or your contractual relationship
          with any Third Party Provider, including any Expert. These
          limitations shall apply even if KDuka has been advised of the
          possibility of such damages. The foregoing limitations shall apply
          to the fullest extent permitted by applicable law.</li>
        <li>You agree to indemnify and hold us and (as applicable) our parent,
          subsidiaries, affiliates, KDuka partners, officers, directors,
          agents, employees, and suppliers harmless from any claim or demand,
          including reasonable attorneys’ fees, arising out of your use of a
          Third Party Service or your relationship with a Third Party
          Provider.</li>
      </ol>
      </div>
      </div>
    </div>
  </div>



  <h2 id="Dmca">20. DMCA Notice and Takedown Procedure</h2>

  <div class="terms__section grid-container">
    <div class="grid-item grid-5">

      <div class="long-form-content "><div class="long-form-content "><p>KDuka supports the protection of intellectual property and asks
        KDuka merchants to do the same. It’s our policy to respond to all
        notices of alleged copyright infringement. If someone believes that
        one of our merchants is infringing their intellectual property
        rights, they can send a DMCA Notice to KDuka’s designated agent
        using our form. Upon receiving a DMCA Notice, we may remove or
        disable access to the Materials claimed to be a copyright
        infringement. Once provided with a notice of takedown, the merchant
        can reply with a counter notification using our form if they object
        to the complaint. The original complainant has 14 business days
        after we receive a counter notification to seek a court order
        restraining the merchant from engaging in the infringing activity,
        otherwise we restore the material.</p>
      </div>
      </div>
    </div>
  </div>

  <h2 id="ConfidentialInformation">21. KDuka Confidential Information</h2>

  <div class="terms__section grid-container">
    <div class="grid-item grid-5">

      <div class="long-form-content "><div class="long-form-content "><p>During the course of your use of the Services, you may receive
        information relating to us, or to the Services, that is not known to
        the general public including information related to our security
        program and practices (“KDuka Confidential Information”). You
        agree that: (a) KDuka Confidential Information will remain
        KDuka’s exclusive property; (b) you will use KDuka Confidential
        Information only as is reasonably necessary for your use of or
        participation in the Services; (c) you will not otherwise disclose
        KDuka Confidential Information to any third party, except that you
        may disclose to your affiliates, employees, subcontractors and agents
        who, in each case, are subject to confidentiality obligations at least
        as protective of the KDuka Confidential Information as those
        contained in these Terms of Service; and (d) you will take all
        reasonable measures to protect the KDuka Confidential Information
        against any use or disclosure that is not expressly permitted in
        these Terms of Service.</p>
      </div>
      </div>
    </div>
  </div>
</div>
