
<% if user_signed_in? %>
    <h1>Your Stores</h1>
<% unless @stores.blank? %>
        <table class="table">
          <thead>
          <tr>
            <th>#</th>
            <th>Store Name</th>
            <th>Active</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <% num = 1 %>
          <% @stores.each do |s| %>
              <tr>
                <td><%= num %></td>
                <td><%= link_to s.name, store_path(s), :title => 'Visit ' + s.name %></td>
                <td><%= s.active %></td>
                <td><%= link_to "Visit Shop", store_products_path(s), target:"_blank" %> |  <%= link_to "Delete", store_path(s), method:'delete', confirm:"Are you Sure you want to delete this store?"%> | <%= link_to 'Categories', store_categories_url(s) %></td>
              </tr>
              <% num = num + 1 %>
          <% end %>
          </tbody>
        </table>
<% else %>
You have no stores
<% end %>
<p><%= link_to "New Store", new_store_registration_path, :class => 'btn btn-primary' %></p>

<% else %>
<p>Please Log In</p>
<% end %>