<script>
$(document).ready(function(){
    $('.home').addClass('active');
});
</script>
<title><%= @store.name %> | <%= @title %></title>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <!-- Indicators-->

  <div class="carousel-inner">
    <div class="carousel-item item1 active" style="background-image:url('<%= @store.banner_url.to_s %>') !important;background-size:cover">
      <div class="container">
        <div class="w3l-space-banner">
          <div class="carousel-caption p-lg-5 p-sm-4 p-3">
            <p>Welcome to</p>
            <h3 class="font-weight-bold pt-2 pb-lg-5 pb-4">
              <span><%= @store.name %></span>
            </h3>
            <a class="button2" href="<%= all_path %>">Shop Now </a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<!-- //banner -->

<!-- top Products -->
<div class="ads-grid py-sm-5 py-4">
  <div class="container py-xl-4 py-lg-2">
    <!-- tittle heading -->
    <h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
      Latest
      <span>Products</span></h3>
    <!-- //tittle heading -->
    <div class="row">
      <!-- product left -->
      <div class="agileinfo-ads-display col-lg-12">
        <div class="wrapper">
          <!-- first section -->
          <div class="product-sec1 px-sm-4 px-3 py-sm-5  py-3 mb-4">
            <div class="row">
              <% if @products.nil? %>
                  <p class="text-center">This store does not have any active Products</p>
              <% else %>
                  <% @products.each do |product| %>
                      <%= render "layouts/#{Layout.find(@store.layout_id).name}/product_item", product: product, order_item: @order_item %>
                  <% end %>
              <% end %>
            </div>
          </div>
          <!-- //first section -->
        </div>
      </div>
      <!-- //product left -->

    </div>
  </div>
</div>
<!-- //top products -->
