<!-- top-header -->
<div class="agile-main-top">
  <div class="container-fluid">
    <div class="row main-top-w3l py-2">
      <div class="col-lg-4 header-most-top">
        <p class="text-white text-lg-left text-center">
          <i class="fa fa-envelope ml-1"></i> <%= @store.display_email %>
        </p>
      </div>
      <div class="col-lg-8 header-most-top" style="text-align:right">
        <p class="text-white text-lg-right text-center">
          <i class="fa fa-phone mr-2"></i> <%= @store.phone %>
        </p>
      </div>
    </div>
  </div>
</div>

<!-- //top-header -->

<!-- header-bottom-->
<div class="header-bot">
  <div class="container">
    <div class="row header-bot_inner_wthreeinfo_header_mid">
      <!-- logo -->


            <% if @store.logo_status %>
            <div class="col-md-2 logo_agile">
            <a href="<%= root_path %>" style="color: <%= @store.store_color %> !important" class="font-weight-bold font-italic">
            <h1 class="text-center">
                <%= image_tag(@store.logo_url.to_s,class:"our_logo") %>
            </h1>
            </a>
            </div>
            <div class="col-md-10 header mt-4 mb-md-0 mb-4">
            <% else %>
            <div class="col-md-3 logo_agile">
            <a href="<%= root_path %>" style="color: <%= @store.store_color %> !important" class="font-weight-bold font-italic">
            <h1 class="text-center">
                <%= @store.name %>
            </h1>
            </a>
            </div>
            <div class="col-md-9 header mt-4 mb-md-0 mb-4">
            <% end %>


      <!-- //logo -->
      <!-- header-bot -->

        <div class="row">
          <!-- search -->
          <div class="col-md-10 agileits_search">

          </div>
          <!-- //search -->
          <!-- cart details -->
          <div class="col-md-2 text-center top_nav_right text-center mt-sm-0 mt-2">
            <div class="wthreecartaits wthreecartaits2 cart cart box_1">
              <%= link_to(cart_path) do %>
                <button class="btn w3view-cart" type="submit" name="submit" value="" style="width:100%">
                  <i class="fa fa-cart-arrow-down"></i> (<span class="cart-text"><%= render "layouts/#{Layout.find(@store.layout_id).name}/cart_text" %></span>)
                </button>
              <% end %>
            </div>
          </div>
          <!-- //cart details -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- shop locator (popup) -->
<!-- //header-bottom -->
<!-- navigation -->
<div class="navbar-inner">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div style="width:100%;text-align:center !important">
      <button style="border-color: #000 !important;" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent"><br/>
        <ul class="navbar-nav ml-auto text-center mr-xl-5" style="margin-right:auto !important;margin-left:auto !important;">
          <% if @store.homepage_status == true %>
          <li class="nav-item mr-lg-2 mb-lg-0 mb-2">
            <a class="nav-link home" href="<%= root_path %>">Home
            </a>
          </li>
          <%end%>
          <% if @store.aboutpage_status == true %>
          <li class="nav-item mr-lg-2 mb-lg-0 mb-2">
            <a class="nav-link about" href="<%= about_path %>">About
            </a>
          </li>
          <%end%>
          <li class="nav-item dropdown mr-lg-2 mb-lg-0 mb-2">
            <a class="nav-link dropdown-toggle shop" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Products
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="<%= all_path %>">All Products</a>
              <% @store.category.where(active:true).each do |c| %>
                  <% if !c.nil? %>
                      <a class="dropdown-item" href="<%= product_category_path(c.id) %>"><%= c.name %></a>
                  <% end %>
              <% end %>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link contact" href="<%= contact_path %>">Contact Us</a>
          </li>
        </ul>
      </div>
      </div>
    </nav>
  </div>
</div>
<!-- //navigation -->
