<title><%= @store.name %> | <%= @title %></title>
<div class="about_top shopping-cart" style="margin-top:4em;margin-bottom:3em">
  <div class="container">

		<div class="col-md-12">

		 <div class="grid_2">
       <% if !@order_item.nil? && @order_item.errors.any? %>
         <div class="alert alert-danger">
           <ul>
           <% @order_item.errors.full_messages.each do |msg| %>
             <li><%= msg %></li>
           <% end %>
           </ul>
         </div>
       <% end %>

       <% if @order_items.size == 0 %>
         <h1 style="text-align:center">
           There are no items in your shopping cart.  Please <%= link_to "go back", all_path %> and add some items to your cart.<br><br><br>
         </h1>
       <% else %>
       <div class="col-md-9">
         <h3 style="text-align:center;font-size:35px;font-weight:700" class="wow fadeInUp animated" data-wow-delay=".5s">Your Shopping Cart</h3><br><br>
         <% @order_items.each do |order_item| %>
               <%= render 'layouts/soko/cart_row', product: order_item.product, order_item: order_item, show_total: true %>
         <% end %>
       </div>
         <div class="col-md-3" style="padding-top:5em;background:#f8f8f8">
         <h1 class="text-center">CART TOTALS</h1><br>
         <h2 style="color:<%= @store.store_color %>;text-align:center;margin-bottom:1.5em;font-size:1.5em;font-weight:700">Total : <%= number_to_currency(current_order.subtotal, :unit => "Ksh ", :separator => ".", :delimiter => ",") %></h2>

         <%= link_to carts_shipping_path , :style=>'text-decoration:none' do %>
         <button class="soko-button" style="margin-bottom:5em">Checkout</button>
         <%end%>
         </div>
       <% end %>
		 </div>
	  </div>
	 <div class="clearfix"> </div>
</div>
</div>
