var body = {
    "command": "request",
    "data": {
        "api_key": "<%= @store.sendy_key %>",
        "api_username": "<%= @store.sendy_username %>",
        "vendor_type": 1,
        "from": {
            "from_name": "<%= @store.auto_delivery_location %>",
            "from_lat": <%= @store.lat %>,
            "from_long": <%= @store.lng %>,
            "from_description": ""
        },
        "to": {
            "to_name": '<%= @locat %>',
            "to_lat": <%= @lat %>,
            "to_long": <%= @lng %>,
            "to_description": ""
        },
        "recepient": {
            "recepient_name": '<%= @full_name %>',
            "recepient_phone": '<%= @phone %>',
            "recepient_email": '<%= @email %>'
        },
        "delivery_details": {
            "pick_up_date": "2016-04-20 12:12:12",
            "collect_payment": {
                "status": false,
                "pay_method": 0,
                "amount": 10
            },
            "return": true,
            "note": " Sample note",
            "note_status": true,
            "request_type": "quote",
            "order_type": "batch_later_order",
            "ecommerce_order": "ecommerce_order_001",
            "skew": 1,
            "package_size": [
                {
                    "weight": <%= @weight %>,
                    "height": <%= @height %>,
                    "width": <%= @width %>,
                    "length": <%= @length %>,
                    "item_name": "MISC"
                }
            ]
        }
    }
};

//console.log(body);

$.ajax({
    <% if Rails.env.production? %>
    url: 'https://api.sendyit.com/v1/',
    <% else %>
    url: 'https://apitest.sendyit.com/v1/',
    <% end %>
    method: 'post',
    data: JSON.stringify(body),
    beforeSend: function (xhr) {
        xhr.setRequestHeader('Content-Type', 'text/plain')
    },
    success: function (res) {
        res = JSON.parse(res);
        //console.log(res);

        if (res['status'] == true) {

            $('.price').html(' <p> Delivery Charge: ' + res['data']['amount']);

            $("#delivery_order").val(res['data']['order_no']);
            $("#delivery_amount").val(res['data']['amount']);
            $("#lat").val('<%= @lat %>')
            $("#long").val('<%= @lng %>')
            $("#process").attr("value","Finalize");
            $("#process").removeAttr("disabled");

        }
        else {
            $('.price').html('<p> Sorry, we cannot be able to do delivery for you at this time, please <a href="<%= contact_path %>">Contact Us</a>.</p>');
        }

    }
});





