var body = {
    "command": "request",
    "data": {
        "api_key": "<%= @store.sendy_key %>",
        "api_username": "<%= @store.sendy_username %>",
        "vendor_type": 1,
        "from": {
            "from_name": "Green House",
            "from_lat": <%= @lat %>,
            "from_long": <%= @lng %>,
            "from_description": ""
        },
        "to": {
            "to_name": "KICC",
            "to_lat": -1.28869,
            "to_long": 36.823363,
            "to_description": ""
        },
        "recepient": {
            "recepient_name": "Sendy User",
            "recepient_phone": "0728561783",
            "recepient_email": "support@sendy.co.ke"
        },
        "delivery_details": {
            "pick_up_date": "2016-04-20 12:12:12",
            "collect_payment": {
                "status": false,
                "pay_method": 0,
                "amount": 10
            },
            "return": true,
            "note": " Sample note",
            "note_status": true,
            "request_type": "delivery",
            "order_type": "ondemand_delivery",
            "ecommerce_order": "ecommerce_order_001",
            "skew": 1,
            "package_size": [
                {
                    "weight": 20,
                    "height": 10,
                    "width": 200,
                    "length": 30,
                    "item_name": "laptop"
                }
            ]
        }
    }
};

$.ajax({
    url: 'https://apitest.sendyit.com/v1/',
    method: 'post',
    data: JSON.stringify(body),
    beforeSend: function (xhr) {
        xhr.setRequestHeader('Content-Type', 'text/plain')
    },
    success: function (res) {
        res = JSON.parse(res);
        console.log(res);

        if (res['status'] == true) {
            $('.price').html(' <p> Price: ' + res['data']['amount'] + '</p> <p>Order Number: ' + res['data']['order_no'] + '</p>');
        }
        else {
            $('.price').html('Sorry, we cannot be able to do delivery for you at this time, please <a href="<%= contact_path %>">Contact Us</a>.');
        }

    }
});





