<!DOCTYPE HTML>
<html>
<head>
  <title>KDuka Admins Dashboard</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="keywords" content="KDuka, Online shopping made easy" />

  <!----webfonts--->
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900" rel="stylesheet">
  <!-- <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'> -->
  <!-- <script src="https://use.fontawesome.com/0c894d70a3.js"></script> -->
  <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <% if Rails.env.production?  %>
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
        (function(){
            var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
            s1.async=true;
            s1.src='https://embed.tawk.to/59fc3b9abb0c3f433d4c6d5e/default';
            s1.charset='UTF-8';
            s1.setAttribute('crossorigin','*');
            s0.parentNode.insertBefore(s1,s0);
        })();
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109847469-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-109847469-1');
    </script>
    <!--End of Tawk.to Script-->
        <% end %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <% Dir.foreach("public/stylesheets/admin") do |item|
    next if item == '.' or item == '..' %>
      <%= stylesheet_link_tag "admin/#{item}" %>
  <% end %>
  <% Dir.foreach("public/javascripts/admin") do |item|
    next if item == '.' or item == '..' %>
      <%= javascript_include_tag "admin/#{item}" %>
  <% end %>
    <%= favicon_link_tag 'favicon/apple-icon-57x57.png' %>
    <%= favicon_link_tag 'favicon/apple-icon-60x60.png' %>
    <%= favicon_link_tag 'favicon/apple-icon-72x72.png' %>
    <%= favicon_link_tag 'favicon/apple-icon-76x76.png' %>
    <%= favicon_link_tag 'favicon/apple-icon-114x114.png' %>
    <%= favicon_link_tag 'favicon/apple-icon-120x120.png' %>
    <%= favicon_link_tag 'favicon/apple-icon-144x144.png' %>
    <%= favicon_link_tag 'favicon/apple-icon-152x152.png' %>
    <%= favicon_link_tag 'favicon/apple-icon-180x180.png' %>
    <%= favicon_link_tag 'favicon/android-icon-192x192.png' %>
    <%= favicon_link_tag 'favicon/favicon-32x32.png' %>
    <%= favicon_link_tag 'favicon/favicon-96x96.png' %>
    <%= favicon_link_tag 'favicon/favicon-16x16.png' %>
<script>
$(document).ready( function () {
    $('#dataTable').DataTable();
} );
</script>

</head>
<body>
<div id="wrapper">
     <!-- Navigation -->
        <nav class="top1 navbar navbar-default navbar-static-top navbar-fixed-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a style="background:#fff" class="navbar-brand" href="<%= admins_path %>"><span><%= image_tag("admin/logo.png",style:"width:auto;height:34px") %></span> <span style="color:#7aae42;">Dashboard</span></a>
            </div>
            <!-- /.navbar-header -->
            <ul class="nav navbar-nav navbar-right">

			    <li class="dropdown">
	        		<a href="#" class="dropdown-toggle avatar" data-toggle="dropdown"><span style="color:#fff"><%= current_admin.email%> </span> <%= image_tag("admin/1.png") %></a>
	        		<ul class="dropdown-menu">
    						<li class="dropdown-menu-header text-center">
    							<strong>Account</strong>
    						</li>
    						<li class="m_2"><a href="<%= edit_admin_password_path %>"><i class="fa fa-cogs"></i> Settings</a></li>

    						<li class="divider"></li>
    						<li class="m_2">
                  <%= link_to destroy_admin_session_path , method:'delete' do %>
                    <i class="fa fa-sign-out"></i> Logout
                  <% end %>
                </li>
	        		</ul>
	      		</li>
			</ul>

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="<%= admins_path %>"><i class="fa fa-home fa-fw nav_icon"></i> Home</a>
                        </li>
                        <li>
                            <a href="<%= layouts_path %>"><i class="fa fa-desktop fa-fw nav_icon"></i> Layouts</a>
                        </li>
                      <li>
                        <a href="<%= admins_ipns_path %>"><i class="fa fa-money fa-fw nav_icon"></i> IPNS</a>
                      </li>
                      <li>
                        <a href="<%= admins_transactions_path %>"><i class="fa fa-shopping-cart fa-fw nav_icon"></i> Orders Money</a>
                      </li>
                      <li>
                        <a href="<%= admins_transfers_path %>"><i class="fa fa-money fa-fw nav_icon"></i> Funds Transfers</a>
                      </li>
                      <li>
                        <a href="<%= admins_subscriptions_path %>"><i class="fa fa-envelope fa-fw nav_icon"></i> Subscriptions</a>
                      </li>
                      <li>
                        <a href="<%= admins_earnings_path %>"><i class="fa fa-money fa-fw nav_icon"></i> Earnings</a>
                      </li>
                        <li>
                            <a href="<%= edit_admin_password_path %>"><i class="fa fa-gears fa-fw nav_icon"></i> Account</a>
                        </li>
                      <li>
                        <a href="<%= admins_feedback_path %>"><i class="fa fa-comments fa-fw nav_icon"></i> Feedback</a>
                      </li>
                        <li>
                            <a href="<%= root_path %>"><i class="fa fa-globe fa-fw nav_icon"></i> Back to Website</a>
                        </li>
                        <li>
                          <%= link_to destroy_admin_session_path , method:'delete' do %>
                            <i class="fa fa-sign-out fa-fw nav_icon"></i> Logout
                          <% end %>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
        <div style="width:100%;height:4em;background:#f2f4f8"></div>
        <div id="page-wrapper">
        <div class="graphs">
          <div class="col-md-12 span_3">
            <% if !notice.nil? %>
            <div class="alert alert-success" role="alert">
              <strong><%= notice %></strong>
            </div>
            <% end %>
            <% if !alert.nil? %>
            <div class="alert alert-info" role="alert">
              <strong><%= alert %></strong>
            </div>
            <% end %>
          </div>


          <h1 style="color:#7aae42"><a style="color:#7aae42" href="<%=admins_path %>">Admin Dashboard</a></h1>
          <br>



          <%= yield %>

		<div class="copy">
            <p>Copyright &copy; <%= Time.current.year %> KDuka. All Rights Reserved | A product of <a href="http://www.zerone.co.ke" target="_blank">Zerone I.T. Solutions</a></p>
	    </div>
		</div>
       </div>
      <!-- /#page-wrapper -->
   </div>
    <!-- /#wrapper -->
</body>
</html>
