<title><%= @store.name %></title>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->

  <div class="carousel-inner" role="listbox">
    <div class="item active" style="background:-webkit-linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url('<%= @store.banner_url.to_s %>') no-repeat;
      background:-moz-linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url('<%= @store.banner_url.to_s %>') no-repeat;
      background:-ms-linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url('<%= @store.banner_url.to_s %>') no-repeat;
      background:linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url('<%= @store.banner_url.to_s %>') no-repeat;
      background-size:cover !important">
      <div class="container">
        <div class="carousel-caption">
          <h3>Welcome to <br/><span><%= @store.name %></span></h3>
          <a class="hvr-outline-out button2" href="<%= all_path %>">Shop Now </a>
        </div>
      </div>
    </div>
  </div>
  <!-- The Modal -->
  </div>

<!-- /new_arrivals -->
<div class="new_arrivals_agile_w3ls_info">
  <div class="container">
      <h3 class="wthree_text_info">Latest <span>Products</span></h3>
    <div class="col-md-12">
        <div class="resp-tabs-container">
        <!--/tab_one-->
          <div class="tab1">
            <% if @products.nil? %>
                <p class="text-center">This store does not have any active Products</p>
            <% else %>
                <% @products.each do |product| %>
                    <%= render "layouts/#{Layout.find(@store.layout_id).name}/product_item", product: product, order_item: @order_item %>
                <% end %>
            <% end%>

            <div class="clearfix"></div>
          </div><br><br><br>
          <div class="row text-center">
          <a href="<%= all_path %>" class="elite-button">View More Products</a>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- //new_arrivals -->
<% if !@featured.nil? %>
    <% @featured.each do |category| %>
        <div class="new_arrivals_agile_w3ls_info">
          <div class="container">
              <h3 class="wthree_text_info"><%= category.name %></h3>
            <div class="col-md-12">
                <div class="resp-tabs-container">
                <!--/tab_one-->
                  <div class="tab1">
                    <% @cat_products = Product.where(active:true,category_id:category.id).limit(3).order('id desc') %>
                    <% if !@cat_products.nil? %>
                        <% @cat_products.each do |product| %>
                            <%= render "layouts/#{Layout.find(@store.layout_id).name}/product_item", product: product, order_item: @order_item %>
                        <% end %>
                    <% end %>
                    <div class="clearfix"></div>
                  </div><br><br><br>
                  <div class="row text-center">
                  <a href="<%= product_category_path(category.id) %>" class="elite-button">View More from <%= category.name %></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
    <% end %>
<% end %>
