<!-- banner -->
<div class="ban-top">
	<div class="container">
		<div class="top_nav_left">
			<nav class="navbar navbar-default">
			  <div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
				  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse menu--shylock" id="bs-example-navbar-collapse-1">
				  <ul class="nav navbar-nav menu__list">
					<% if @store.homepage_status == true %>
					<li class="active menu__item menu__item--current"><a class="menu__link" href="<%= root_path %>">Home <span class="sr-only">(current)</span></a></li>
					<% end %>
					<% if @store.aboutpage_status == true %>
					<li class=" menu__item"><a class="menu__link" href="<%= about_path %>">About</a></li>
					<% end %>
					<li class="dropdown menu__item">
						<a href="#" class="dropdown-toggle menu__link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Shop <span class="caret"></span></a>
							<ul class="dropdown-menu multi-column columns-3">
								<div class="agile_inner_drop_nav_info">
									<div class="col-sm-12 multi-gd-img">
										<ul class="multi-column-dropdown ">
											<li><a class="list" href="<%= all_path %>"><h4>ALL PRODUCTS</h4></a>
	                    <% @store.category.where(active:true).each do |c| %>
	                        <% if !c.nil? %>
	                            <li><a class="list" href="<%= product_category_path(c.id) %>"><h4><%= c.name %></h4></a></li>
	                        <% end %>
	                    <% end %>
	                  </ul>
									</div>

									<div class="clearfix"></div>
								</div>
							</ul>
					</li>
					<li class=" menu__item"><a class="menu__link" href="<%= contact_path %>">Contact</a></li>
<!--					<li class=" menu__item"><a class="menu__link" href="#" data-toggle="modal" data-target="#mysearch"><i class="fa fa-search"></i></a></li>-->
					<!-- Modal -->
					<div id="mysearch" class="modal fade" role="dialog">
						<div class="modal-dialog">

							<!-- Modal content-->
							<div class="modal-content">
								<form action="#">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">&times;</button>
									<h4 class="modal-title text-center">Enter Your Search Below</h4>
								</div>
								<div class="modal-body">
									<input class="form-control text-center" type="text" name="search" placeholder="Enter Keywords...." required=""><br>
									<input style="width:100%;background:<%= @store.store_color %>" type="submit" value="Search" class="btn btn-primary">
								</div>
							</form>
							</div>

						</div>
					</div>
					<!-- /Modal -->
				  </ul>
				</div>
			  </div>
			</nav>
		</div>
		<div class="top_nav_right">
			<div class="wthreecartaits wthreecartaits2 cart cart box_1">
				<a href="<%= cart_path %>">
						<button class="w3view-cart" type="submit" name="submit" value=""><i style="color:#fff" class="fa fa-cart-arrow-down" aria-hidden="true"></i>  <span class="cart-text" style="color:#fff !important;"><span style="color:#fff"><%= render "layouts/#{Layout.find(@store.layout_id).name}/cart_text" %></span></span></button>
					</a>
					</div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<!-- //banner-top -->
