<p>Full Name: <%= current_order.name %></p><br>
<p>Email: <%= current_order.email %></p><br>
<p>Phone: <%= current_order.phone %></p><br>
<p>Location: <%= current_order.del_location %></p><br>
<p>Sub-Total: <%= current_order.subtotal %></p><br>
<p>Shipping: <%= current_order.shipping %></p><br>
<p>Tax: <%= current_order.tax %></p><br>
<p>Total: <%= current_order.total %></p><br>
<p>Instructions: <%= current_order.order_instructions %></p><br>


<button class='btn btn-success col-sm-12 col-md-6 col-md-offset-3'  id='checkout' style="display:block;margin-top: 1em" >Pay and Complete</button>
