<!DOCTYPE html>
<html>
<head>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="keywords" content=""/>
<meta name="description" content="<%= @store.name %> | <%= @store.slogan %>">
<meta name="author" content="<%= @store.name %>">
<!--/tags -->
<% if @store.logo_status %>
<!--Favicon-->
<link rel="apple-touch-icon" sizes="57x57" href="<%= @store.logo_url.to_s %>">
<link rel="apple-touch-icon" sizes="60x60" href="<%= @store.logo_url.to_s %>">
<link rel="apple-touch-icon" sizes="72x72" href="<%= @store.logo_url.to_s %>">
<link rel="apple-touch-icon" sizes="76x76" href="<%= @store.logo_url.to_s %>">
<link rel="apple-touch-icon" sizes="114x114" href="<%= @store.logo_url.to_s %>">
<link rel="apple-touch-icon" sizes="120x120" href="<%= @store.logo_url.to_s %>">
<link rel="apple-touch-icon" sizes="144x144" href="<%= @store.logo_url.to_s %>">
<link rel="apple-touch-icon" sizes="152x152" href="<%= @store.logo_url.to_s %>">
<link rel="apple-touch-icon" sizes="180x180" href="<%= @store.logo_url.to_s %>">
<link rel="icon" type="image/png" sizes="192x192"  href="<%= @store.logo_url.to_s %>">
<link rel="icon" type="image/png" sizes="32x32" href="<%= @store.logo_url.to_s %>">
<link rel="icon" type="image/png" sizes="96x96" href="<%= @store.logo_url.to_s %>">
<link rel="icon" type="image/png" sizes="16x16" href="<%= @store.logo_url.to_s %>">
<link rel="manifest" href="images/favicon/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="<%= @store.logo_url.to_s %>">
<meta name="theme-color" content="#ffffff">
<% else %>
<% end %>

<% if Date.current.strftime("%B") == "December" %>
<!-- <script src="/javascripts/snow/snowstorm.js"></script> -->
<%end%>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<script src="https://use.fontawesome.com/0c894d70a3.js"></script>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<% Dir.foreach("public/stylesheets/#{Layout.find(@store.layout_id).name}") do |item|
next if item == '.' or item == '..' %>
<%= stylesheet_link_tag    "#{Layout.find(@store.layout_id).name}/#{item}" %>
<% end %>
<% Dir.foreach("public/javascripts/#{Layout.find(@store.layout_id).name}") do |item|
next if item == '.' or item == '..' %>
<%= javascript_include_tag    "#{Layout.find(@store.layout_id).name}/#{item}" %>
<% end %>
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800" rel="stylesheet">
<link href='//fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,900,900italic,700italic' rel='stylesheet' type='text/css'>
<style>
<% if !@store.store_font.nil? %>
body{
	font-family: <%= @store.store_font %> !important;
}
h1{
	font-family: <%= @store.store_font %> !important;
}
h2{
	font-family: <%= @store.store_font %> !important;
}
h3{
	font-family: <%= @store.store_font %> !important;
}
h4{
	font-family: <%= @store.store_font %> !important;
}
h5{
	font-family: <%= @store.store_font %> !important;
}
h6{
	font-family: <%= @store.store_font %> !important;
}
p{
	font-family: <%= @store.store_font %> !important;
}
a{
	font-family: <%= @store.store_font %> !important;
}
<% end %>

<% if !@store.store_color.nil? %>
.elite-button{
	font-size: 13px;
	color: #fff;
	background: <%= @store.store_color %>;
	text-decoration: none;
	position: relative;
	border: 3px solid <%= @store.store_color %>;
	border-radius: 0;
	width: 100%;
	text-transform: uppercase;
	padding: 1em 2em;
	outline: none;
	letter-spacing: 1px;
	font-weight: 600;
	transition: all 0.5s;
}
.elite-button:hover,.elite-button:focus,.elite-button:active{
	font-size: 13px;
	color: <%= @store.store_color %>;
	background: #fff;
	text-decoration: none;
	position: relative;
	border: 3px solid <%= @store.store_color %>;
	border-radius: 0;
	width: 100%;
	text-transform: uppercase;
	padding: 1em 2em;
	outline: none;
	letter-spacing: 1px;
	font-weight: 600;
	transition: all 0.5s;
}
ul.multi-column-dropdown li a:hover {
    color: <%= @store.store_color %> !important;
}
@media (max-width: 767px){
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	    background-color: <%= @store.store_color %> !important;
	}
}
.menu--shylock .menu__link::before {
	background: <%= @store.store_color %> !important;
}
.menu--shylock .menu__link::after {
  background: <%= @store.store_color %> !important;
}
.box_1 {
  background: <%= @store.store_color %> !important;
}
button.w3view-cart {
    background: <%= @store.store_color %> !important;
}
.carousel-caption h3 span {
    color: <%= @store.store_color %> !important;
}
.hvr-outline-out {
    background: <%= @store.store_color %> !important;
}
.hvr-outline-out:before {
    border: <%= @store.store_color %> solid 4px !important;
}
.myclass:hover{
	color: <%= @store.store_color %> !important;
}
.snipcart-details input.button {
    background: <%= @store.store_color %> !important;
}
.link-product-add-cart:hover {
    background:  <%= @store.store_color %> none repeat scroll 0 0 !important;
}
.single-right-left h3 {
    color: <%= @store.store_color %> !important;
}
.flex-control-thumbs img {
		height: 7em !important;
		width: auto !important;
 }
  .var_dis{
    border-color: <%= @store.store_color %>;
		padding:5px 10px;
		transition: all 0.5s;
		margin-bottom: .5em !important;
  }
.our_logo{
	max-width: 150px !important;
	max-height: 100px !important;
}
@media (max-width:480px) {
	.our_logo{
		max-width: 150px !important;
		max-height: 100px !important;
	}
}
@media (max-width:720px) {
	.our_logo{
		max-width: 150px !important;
		max-height: 100px !important;
	}
}
@media (max-width:1080px) {
	.our_logo{
		max-width: 150px !important;
		max-height: 100px !important;
	}
}
<% end %>
</style>
  <% if @store.premium %>
    <!--Google Tag -->
    <%= @store.gtag.html_safe rescue nil %>
    <!--End Google Tag-->
  <% end %>
</head>
<body>
<!-- header -->
<div class="header" id="home">
	<div class="container">
		<ul>
			<li style="border-right:0px !important"><i style="color:<%= @store.store_color %> !important" class="fa fa-phone" aria-hidden="true"></i><%= @store.phone %></li>
			<li style="float:right;border-right:0px !important"><i style="color:<%= @store.store_color %> !important" class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:<%= @store.display_email %>"><%= @store.display_email %></a></li>
		</ul>
	</div>
</div>
<!-- //header -->
<!-- header-bot -->
<div class="header-bot">
	<div class="header-bot_inner_wthreeinfo_header_mid">
		<!-- header-bot -->
			<div class="col-md-2 logo_agile">
				<h1><a href="<%= root_path %>">

				<% if @store.logo_status %>
						<%= image_tag(@store.logo_url.to_s,class:"our_logo") %>
				<% else %>
						<span style="font-size:18px;"><%= @store.name %></span>

				<% end %>
				</a></h1>
			</div>
        <!-- header-bot -->
		<div class="col-md-6 agileits-social top_content" style="float:right">
						<ul class="social-nav model-3d-0 footer-social w3_agile_social">
						                                   <li class="share">Social : </li>
																							 <% if !@store.facebook.blank? %>
								 													<li><a target="_blank" href="<%= @store.facebook %>" class="facebook">
								 															<div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
								 															<div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div></a></li>
								 															<% end %>
								 															<% if !@store.twitter.blank? %>
								 													<li><a target="_blank" href="<%= @store.twitter %>" class="twitter">
								 															<div class="front"><i class="fa fa-twitter" aria-hidden="true"></i></div>
								 															<div class="back"><i class="fa fa-twitter" aria-hidden="true"></i></div></a></li>
								 															<% end %>
								 															<% if !@store.instagram.blank? %>
								 													<li><a target="_blank" href="<%= @store.instagram %>" class="instagram">
								 															<div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>
								 															<div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div></a></li>
								 															<% end %>
								 															<% if !@store.linkedin.blank? %>
								 													<li><a target="_blank" href="<%= @store.linkedin %>" class="linkedin">
								 															<div class="front"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
								 															<div class="back"><i class="fa fa-linkedin" aria-hidden="true"></i></div></a></li>
								 															<% end %>
								 															<% if !@store.youtube.blank? %>
								 													<li><a target="_blank" href="<%= @store.youtube %>" class="youtube">
								 															<div class="front"><i class="fa fa-youtube" aria-hidden="true"></i></div>
								 															<div class="back"><i class="fa fa-youtube" aria-hidden="true"></i></div></a></li>
								 															<% end %>
								 															<% if !@store.pinterest.blank? %>
								 													<li><a target="_blank" href="<%= @store.pinterest %>" class="pinterest">
								 															<div class="front"><i class="fa fa-pinterest" aria-hidden="true"></i></div>
								 															<div class="back"><i class="fa fa-pinterest" aria-hidden="true"></i></div></a></li>
								 															<% end %>
								 															<% if !@store.vimeo.blank? %>
								 													<li><a target="_blank" href="<%= @store.vimeo %>" class="vimeo">
								 															<div class="front"><i class="fa fa-vimeo" aria-hidden="true"></i></div>
								 															<div class="back"><i class="fa fa-vimeo" aria-hidden="true"></i></div></a></li>
								 															<% end %>
														</ul>



		</div>
		<div class="clearfix"></div>
	</div>
</div>
<!-- //header-bot -->
<%= render "layouts/#{Layout.find(@store.layout_id).name}/menu_shop" %>
<!-- banner -->
<%= yield %>
<!-- footer -->
<div class="footer">
	<div class="footer_agile_inner_info_w3l">

		<div class="col-md-12 footer-right">
			<div class="sign-grds">
			<div class="col-md-4 sign-gd footer-left">
			<h2><a href="<%= root_path %>"><%= @store.name %></a></h2>
			<p><%= @store.slogan %></p>
			<ul class="social-nav model-3d-0 footer-social w3_agile_social two">
						<% if !@store.facebook.blank? %>
				<li><a target="_blank" href="<%= @store.facebook %>" class="facebook">
					  <div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
					  <div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div></a></li>
						<% end %>
		        <% if !@store.twitter.blank? %>
				<li><a target="_blank" href="<%= @store.twitter %>" class="twitter">
					  <div class="front"><i class="fa fa-twitter" aria-hidden="true"></i></div>
					  <div class="back"><i class="fa fa-twitter" aria-hidden="true"></i></div></a></li>
						<% end %>
		        <% if !@store.instagram.blank? %>
				<li><a target="_blank" href="<%= @store.instagram %>" class="instagram">
					  <div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>
					  <div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div></a></li>
						<% end %>
		        <% if !@store.linkedin.blank? %>
				<li><a target="_blank" href="<%= @store.linkedin %>" class="linkedin">
					  <div class="front"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
					  <div class="back"><i class="fa fa-linkedin" aria-hidden="true"></i></div></a></li>
						<% end %>
						<% if !@store.youtube.blank? %>
				<li><a target="_blank" href="<%= @store.youtube %>" class="youtube">
					  <div class="front"><i class="fa fa-youtube" aria-hidden="true"></i></div>
					  <div class="back"><i class="fa fa-youtube" aria-hidden="true"></i></div></a></li>
						<% end %>
						<% if !@store.pinterest.blank? %>
				<li><a target="_blank" href="<%= @store.pinterest %>" class="pinterest">
					  <div class="front"><i class="fa fa-pinterest" aria-hidden="true"></i></div>
					  <div class="back"><i class="fa fa-pinterest" aria-hidden="true"></i></div></a></li>
						<% end %>
						<% if !@store.vimeo.blank? %>
				<li><a target="_blank" href="<%= @store.vimeo %>" class="vimeo">
					  <div class="front"><i class="fa fa-vimeo" aria-hidden="true"></i></div>
					  <div class="back"><i class="fa fa-vimeo" aria-hidden="true"></i></div></a></li>
						<% end %>
			</ul>
			</div>
				<div class="col-md-4 sign-gd-two">
					<h4>Store <span>Information</span></h4>
					<div class="w3-address">
						<div class="w3-address-grid">
							<div class="w3-address-left">
								<i class="fa fa-phone" aria-hidden="true"></i>
							</div>
							<div class="w3-address-right">
								<h6>Phone Number</h6>
								<p><%= @store.phone %></p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="w3-address-grid">
							<div class="w3-address-left">
								<i class="fa fa-envelope" aria-hidden="true"></i>
							</div>
							<div class="w3-address-right">
								<h6>Email Address</h6>
								<p><a class="myclass" href="mailto:<%= @store.display_email %>"><%= @store.display_email %></a></p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="w3-address-grid">
							<div class="w3-address-left">
								<i class="fa fa-map-marker" aria-hidden="true"></i>
							</div>
							<div class="w3-address-right">
								<h6>Location</h6>
								<p><%= @store.business_location %></p>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
				</div>
				<div class="col-md-4 sign-gd">
					<h4>Quick <span>Links</span> </h4>
					<ul>
					<% if @store.homepage_status == true %>
					<li><a class="myclass" href="<%= root_path %>">Home</a></li>
					<% end %>
					<% if @store.aboutpage_status == true %>
					<li><a class="myclass" href="<%= about_path %>">About Us</a></li>
					<% end %>
						<li><a class="myclass" href="<%= contact_path %>">Contact Us</a></li>
						<li><a class="myclass" href="<%= all_path %>">Products</a></li>
					</ul>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="clearfix"></div>
		<p class="copy-right">Copyright © <%= Time.current.year %> <%= @store.name %>. All rights reserved | Powered by
			<a target="_blank" class="mylink myclass" href="http://www.kduka.co.ke/">KDuka</a></p>
	</div>
</div>
<!-- //footer -->

<a href="#home" class="scroll" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>

<!-- js -->
<!-- <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script> -->
<!-- //js -->
<!-- <script src="js/modernizr.custom.js"></script> -->
	<!-- Custom-JavaScript-File-Links -->
	<!-- cart-js -->
	<!-- <script src="js/minicart.min.js"></script> -->
<script>
	// Mini Cart
	paypal.minicart.render({
		action: '#'
	});

	if (~window.location.search.indexOf('reset=true')) {
		paypal.minicart.reset();
	}
</script>
<!-- Flexslider -->
<script>
						// Can also be used with $(document).ready()
							$(window).load(function() {
								$('.flexslider').flexslider({
								animation: "slide",
								controlNav: "thumbnails"
								});
							});
						</script>

<!-- Flexslider end -->

	<!-- //cart-js -->
<!-- script for responsive tabs -->
<!-- <script src="js/easy-responsive-tabs.js"></script> -->
<script>
	$(document).ready(function () {
	$('#horizontalTab').easyResponsiveTabs({
	type: 'default', //Types: default, vertical, accordion
	width: 'auto', //auto or any width like 600px
	fit: true,   // 100% fit in a container
	closed: 'accordion', // Start closed if in accordion view
	activate: function(event) { // Callback function if tab is switched
	var $tab = $(this);
	var $info = $('#tabInfo');
	var $name = $('span', $info);
	$name.text($tab.text());
	$info.show();
	}
	});
	$('#verticalTab').easyResponsiveTabs({
	type: 'vertical',
	width: 'auto',
	fit: true
	});
	});
</script>
<!-- //script for responsive tabs -->
<!-- stats -->
	<!-- <script src="js/jquery.waypoints.min.js"></script> -->
	<!-- <script src="js/jquery.countup.js"></script> -->
	<script>
		$('.counter').countUp();
	</script>
<!-- //stats -->
<!-- start-smoth-scrolling -->
<!-- <script type="text/javascript" src="js/move-top.js"></script> -->
<!-- <script type="text/javascript" src="js/jquery.easing.min.js"></script> -->
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
				};
			*/

			$().UItoTop({ easingType: 'easeOutQuart' });

			});
	</script>
<!-- //here ends scrolling icon -->


<!-- for bootstrap working -->
<!-- <script type="text/javascript" src="js/bootstrap.js"></script> -->
</body>
</html>
