<!DOCTYPE HTML>
<html>
<head>
<title>KDuka Store Dashboard</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="KDuka, Online shopping made easy" />
<script src="https://use.fontawesome.com/0c894d70a3.js"></script>
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
<% Dir.foreach("public/stylesheets/admin") do |item|
  next if item == '.' or item == '..' %>
    <%= stylesheet_link_tag "admin/#{item}" %>
<% end %>
<% Dir.foreach("public/javascripts/admin") do |item|
  next if item == '.' or item == '..' %>
    <%= javascript_include_tag "admin/#{item}" %>
<% end %>
 <script type="text/javascript">

        $(document).ready(function () {
            $('#demo-pie-1').pieChart({
                barColor: '#3bb2d0',
                trackColor: '#eee',
                lineCap: 'round',
                lineWidth: 8,
                onStep: function (from, to, percent) {
                    $(this.element).find('.pie-value').text(Math.round(percent) + '%');
                }
            });

            $('#demo-pie-2').pieChart({
                barColor: '#fbb03b',
                trackColor: '#eee',
                lineCap: 'butt',
                lineWidth: 8,
                onStep: function (from, to, percent) {
                    $(this.element).find('.pie-value').text(Math.round(percent) + '%');
                }
            });

            $('#demo-pie-3').pieChart({
                barColor: '#ed6498',
                trackColor: '#eee',
                lineCap: 'square',
                lineWidth: 8,
                onStep: function (from, to, percent) {
                    $(this.element).find('.pie-value').text(Math.round(percent) + '%');
                }
            });


        });

    </script>
</head>
<body>
   <div class="page-container">
   <!--/content-inner-->
	<div class="left-content">
	   <div class="inner-content">
		<!-- header-starts -->
			<div class="header-section">
			<!-- top_bg -->
						<div class="top_bg">

								<div class="header_top">
									<div class="top_right">
										<ul>
											<li><%= link_to "Visit "+@store.subdomain+".kduka.co.ke", "http://"+@store.subdomain+".kduka.co.ke", target: '_blank' %></li>
										</ul>
									</div>
									<div class="top_left">
										<p style="text-transform:lowercase"><span style="color:#fff"><i class="fa fa-user" ></i> <%= current_store.email %></span></p>
									</div>
										<div class="clearfix"> </div>
								</div>

						</div>
					<div class="clearfix"></div>
				<!-- /top_bg -->
				</div>
				<div class="header_bg">

							<div class="header">
								<div class="head-t">
									<div class="logo">
										<h1><a href="<%=stores_path %>"><%= @store.name %></a></h1>
									</div>
										<!-- start header_right -->
									<div class="header_right">
                    <div class="rgt-bottom">
										<div class="create_btn" style="float:right">
											<%= link_to "Logout", destroy_store_session_path ,style:'float:right', method:'delete' %>
										</div>
										<div class="clearfix"> </div>
									</div>
									<div class="clearfix"> </div>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>

				</div>
					<!-- //header-ends -->
				<!--content-->
			<div class="content">
        <div class="row">
          <div class="col-md-12">
            <% if !notice.nil? %>
            <div class="alert alert-success" role="alert">
              <strong><%= notice %></strong>
            </div>
            <% end %>
            <% if !alert.nil? %>
            <div class="alert alert-info" role="alert">
              <strong><%= alert %></strong>
            </div>
            <% end %>

          </div>
        </div>
        <div style="height:auto !important">
        <%= yield %>
        </div>


            <!--//area-->
		<div class="fo-top-di">
			<div class="footer">
					<div class="col-md-4 cust">
						<h4>CUSTOMER CARE</h4>
							<li><a href="#">Help Center</a></li>
							<li><a href="#">FAQ</a></li>
							<li><a href="#">Store Setup</a></li>
					</div>
					<div class="col-md-4 our-st">
						<div class="our-left">
							<h4>OUR CONTACTS</h4>
						</div>
							<li><i class="fa fa-phone"></i> +254-724-040839</li>
              <li><i class="fa fa-phone"></i> +254-773-054785</li>
              <li><i class="fa fa-phone"></i> +254-714-764162</li>
							<li><a href="mailto:contact@kduka.co.ke"><i class="fa fa-envelope"></i> contact@kduka.co.ke</a></li>
					</div>
          <div class="col-md-4 our-st">
						<div class="our-left">
							<h4>FOLLOW US ON</h4>
						</div>

              <style>
              .my_ul {
                  list-style-type: none;
                  margin: 0;
                  padding: 0;
                  overflow: hidden;
              }

              .my_li {
                  float: left;
              }

              .my_li a {
                  display: block;
                  text-align: center;
                  padding: 16px;
                  text-decoration: none;
              }
              </style>
              <ul class="my_ul">
                <li class="my_li"><a href="#"><i class="fa fa-facebook"> </i></a></li>
                <li class="my_li"><a href="#"><i class="fa fa-twitter"> </i></a></li>
                <li class="my_li"><a href="#"><i class="fa fa-google"> </i></a></li>
            </ul>
					</div>
					<div class="clearfix"> </div>
						<p>Copyright © <%= Time.current.year %> KDuka. All Rights Reserved | Developed by <a href="http://www.zerone.co.ke/">Zerone I.T. Solutions</a></p>
			</div>
		</div>
			</div>
			<!--content-->
		</div>
</div>
				<!--//content-inner-->
			<!--/sidebar-menu-->
      <div class="sidebar-menu">
        <header class="logo1">
          <a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span> </a>
        </header>
        <div style="border-top:1px ridge rgba(255, 255, 255, 0.15)"></div>
        <div class="menu">
          <ul id="menu">

            <li>
              <a href="<%= stores_path %>"><i class="fa fa-tachometer"></i> <span>Overview</span></a>
            </li>
            <li id="menu-academico">
              <a href="#"><i class="fa fa-product-hunt"></i> <span> Products</span></a>
              <ul id="menu-academico-sub">
                <li id="menu-academico-avaliacoes">
                  <a href="<%= products_manage_path %>">Manage Products</a>
                </li>

                <li id="menu-academico-avaliacoes">
                  <% if !Category.where(store_id: current_store.id).blank? %>
                      <a href="<%= new_store_product_path(@store) %>">Add Product</a>
                  <% end %>
                </li>
              </ul>
            </li>
            <li id="menu-academico">
              <a href="#"><i class="fa fa-dot-circle-o"></i> <span> Categories</span></a>
              <ul id="menu-academico-sub">
                <li id="menu-academico-avaliacoes">
                  <a href="<%= categories_path %>">View Categories</a>
                </li>

                <li id="menu-academico-avaliacoes">

                  <a href="<%= new_category_path %>">Add Category</a>

                </li>

              </ul>
            </li>
            <li>
              <a href="<%= store_orders_url %>"><i class="fa fa-shopping-bag"></i> <span>Orders</span></a>
            </li>
            <li>
              <a href="<%= stores_theme_path %>"><i class="fa fa-window-maximize"></i> <span>Layouts</span></a>
            </li>
            <li>
              <a href="<%= stores_pages_path %>"><i class="fa fa-file-text"></i> <span>Pages</span></a>
            </li>
            <li id="menu-academico">
              <a href="<%= coupons_path %>"><i class="fa fa-ticket"></i> <span>Coupons</span></a>
              <ul id="menu-academico-sub">
                <li id="menu-academico-avaliacoes">
                  <a href="<%= coupons_path %>">Manage Coupons</a>
                </li>
                <li id="menu-academico-avaliacoes">
                  <a href="<%= new_coupon_path %>">Create Coupon</a>
                </li>
                <li id="menu-academico-avaliacoes">
                  <a href="<%= coupons_generate_path %>">Generate Multiple Coupons</a>
                </li>0
              </ul>
            </li>
            <li id="menu-academico">
              <a href="<%= stores_funds_path %>"><i class="fa fa-money"></i> <span> Funds </span></a>
            </li>
            <li id="menu-academico">
              <a href="#"><i class="fa fa-gears"></i> <span> Account </span></a>
              <ul id="menu-academico-sub">
                <li id="menu-academico-avaliacoes">
                  <a href="<%= stores_social_path %>">Social Media</a>
                </li>

                <li id="menu-academico-avaliacoes">
                  <a href="<%= edit_store_path(@store) %>">Edit Store Settings</a>
                </li>

                <li id="menu-academico-avaliacoes">
                  <a href="<%= stores_deliver_path %>">Delivery Settings</a>
                </li>
                <li id="menu-academico-avaliacoes">
                  <a href="<%= stores_active_path %>">Activation Settings</a>
                </li>

              </ul>
            </li>
          </ul>
        </div>
      </div>
							  <div class="clearfix"></div>
							</div>
							<script>
							var toggle = true;

							$(".sidebar-icon").click(function() {
							  if (toggle)
							  {
								$(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
								$("#menu span").css({"position":"absolute"});
							  }
							  else
							  {
								$(".page-container").removeClass("sidebar-collapsed").addClass("sidebar-collapsed-back");
								setTimeout(function() {
								  $("#menu span").css({"position":"relative"});
								}, 400);
							  }

											toggle = !toggle;
										});
							</script>
   <!-- real-time -->
	<script type="text/javascript">

	$(function() {

		// We use an inline data source in the example, usually data would
		// be fetched from a server

		var data = [],
			totalPoints = 300;

		function getRandomData() {

			if (data.length > 0)
				data = data.slice(1);

			// Do a random walk

			while (data.length < totalPoints) {

				var prev = data.length > 0 ? data[data.length - 1] : 50,
					y = prev + Math.random() * 10 - 5;

				if (y < 0) {
					y = 0;
				} else if (y > 100) {
					y = 100;
				}

				data.push(y);
			}

			// Zip the generated y values with the x values

			var res = [];
			for (var i = 0; i < data.length; ++i) {
				res.push([i, data[i]])
			}

			return res;
		}

		// Set up the control widget

		var updateInterval = 30;
		$("#updateInterval").val(updateInterval).change(function () {
			var v = $(this).val();
			if (v && !isNaN(+v)) {
				updateInterval = +v;
				if (updateInterval < 1) {
					updateInterval = 1;
				} else if (updateInterval > 2000) {
					updateInterval = 2000;
				}
				$(this).val("" + updateInterval);
			}
		});

		var plot = $.plot("#placeholder", [ getRandomData() ], {
			series: {
				shadowSize: 0	// Drawing is faster without shadows
			},
			yaxis: {
				min: 0,
				max: 100
			},
			xaxis: {
				show: false
			}
		});

		function update() {

			plot.setData([getRandomData()]);

			// Since the axes don't change, we don't need to call plot.setupGrid()

			plot.draw();
			setTimeout(update, updateInterval);
		}

		update();

		// Add the Flot version string to the footer

		$("#footer").prepend("Flot " + $.plot.version + " &ndash; ");
	});

	</script>
<!-- /real-time -->
    <script>

		$(function() {

			"use strict";

			$(".gantt").gantt({
				source: [{
					name: "Sprint 0",
					desc: "Analysis",
					values: [{
						from: "/Date(1320192000000)/",
						to: "/Date(1322401600000)/",
						label: "Requirement Gathering",
						customClass: "ganttRed"
					}]
				},{
					name: " ",
					desc: "Scoping",
					values: [{
						from: "/Date(1322611200000)/",
						to: "/Date(1323302400000)/",
						label: "Scoping",
						customClass: "ganttRed"
					}]
				},{
					name: "Sprint 1",
					desc: "Development",
					values: [{
						from: "/Date(1323802400000)/",
						to: "/Date(1325685200000)/",
						label: "Development",
						customClass: "ganttGreen"
					}]
				},{
					name: " ",
					desc: "Showcasing",
					values: [{
						from: "/Date(1325685200000)/",
						to: "/Date(1325695200000)/",
						label: "Showcasing",
						customClass: "ganttBlue"
					}]
				},{
					name: "Sprint 2",
					desc: "Development",
					values: [{
						from: "/Date(1326785200000)/",
						to: "/Date(1325785200000)/",
						label: "Development",
						customClass: "ganttGreen"
					}]
				},{
					name: " ",
					desc: "Showcasing",
					values: [{
						from: "/Date(1328785200000)/",
						to: "/Date(1328905200000)/",
						label: "Showcasing",
						customClass: "ganttBlue"
					}]
				},{
					name: "Release Stage",
					desc: "Training",
					values: [{
						from: "/Date(1330011200000)/",
						to: "/Date(1336611200000)/",
						label: "Training",
						customClass: "ganttOrange"
					}]
				},{
					name: " ",
					desc: "Deployment",
					values: [{
						from: "/Date(1336611200000)/",
						to: "/Date(1338711200000)/",
						label: "Deployment",
						customClass: "ganttOrange"
					}]
				},{
					name: " ",
					desc: "Warranty Period",
					values: [{
						from: "/Date(1336611200000)/",
						to: "/Date(1349711200000)/",
						label: "Warranty Period",
						customClass: "ganttOrange"
					}]
				}],
				navigate: "scroll",
				scale: "weeks",
				maxScale: "months",
				minScale: "days",
				itemsPerPage: 10,
				onItemClick: function(data) {
					alert("Item clicked - show some details");
				},
				onAddClick: function(dt, rowId) {
					alert("Empty space clicked - add an item!");
				},
				onRender: function() {
					if (window.console && typeof console.log === "function") {
						console.log("chart rendered");
					}
				}
			});

			$(".gantt").popover({
				selector: ".bar",
				title: "I'm a popover",
				content: "And I'm the content of said popover.",
				trigger: "hover"
			});

			prettyPrint();

		});

    </script>
</body>
</html>
