<script>
$(document).ready(function(){
    $('.about').addClass('active');
});
</script>
<title><%= @store.name %> | <%= @title %></title>
<section id="banner_parallax" data-parallax="scroll" data-image-src="<%= @store.banner_url.to_s %>">
    <h2><%= @title %></h2>
</section><!-- /#banner_parallax -->

<!--=======ABOUT SECTION 1=======-->
<section class="about_sec_1">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <h3 style="text-align:center !important">A Few Words About Us</h3>
            <p style="text-align:justify !important"><%= @store.aboutpage_text.html_safe rescue nil %></p></p>
        </div>
    </div>
</section><!-- /.about_sec_1 -->
