<title><%= @store.name %> | <%= @title %></title>
<div class="shopping-cart">
<!--=======BANNER=======-->
    <section id="banner_parallax" data-parallax="scroll" data-image-src="<%= @store.banner_url.to_s %>">
        <h2>CART</h2>
    </section>
    <!-- /#banner_parallax -->

    <!--=======BANNER=======-->
    <section class="cart">
      <% if !@order_item.nil? && @order_item.errors.any? %>
        <div class="alert alert-danger">
          <ul>
          <% @order_item.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <% if @order_items.size == 0 %>
      <div class="container">
        <h1 style="text-align:center">
          There are no items in your shopping cart.  Please <%= link_to "go back", all_path %> and add some items to your cart.
        </h1>
      </div>
      <% else %>
        <div class="container">
            <div class="col-sm-9">
              <% @order_items.each do |order_item| %>
                    <%= render 'layouts/cstore/cart_row', product: order_item.product, order_item: order_item, show_total: true %>
              <% end %>
            </div>

            <div class="col-sm-3">
                <div class="col-sm-12 proceed">
                    <h3>Cart Totals</h3>
                    <ul>
                        <li>Total:<span><%= number_to_currency(current_order.subtotal, :unit => "Ksh ", :separator => ".", :delimiter => ",") %></span></li>
                    </ul>
                    <style>
                      .my_checkout:hover{
                        border: 2px solid <%= @store.store_color %> !important;
                        color: <%= @store.store_color %> !important;
                        background: #FFF !important;
                        transition: all 0.5s !important;
                      }
                      .my_checkout{
                        border: 2px solid <%= @store.store_color %> !important;
                        transition: all 0.5s !important;
                      }
                    </style>
                    <a href="<%= carts_shipping_path %>"><button class="my_checkout">Checkout</button></a>
                </div>

            </div>
        </div>
        <!-- /.container -->
        <% end %>
    </section>
    <!-- /.cart -->
</div>
