<!DOCTYPE html>
<html lang="en">

	<!-- Head -->
	<head>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= stylesheet_link_tag    'login.css', media: 'all', 'data-turbolinks-track' => true %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

		<%= csrf_meta_tags %>

		<title>KDuka Login</title>

		<!-- Meta-Tags -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="keywords" content="Techno Login Form Responsive, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design">
		<script type="application/x-javascript">
			addEventListener("load", function() {
				setTimeout(hideURLbar, 0);
			}, false);
			function hideURLbar() {
				window.scrollTo(0, 1);
			}
		</script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109847469-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-109847469-1');
    </script>
		<!-- //Meta-Tags -->

		<!-- Custom-Style-Sheet -->
		<!-- Index-Page-CSS  <link rel="stylesheet" href="css/style.css" type="text/css" media="all"> -->

		<!-- //Custom-Style-Sheet -->

		<!-- Fonts -->
		<%= stylesheet_link_tag "//fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" %>
	<%= stylesheet_link_tag "//fonts.googleapis.com/css?family=Montserrat:400,700" %>
		<!-- //Fonts -->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script>
    var hgt = $(window).height();
    $("#main").css("height", hgt)
</script>
	</head>
	<!-- //Head -->

	<!-- Body -->
	<body id="main" style="background-image: url('../images/website/banne3.jpg') !important;background-repeat: no-repeat;background-size: cover;background-attachment:fixed !important">


		<div class="container">

			<div class="row">
				<%= yield %>
			</div>
		</div>


		<div class="w3lsfooteragileits">

		</div>

	</body>
	<!-- //Body -->

</html>
