<div class="shopping-cart">
<!--breadcrumbs-->
<div class="container-fluid breadcrumbs">
  <div class="container">
    <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
      <li><a href="<%= root_path %>"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
      <li class="active">Cart</li>
    </ol>
  </div>
</div><br><br>
<!--breadcrumbs-->
<div class="col-md-offset-1 col-md-10 " style="margin-top:0em;margin-bottom:3em;">
<% if !@order_item.nil? && @order_item.errors.any? %>
  <div class="alert alert-danger">
    <ul>
    <% @order_item.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<% if @order_items.size == 0 %>
  <h1 style="text-align:center">
    There are no items in your shopping cart.  Please <%= link_to "go back", all_path %> and add some items to your cart.
  </h1>
<% else %>
  <h3 style="text-align:center;font-size:45px;font-weight:700" class="wow fadeInUp animated" data-wow-delay=".5s">Your Shopping Cart</h3>
  <% @order_items.each do |order_item| %>
        <%= render 'layouts/modern2/cart_row', product: order_item.product, order_item: order_item, show_total: true %>
  <% end %>
  <%= link_to "Checkout", carts_shipping_path , :class => 'btn btn-success col-md-6 col-md-offset-3 col-sm-12' %>
<% end %>
<div class="col-md-offset-1 col-md-10 shopping-cart" style="margin-top:0em;margin-bottom:3em;">
</div></div>
</div>
