<script>
	// Can also be used with $(document).ready()
	$(window).load(function() {
		$('.flexslider').flexslider({
			animation : "slide",
			controlNav : "thumbnails"
		});
	});
</script>
<!--breadcrumbs-->
<div class="breadcrumbs">
	<div class="container">
		<ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
			<li>
				<a href="index.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a>
			</li>
			<li class="active">
				View Product
			</li>
		</ol>
	</div>
</div>
<!--//breadcrumbs-->
<!--single-page-->
<div class="single">
	<div class="container">
		<div class="single-info">
			<div class="col-md-6 single-top wow fadeInLeft animated" data-wow-delay=".5s">
					<%=  image_tag(@product.image_url.to_s ,'data-imagezoom':"true", class:"img-responsive", alt:"")%>
			</div>
			<div class="col-md-6 single-top-left simpleCart_shelfItem wow fadeInRight animated" data-wow-delay=".5s">
				<h3 style="font-size:55px;text-transform:capitalize;text-align:left"><%= @product.name %></h3><br><br>

				<h6 class="item_price">Kes. <%= @product.price %></h6>
				<p>
					<%= @product.description%>
				</p>

				<div class="clearfix"></div>
				<%= form_for :order_item, :url => {controller:'order_items', action:'create'}, remote: true do |f| %>
				<div class="quantity">
					<p class="qty">
						Quantity :
					</p>
					<%= f.number_field :quantity, value: 1, class: "form-control item_quantity", min: 1 %>
				</div>
				<div class="btn_form">
					<%= f.hidden_field :product_id, value: @product.id %>

					<%= f.button type:'submit', class:'add-cart item_add btn btn-success' do %>
					Add to Cart
					<%end%>
				</div>
				<% end %>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!--//single-page-->
