<title><%= @store.name %> | <%= @title %></title>
<style>
.my_space{
  display: none !important;
}
</style>

<div class="container">
  <div class="col-md-6 col-md-offset-3 col-xs-12" style="margin-bottom:3em;margin-top:4em;padding: 2em">
    <h1 style="text-align:center;font-size:35px;font-weight:700">Pay for Order</h1><br><br>
    <h3>1. Go to your MPESA MENU</h3><br>
    <h3>2. Select Lipa na M-PESA</h3><br>
    <h3>3. Select Pay Bill</h3><br>
    <h3>4. Enter Business Number: 766645</h3><br>
    <h3>5. Enter Account No: <%= current_order.ref %></h3><br>
    <h3>6. Enter Amount : <%= current_order.total %></h3><br>
    <h3>7. Enter your PIN</h3><br>
    <h3>8. After you get your confirmation message click the button below</h3><br><br>
    <input type="hidden" value="<%= current_order.ref %>" id="ref"/>

    <div class="col-md-12 col-xs-12"><p style="text-align:center"><span class="conf_message"></span></p></div><br><br>
    <button class='btn btn-success btn-lg col-sm-12 col-md-6 col-md-offset-3' id="confirmation_id"  style="display:block;margin-top: 1em" ><span class="conf_text">Confirm</span></button>
    <br><br>

  </div>

</div>
<div class="clearfix"></div>
