<div class="content_bottom" style="margin-top:2em">


<h3 style="color:#7aae42"><i class="fa fa-list"></i> Your Categories</h3>
 <div class="col-md-12 span_3">
   <%= link_to new_category_path do %>
     <button class="kd_buttons"><i class="fa fa-plus"></i> Add Category</button>
   <% end %>
   <p>Note: Featured categories are displayed on the homepage</p><br>
  <div class="bs-example1" data-example-id="contextual-table" style="overflow-x:scroll">
    <table id="myTable" class="table datatables no-footer">
      <thead>
        <tr>
        	<th>#</th>
          <th>Name</th>
          <th>Active</th>
          <th>Toggle Featured</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>

      <tbody>
      	<% num = 1 %>
        <% @categories.each do |category| %>
          <tr>
          	<td><%= num %>
          	<td><%= category.name %></td>
          	<td><%= category.active %></td>
            <td>
              <% if category.featured == true %>
                <%= link_to category_unfeature_path(category),style:'color:orange' do %>
                <i class="fa fa-close"></i> Remove From Home Page
                <%end%>
              <% else %>
                <%= link_to category_feature_path(category),style:'color:#06B216' do %>
                <i class="fa fa-check"></i> Show in Home Page
                <%end%>
              <% end %>
            </td>
            <td>
              <%= link_to edit_category_path(category) do %>
              <i class="fa fa-edit"></i> Edit
              <%end%>
            </td>
            <td><%= link_to category_url(category.id), method: :delete, data: { confirm: 'Are you sure? This will delete all products in this category!' },style:'color:red' do %>
              <i class="fa fa-trash"></i> Delete
              <%end%>
            </td>
          </tr>
          <% num = num+1 %>
        <% end %>
      </tbody>
    </table>
   </div>
 </div>

<div class="clearfix"> </div>
  </div>
