
<div class="cats">
<h1>Categories</h1>
  <p><h4>Categories group your products. Every product must be in a category</h4></p>

  <p><%= link_to 'New Category', new_category_path, class:'btn btn-primary',style:'margin:1em' %></p>
</br>

<table class="table">
  <thead>
    <tr>
    	<th>#</th>
      <th>Name</th>
      <th>Active</th>
      <th></th>
      
    </tr>
  </thead>

  <tbody>
  	<% num = 1 %>
    <% @categories.each do |category| %>
      <tr>
      	<td><%= num %>
      	<td><%= category.name %></td>
      	<td><%= category.active %></td>
        <td> <% if category.featured == true %> <%= link_to 'Remove From Featured', category_unfeature_path(category), remote:true %> <% else %> <%= link_to 'Make Featured', category_feature_path(category), remote:true %> <% end %> | <%= link_to 'Edit', edit_category_path(category) %> | <%= link_to 'Destroy', category_url(category.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% num = num+1 %>
    <% end %>
  </tbody>
</table>

<br>


</div>