

<h1>Categories</h1>

<table class="table">
  <thead>
    <tr>
    	<th>#</th>
      <th>Name</th>
      <th>Active</th>
      <th></th>
      
    </tr>
  </thead>

  <tbody>
  	<% num = 1 %>
    <% @categories.each do |category| %>
      <tr>
      	<td><%= num %>
      	<td><%= category.name %></td>
      	<td><%= category.active %></td>
        <td><%= link_to 'Show', category_path(category) %> | <%= link_to 'Edit', edit_category_path(category) %> | <%= link_to 'Destroy', category_url(category.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% num = num+1 %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Category', new_category_path %>
