
<div class="skil">
<h1 style="text-align:center">Categories</h1>
  <h3 style="text-align:center">Featured categories are displayed on the homepage</h3>

<table id="myTable" class="table datatables no-footer">
  <thead>
    <tr>
    	<th>#</th>
      <th>Name</th>
      <th>Active</th>
      <th></th>

    </tr>
  </thead>

  <tbody>
  	<% num = 1 %>
    <% @categories.each do |category| %>
      <tr>
      	<td><%= num %>
      	<td><%= category.name %></td>
      	<td><%= category.active %></td>
        <td> <% if category.featured == true %> <%= link_to 'Remove From Featured', category_unfeature_path(category) %> <% else %> <%= link_to 'Make Featured', category_feature_path(category) %> <% end %> | <%= link_to 'Edit', edit_category_path(category) %> | <%= link_to 'Delete', category_url(category.id), method: :delete, data: { confirm: 'Are you sure? This will delete all products in this category!' } %></td>
      </tr>
      <% num = num+1 %>
    <% end %>
  </tbody>
</table>

<br>

<p style="text-align:center"><%= link_to 'Add New Category', new_category_path, class:'btn btn-primary btn-lg' %></p>
</div>
