<style>
  a[href="https://www.froala.com/wysiwyg-editor?k=u"] {
    display: none !important;
    position: absolute;
    top: -99999999px;
  }
</style>


<%= form_for :product,  :url => {:controller => 'products', :action => 'update'},method:'put' do |f| %>

    <% @product.errors.full_messages.each do |message| %>

        <%= message %>

    <% end %>
    <% if @product.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

          <ul>
            <% @product.errors.full_messages.each do |message| %>
                <li>
                  <%= message %>
                </li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
    </script>
  <div class="form-group">
    <label for="name" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-8">
      <%= f.text_field :name, class: 'form-control1', id:'name', required:'required',placeholder:'Name' %>
    </div>
    <div class="col-sm-2">
      <a class="help-block"><span data-toggle="tooltip" data-placement="bottom" title="This will be the name of your product that will appear in your store">Help?</span></a>
    </div>
  </div>
  <div class="col-md-12" style="height:1em"></div>
  <div class="form-group">
    <label for="price" class="col-sm-2 control-label">Price</label>
    <div class="col-sm-8">
      <%= f.number_field :price, class: 'form-control1' , required:'required',id:'price',placeholder:'Price', min:0%>
    </div>
    <div class="col-sm-2">
      <a class="help-block"><span data-toggle="tooltip" data-placement="bottom" title="This will be the price of your product in Kenyan Shillings">Help?</span></a>
    </div>
  </div>
  <div class="col-md-12" style="height:1em"></div>
  <div class="form-group">
    <label for="bef_disc" class="col-sm-2 control-label">Show Price Before Discount</label>
    <div class="col-sm-8">
      <div class="checkbox-inline"><%= f.check_box :discount_status, id:'bef_disc' %><label for="bef_disc">Check this to Show Price Before Discount</label></div>
    </div>
    <div class="col-sm-2">
      <a class="help-block"><span data-toggle="tooltip" data-placement="bottom" title="Check this if you need to show the original price of the item you are selling">Help?</span></a>
    </div>
  </div>
  <div class="col-md-12" style="height:1em"></div>
  <div class="form-group">
    <label for="price_bef_disc" class="col-sm-2 control-label">Price Before Discount</label>
    <div class="col-sm-8">
      <%= f.number_field :discount_price, class: 'form-control1',placeholder:'Price Before Discount',id:'price_bef_disc', min:0%>
    </div>
    <div class="col-sm-2">
      <a class="help-block"><span data-toggle="tooltip" data-placement="bottom" title="This will be the value of the initial price of your product before the discount">Help?</span></a>
    </div>
  </div>
  <div class="col-md-12" style="height:1em"></div>
  <div class="form-group">
    <label for="category" class="col-sm-2 control-label">Category</label>
    <div class="col-sm-8">
      <%= f.select :category_id, options_from_collection_for_select(@store.category.all, 'id','name',@product.category_id), {}, {:class => 'form-control1', required:'required',id:'category'} %>
    </div>
    <div class="col-sm-2">
      <a class="help-block"><span data-toggle="tooltip" data-placement="bottom" title="This is the category in which your product will belong. You are responsible for creating your store categories">Help?</span></a>
    </div>
  </div>
  <div class="col-md-12" style="height:1em"></div>
  <div class="form-group">
    <label for="stock" class="col-sm-2 control-label">Number of Products in Stock</label>
    <div class="col-sm-8">
      <%= f.number_field :quantity, class: 'form-control1', required:'required',id:'stock',placeholder:'Number of Products in Stock', min:0 %>
    </div>
    <div class="col-sm-2">
      <a class="help-block"><span data-toggle="tooltip" data-placement="bottom" title="This is the amount of this product that will be in stock (available for sale)">Help?</span></a>
    </div>
  </div>
  <div class="col-md-12" style="height:1em"></div>
  <div class="form-group">
    <label for="description" class="col-sm-2 control-label">Description</label>
    <div class="col-sm-8">
      <%= f.text_area :description, class: 'form-control1',id:'description',placeholder:'Description',style:'height:15em' %>
    </div>
    <div class="col-sm-2">
      <a class="help-block"><span data-toggle="tooltip" data-placement="bottom" title="This is your product's description that will appear when someone views this specific product in your store">Help?</span></a>
    </div>
  </div>
  <div class="col-md-12" style="height:1em"></div>
  <div class="form-group">
    <label for="active" class="col-sm-2 control-label">Active</label>
    <div class="col-sm-8">
      <div class="checkbox-inline"><%= f.check_box :active, id:'active' %> <label for="active">Check this to Show Product in your Store</label></div>
    </div>
    <div class="col-sm-2">
      <a class="help-block"><span data-toggle="tooltip" data-placement="bottom" title="If you check this, your product will be visible to your clients when they visit your store">Help?</span></a>
    </div>
  </div>
  <div class="col-md-12" style="height:1em"></div>
  <div class="form-group">
    <label for="checkbox" class="col-sm-2 control-label"></label>
    <div class="col-sm-8">
      <p style="color:#7aae42;font-style:italic">Weight and Size of the Product(Optional, recommended if you want to use automated delivery)</p>
    </div>
  </div>
  <div class="col-md-12" style="height:1em"></div>
  <div class="form-group">
    <label for="length" class="col-sm-2 control-label">Length(cm)</label>
    <div class="col-sm-8">
      <%= f.number_field :length, class:'form-control1',id:'length',placeholder:'Length' %>
    </div>
    <div class="col-sm-2">
      <a class="help-block"><span data-toggle="tooltip" data-placement="bottom" title="This is the length of your product in centimeters">Help?</span></a>
    </div>
  </div>
  <div class="col-md-12" style="height:1em"></div>
  <div class="form-group">
    <label for="width" class="col-sm-2 control-label">Width(cm)</label>
    <div class="col-sm-8">
      <%= f.number_field :width, class:'form-control1',id:'width',placeholder:'Width' %>
    </div>
    <div class="col-sm-2">
      <a class="help-block"><span data-toggle="tooltip" data-placement="bottom" title="This is the width of your product in centimeters">Help?</span></a>
    </div>
  </div>
  <div class="col-md-12" style="height:1em"></div>
  <div class="form-group">
    <label for="height" class="col-sm-2 control-label">Height(cm)</label>
    <div class="col-sm-8">
      <%= f.number_field :height, class: 'form-control1',id:'height',placeholder:'Height' %>
    </div>
    <div class="col-sm-2">
      <a class="help-block"><span data-toggle="tooltip" data-placement="bottom" title="This is the height of your product in centimeters">Help?</span></a>
    </div>
  </div>
  <div class="col-md-12" style="height:1em"></div>
  <div class="form-group">
    <label for="weight" class="col-sm-2 control-label">Weight(Kgs)</label>
    <div class="col-sm-8">
      <%= f.number_field :weight, class: 'form-control1',id:'weight',placeholder:'Weight' %>
    </div>
    <div class="col-sm-2">
      <a class="help-block"><span data-toggle="tooltip" data-placement="bottom" title="This is the weight of your product in kilograms(Kgs)">Help?</span></a>
    </div>
  </div>
  <div class="col-md-12" style="height:1em"></div>
  <div class="form-group">
    <label for="checkbox" class="col-sm-2 control-label"></label>
    <div class="col-sm-8">
      <p style="color:#7aae42;font-style:italic">Upload images of the products</p>
    </div>
  </div>
  <div class="col-md-12" style="height:1em"></div>
  <div class="form-group">
    <label for="main_img" class="col-sm-2 control-label">Main Image</label>
    <div class="col-sm-8">
      <%= f.file_field :image, class: 'form-control1',id:'main_img' %>
    </div>
    <div class="col-sm-2">
      <a class="help-block"><span data-toggle="tooltip" data-placement="bottom" title="This is the main image for your product. It will be the first image people see for your product">Help?</span></a>
    </div>
  </div>
  <div class="col-md-12" style="height:1em"></div>
  <div class="col-md-10 col-md-offset-2">
    <%= image_tag(@product.image_url(:thumb).to_s) %>
  </div>
  <div class="col-md-12" style="height:1em"></div>
  <div class="form-group">
    <label for="img1" class="col-sm-2 control-label">Image 1</label>
    <div class="col-sm-8">
      <%= f.file_field :img1, class: 'form-control1',id:'img1' %>
    </div>
    <div class="col-sm-2">
      <a class="help-block"><span data-toggle="tooltip" data-placement="bottom" title="This is an alternative image for your product. It will be seen when clients view this specific product in your store">Help?</span></a>
    </div>
  </div>
  <div class="col-md-12" style="height:1em"></div>
  <div class="col-md-10 col-md-offset-2">
    <%= image_tag(@product.img1_url(:thumb).to_s) %>
  </div>
  <div class="col-md-12" style="height:1em"></div>
  <div class="form-group">
    <label for="img2" class="col-sm-2 control-label">Image 2</label>
    <div class="col-sm-8">
      <%= f.file_field :img2, class: 'form-control1',id:'img2' %>
    </div>
    <div class="col-sm-2">
      <a class="help-block"><span data-toggle="tooltip" data-placement="bottom" title="This is an alternative image for your product. It will be seen when clients view this specific product in your store">Help?</span></a>
    </div>
  </div>
  <div class="col-md-12" style="height:1em"></div>
  <div class="col-md-10 col-md-offset-2">
    <%= image_tag(@product.img2_url(:thumb).to_s) %>
  </div>
  <div class="col-md-12" style="height:1em"></div>
  <div class="form-group">
    <label for="img3" class="col-sm-2 control-label">Image 3</label>
    <div class="col-sm-8">
      <%= f.file_field :img3, class: 'form-control1',id:'img3' %>
    </div>
    <div class="col-sm-2">
      <a class="help-block"><span data-toggle="tooltip" data-placement="bottom" title="This is an alternative image for your product. It will be seen when clients view this specific product in your store">Help?</span></a>
    </div>
  </div>
  <div class="col-md-12" style="height:1em"></div>
  <div class="col-md-10 col-md-offset-2">
    <%= image_tag(@product.img3_url(:thumb).to_s) %>
  </div>
  <div class="col-md-12" style="height:1em"></div>
  <div class="form-group">
    <label for="img4" class="col-sm-2 control-label">Image 4</label>
    <div class="col-sm-8">
      <%= f.file_field :img4, class: 'form-control1',id:'img4' %>
    </div>
    <div class="col-sm-2">
      <a class="help-block"><span data-toggle="tooltip" data-placement="bottom" title="This is an alternative image for your product. It will be seen when clients view this specific product in your store">Help?</span></a>
    </div>
  </div>
  <div class="col-md-12" style="height:1em"></div>
  <div class="col-md-10 col-md-offset-2">
    <%= image_tag(@product.img4_url(:thumb).to_s) %>
  </div>
  <div class="col-md-12" style="height:1em"></div>

  <div class="form-group">
    <label for="checkbox" class="col-sm-2 control-label"></label>
    <div class="col-sm-8">
      <button type="sumbit" class="kd_buttons"><i class="fa fa-save"></i> Update Product</button>
      <button type="reset" class="kd_reset"><i class="fa fa-refresh"></i> Load Prefilled</button>
    </div>
  </div>
<%end%>
