<table class="table">
  <thead>
  <th></th>
  <th></th>
  </thead>
  <tbody>
  <% Variant.where(product_id: @product.id).each do |d| %>
    <tr>
      <td style='color:black;font-weight:bold'><%= "#{d.name.humanize}" %></td>

      <%
        require 'json'
        vals = JSON.parse(d.value)
      %>
      <td>Values:
        <% vals.each do |k, v| %>
          <span style='background-color: lightgreen;padding: 8px;border-radius: 12px;color: black;margin:2px'><%= v.humanize %>
            <span data="<%= d.name %>" data-attr="<%= k %>" class="delete_var" style="color: red;cursor: pointer"><i class="fa fa-times-rectangle"></i> </span></span>
        <% end %>
        <div id='new_var_<%= d.name %>' style="display: none">
          <input type='text' id='new_text_<%= d.name %>' style="font-size: 75%"/>
            <span onclick="add_var_val('<%= d.name %>','<%= d.product_id %>')" style='cursor: pointer;color: green'> Add Value </span>
        </div>
        <span class="add_btn" data-name="<%= d.name %>"  style='cursor: pointer;color: green'> Add Value </span>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<script>
$(function () {
    $(".add_btn").click(function () {
      e = $(this).attr('data-name');
      $("#new_var_"+ e).attr('style','display:inline');
      $(this).attr('style','cursor: pointer;color: red')
        $(this).html('Cancel');

    })

    /*function ini_var(e) {
        $("#new_var_" + e).attr('style', 'display:inline');
        $("#new_text" + e).focus();
        $('#add_btn_' + e).attr('onclick', 'end_var("' + e + '")');
        $('#add_btn_' + e).attr('style', 'cursor: pointer;color: red');
        $('#add_btn_' + e).html('Cancel');
    }



    function end_var(e) {
        $("#new_var_" + e).attr('style', 'display:none');
        $("#new_var_text" + e).val('');
        $('#add_btn_' + e).attr('onclick', 'ini_var("' + e + '")');
        $('#add_btn_' + e).attr('style', 'cursor: pointer;color: green');
        $('#add_btn_' + e).html('Add Value');
    }
    */
});

function add_var_val(e, d) {
    val = $("#new_text_" + e).val();
    //alert(val);
    id = d;

    $.ajax({
        url: '/products/append_variant',
        method: 'post',
        data: {
            id: d,
            variant_name: e,
            variant_value: val
        },
        success: function (e) {

        }
    })
}

</script>