<script>
    $(".delete_var").click(function (e) {
        //alert($(this).attr('data') + " " + $(this).attr('data-attr'));
        id = $("#num").attr('data');
        //$(".delete_var").off("click");
        $.ajax({
            url:'/products/delete_variant',
            method:'post',
            data:{
                name:$(this).attr('data'),
                index:$(this).attr('data-attr'),
                product_id:id,
            },
            success:function () {

            }

        })
    });
</script>
<table class="table">
  <thead>
  <th></th>
  <th></th>
  </thead>
  <tbody>
  <% Variant.where(product_id: @id).each do |d| %>
    <tr>
      <td><%= "Variant : #{d.name.humanize}" %></td>
      <%
        require 'json'
        vals = JSON.parse(d.value)
      %>
      <td>Values:
        <% vals.each do |k, v| %>
          <%=  v %> <span data="<%= d.name %>" data-attr="<%= k %>" class="delete_var" style="color: red;cursor: pointer"><i class="fa fa-times-rectangle"></i></span>,
        <% end %>
        <span data="<%= d.name %>" class="label add_var" style="color:green;font-weight: bold;cursor: pointer" >Add</span>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>