$(".var_<%= @vars[1] %>").attr('data','<%= @vars[2].html_safe %>');
<%
 vals = JSON.parse(@vars[2])

 stringy = ""

 vals.each do |k,v|
 stringy = stringy + "<span style='background-color: lightgreen;padding: 8px;border-radius: 12px;color: black;margin:2px'>#{v} <span data-var ='#{@vars[1]}'  data='#{v}' data-attr='#{k}' class='delete_var_temp' style='color: lightcoral;cursor: pointer'><i class='fa fa-times'></i> </span></span>"
 end

 stringy = stringy + "<div id='new_var_#{@vars[1]}' style='display: none'> <input type='text' id='new_text_#{@vars[1]}' style='font-size: 75%'/><span class='add_var_val_temp' data-name='#{@vars[1]}' style='cursor: pointer;color: green'> Add Value </span><span class='cancel_var_val_temp' data-name='#{@vars[1]}' class='label' style='cursor: pointer;color: red'> Cancel </span></div><span id='add_btn_#{@vars[1]}' class='add_btn_temp' data-name='#{@vars[1]}' class='label' style='cursor: pointer;color: green'> Add Value </span>"
%>
$(".td_<%= @vars[1] %>").html("<%= stringy.html_safe %>")
$(".scripter").html("<%= escape_javascript(render "scripter") %>")
