<% if !@categories.blank? %>
<p><strong>Total Products : <%= @product.count rescue nil %></strong></p>
<p><strong>Active : <%= @store.active %></strong></p>
<% if !@product.blank? %>
<table id="data-tables" class="table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Active</th>
    <th>Category</th>
    <th>Quantity</th>
  </tr>
  </thead>
  <tbody>
  <% @product.each do |p| %>
  <tr>
    <td><%= p.name %></td>
    <td><%= p.price %></td>
    <td><%= p.active %></td>
    <td><%= Category.find(p.category_id).name rescue nil %></td>
    <td><%= p.quantity %></td>
    <td><%= link_to "Edit", edit_store_product_path(p.store_id,p)%> | <%= link_to "Show", store_product_path(p.store_id,p)%> | <span style="color: red;text-decoration: none;"><%= link_to "Delete", store_product_path(p.store_id,p), method:'delete', confirm:"Are you Sure you want to delete this product?"%></span></td>
  </tr>
  <% end %>
  </tbody>
</table>

    <% else %>

    <p>You dont have any Products in this store yet</p>

    <% end %>
    


<%else%>
    <a href="<%= new_category_path(@store) %>">Create a Category</a> First!
    <%end%>
