<div class="content_bottom" style="margin-top:2em">

<h3 style="color:#7aae42"><i class="fa fa-search"></i> View Product</h3>
<div class="col-md-12 span_3">
  <div class="col_2">
  <%= link_to edit_store_product_path(params[:store_id], params[:id]),style:'text-decoration:none' do %>
    <button class="kd_buttons"><i class="fa fa-edit"></i> Edit</button>
  <%end%>
    <%= link_to products_duplicate_path(@product.id),style:'text-decoration:none', data: {confirm: "Are you sure you want to create a copy of this product?"} do %>
      <button class="kd_buttons"><i class="fa fa-copy"></i> Copy</button>
    <%end%>
  <%= link_to products_manage_path,style:'text-decoration:none' do %>
    <button class="kd_reset"><i class="fa fa-arrow-left"></i> Back</button>
  <%end%>
  <br><br>

  <div class="row">
    <div class="col-md-6">
      <label class="col-md-3" style="font-weight:900">Name:</label><span class="col-md-9"><%= @product.name %></span>
      <div class="col-md-12" style="height:1em"></div>
      <label class="col-md-3" style="font-weight:900">Price:</label><span class="col-md-9">Ksh. <%= @product.price %></span>
      <div class="col-md-12" style="height:1em"></div>
      <label class="col-md-3" style="font-weight:900">Active:</label><span class="col-md-9"><%= @product.active %></span>
      <div class="col-md-12" style="height:1em"></div>
      <label class="col-md-3" style="font-weight:900">Quantity:</label><span class="col-md-9"><%= @product.quantity %></span>
      <div class="col-md-12" style="height:1em"></div>
      <label class="col-md-3" style="font-weight:900">Description:</label><span class="col-md-9"><%= @product.description.html_safe rescue nil %></span>
      <div class="col-md-12" style="height:1em"></div>
      <label class="col-md-3" style="font-weight:900">Category:</label><span class="col-md-9"><%= Category.find(@product.category_id).name rescue nil %></span>
      <div class="col-md-12" style="height:1em"></div>
      <label class="col-md-3" style="font-weight:900">Details:</label><span class="col-md-9"><%= "Dimensions: #{@product.length} x #{@product.width} x #{@product.height}  , Weight: #{@product.weight} Kilograms" %></span>
      <div class="col-md-12" style="height:1em"></div>
    </div>
    <div class="col-md-6">
      <label class="col-md-3" style="font-weight:900">Main Image:</label><span class="col-md-9"><%= image_tag(@product.image_url(:thumb).to_s) %></span>
      <div class="col-md-12" style="height:1em"></div>
      <label class="col-md-3" style="font-weight:900">Image 1:</label><span class="col-md-9"><%= image_tag(@product.img1_url(:thumb).to_s) %></span>
      <div class="col-md-12" style="height:1em"></div>
      <label class="col-md-3" style="font-weight:900">Image 2:</label><span class="col-md-9"><%= image_tag(@product.img2_url(:thumb).to_s) %></span>
      <div class="col-md-12" style="height:1em"></div>
      <label class="col-md-3" style="font-weight:900">Image 3:</label><span class="col-md-9"><%= image_tag(@product.img3_url(:thumb).to_s) %></span>
      <div class="col-md-12" style="height:1em"></div>
      <label class="col-md-3" style="font-weight:900">Image 4:</label><span class="col-md-9"><%= image_tag(@product.img4_url(:thumb).to_s) %></span>
      <div class="col-md-12" style="height:1em"></div>
      <label class="col-md-3" style="font-weight:900">Long Description / Specifications</label><span class="col-md-9"><%= @product.long_description.html_safe rescue nil %></span>
      <div class="col-md-12" style="height:1em"></div>
    </div>
  </div>

  <br><br>
  <%= link_to edit_store_product_path(params[:store_id], params[:id]),style:'text-decoration:none' do %>
    <button class="kd_buttons"><i class="fa fa-edit"></i> Edit</button>
  <%end%>
  <%= link_to products_manage_path,style:'text-decoration:none' do %>
    <button class="kd_reset"><i class="fa fa-arrow-left"></i> Back</button>
  <%end%>
  <br><br>

</div>
</div>

<div class="clearfix"></div>
</div>
