<script>
	// Can also be used with $(document).ready()
	$(window).load(function() {
		$('.flexslider').flexslider({
			animation : "slide",
			controlNav : "thumbnails"
		});
	}); 
</script>
<!--breadcrumbs-->
<div class="breadcrumbs">
	<div class="container">
		<ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
			<li>
				<a href="index.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a>
			</li>
			<li class="active">
				Single page
			</li>
		</ol>
	</div>
</div>
<!--//breadcrumbs-->
<!--single-page-->
<div class="single">
	<div class="container">
		<div class="single-info">
			<div class="col-md-6 single-top wow fadeInLeft animated" data-wow-delay=".5s">
				<div class="flexslider">
					<ul class="slides">
						<li data-thumb="<%= @product.image_url.to_s %>">
							<div class="thumb-image">
								<%=  image_tag(@product.image_url.to_s ,'data-imagezoom':"true", class:"img-responsive", alt:"")%>
							</div>
						</li>
						<li data-thumb="<%= @product.img1_url.to_s %>">
							<div class="thumb-image">
								<%=  image_tag( @product.img1_url.to_s ,'data-imagezoom':"true", class:"img-responsive", alt:"")%>
							</div>
						</li>
						<li data-thumb="<%= @product.image_url.to_s %>">
							<div class="thumb-image">
								<%=  image_tag(@product.image_url.to_s ,'data-imagezoom':"true", class:"img-responsive", alt:"")%>
							</div>
						</li>
						<li data-thumb="<%= @product.image_url.to_s %>">
							<div class="thumb-image">
								<%=  image_tag(@product.image_url.to_s ,'data-imagezoom':"true", class:"img-responsive", alt:"")%>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-md-6 single-top-left simpleCart_shelfItem wow fadeInRight animated" data-wow-delay=".5s">
				<h3><%= @product.name %></h3>
				<div class="single-rating">
					<span class="starRating">
						<input id="rating5" type="radio" name="rating" value="5" checked>
						<label for="rating5">5</label>
						<input id="rating4" type="radio" name="rating" value="4">
						<label for="rating4">4</label>
						<input id="rating3" type="radio" name="rating" value="3">
						<label for="rating3">3</label>
						<input id="rating2" type="radio" name="rating" value="2">
						<label for="rating2">2</label>
						<input id="rating1" type="radio" name="rating" value="1">
						<label for="rating1">1</label> </span>
					<p>
						5.00 out of 5
					</p>
					<a href="#">Add Your Review</a>
				</div>
				<h6 class="item_price"><%= @product.price %></h6>
				<p>
					<%= @product.description%>
				</p>
				<!--
				<ul class="size">
				<h4>Size</h4>
				<li><a href="#">6-12 M</a></li>
				<li><a href="#">1-2 Y</a></li>
				<li><a href="#">2-3 Y</a></li>
				<li><a href="#">3-4 Y</a></li>
				</ul>
				<ul class="color">
				<h4>Color</h4>
				<li><a href="#"></a></li>
				<li><a href="#" class="red"></a></li>
				<li><a href="#" class="green"></a></li>
				<li><a href="#" class="pink"></a></li>
				</ul>
				-->
				<div class="clearfix"></div>
				<%= form_for :order_item, :url => {controller:'order_items', action:'create'}, remote: true do |f| %>
				<div class="quantity">
					<p class="qty">
						Qty :
					</p>
					<%= f.number_field :quantity, value: 1, class: "item_quantity", min: 1 %>
				</div>
				<div class="btn_form">
					<%= f.hidden_field :product_id, value: @product.id %>
					
					<%= f.button type:'submit', class:'add-cart item_add' do %>
					ADD TO CART
					<%end%>
				</div>
				<% end %>
			</div>
			<div class="clearfix"></div>
		</div>
		<!--collapse-tabs-->
		<div class="collpse tabs">
			<div class="panel-group collpse" id="accordion" role="tablist" aria-multiselectable="true">
				<div class="panel panel-default wow fadeInUp animated" data-wow-delay=".5s">
					<div class="panel-heading" role="tab" id="headingOne">
						<h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> Description </a></h4>
					</div>
					<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
						<div class="panel-body">
							<%= @product.description%>
						</div>
					</div>
				</div>
				<div class="panel panel-default wow fadeInUp animated" data-wow-delay=".6s">
					<div class="panel-heading" role="tab" id="headingTwo">
						<h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"> additional information </a></h4>
					</div>
					<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
						<div class="panel-body">
							<%= @product.additional_info %>
						</div>
					</div>
				</div>
				<div class="panel panel-default wow fadeInUp animated" data-wow-delay=".7s">
					<div class="panel-heading" role="tab" id="headingThree">
						<h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree"> reviews (5) </a></h4>
					</div>
					<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
						<div class="panel-body">
							Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
						</div>
					</div>
				</div>
				
			</div>
		</div>
		<!--//collapse -->
		<!--related-products-->
		<div class="related-products">
			<div class="title-info wow fadeInUp animated" data-wow-delay=".5s">
				<h3 class="title">Related<span> Products</span></h3>
				<p>
					Some shoppers who looked at <%= @product.name %> also looked at the following items
				</p>
			</div>
			<div class="related-products-info">
				<div class="col-md-3 new-grid simpleCart_shelfItem wow flipInY animated" data-wow-delay=".5s">
					<div class="new-top">
						<a href="single.html"><img src="images/g9.jpg" class="img-responsive" alt=""/></a>
						<div class="new-text">
							<ul>
								<li>
									<a class="item_add" href=""> Add to cart</a>
								</li>
								<li>
									<a href="single.html">Quick View </a>
								</li>
								<li>
									<a href="products.html">Show Details </a>
								</li>
							</ul>
						</div>
					</div>
					<div class="new-bottom">
						<h5><a class="name" href="single.html">Baby Red Dress </a></h5>
						<div class="rating">
							<span class="on">☆</span>
							<span class="on">☆</span>
							<span class="on">☆</span>
							<span class="on">☆</span>
							<span>☆</span>
						</div>
						<div class="ofr">
							<p class="pric1">
								<del>$2000.00</del>
							</p>
							<p>
								<span class="item_price">$500</span>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 new-grid new-mdl simpleCart_shelfItem wow flipInY animated" data-wow-delay=".7s">
					<div class="new-top">
						<a href="single.html"><img src="images/g10.jpg" class="img-responsive" alt=""/></a>
						<div class="new-text">
							<ul>
								<li>
									<a class="item_add" href=""> Add to cart</a>
								</li>
								<li>
									<a href="single.html">Quick View </a>
								</li>
								<li>
									<a href="products.html">Show Details </a>
								</li>
							</ul>
						</div>
					</div>
					<div class="new-bottom">
						<h5><a class="name" href="single.html">Crocs Sandals </a></h5>
						<div class="rating">
							<span class="on">☆</span>
							<span class="on">☆</span>
							<span class="on">☆</span>
							<span class="on">☆</span>
							<span>☆</span>
						</div>
						<div class="ofr">
							<p class="pric1">
								<del>$2000.00</del>
							</p>
							<p>
								<span class="item_price">$500</span>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 new-grid new-mdl1 simpleCart_shelfItem wow flipInY animated" data-wow-delay=".9s">
					<div class="new-top">
						<a href="single.html"><img src="images/g11.jpg" class="img-responsive" alt=""/></a>
						<div class="new-text">
							<ul>
								<li>
									<a class="item_add" href=""> Add to cart</a>
								</li>
								<li>
									<a href="single.html">Quick View </a>
								</li>
								<li>
									<a href="products.html">Show Details </a>
								</li>
							</ul>
						</div>
					</div>
					<div class="new-bottom">
						<h5><a class="name" href="single.html">Pink Sip Cup </a></h5>
						<div class="rating">
							<span class="on">☆</span>
							<span class="on">☆</span>
							<span class="on">☆</span>
							<span class="on">☆</span>
							<span>☆</span>
						</div>
						<div class="ofr">
							<p class="pric1">
								<del>$2000.00</del>
							</p>
							<p>
								<span class="item_price">$500</span>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 new-grid simpleCart_shelfItem wow flipInY animated" data-wow-delay="1.1s">
					<div class="new-top">
						<a href="single.html"><img src="images/g12.jpg" class="img-responsive" alt=""/></a>
						<div class="new-text">
							<ul>
								<li>
									<a class="item_add" href=""> Add to cart</a>
								</li>
								<li>
									<a href="single.html">Quick View </a>
								</li>
								<li>
									<a href="products.html">Show Details </a>
								</li>
							</ul>
						</div>
					</div>
					<div class="new-bottom">
						<h5><a class="name" href="single.html">Child Print Bike </a></h5>
						<div class="rating">
							<span class="on">☆</span>
							<span class="on">☆</span>
							<span class="on">☆</span>
							<span class="on">☆</span>
							<span>☆</span>
						</div>
						<div class="ofr">
							<p class="pric1">
								<del>$2000.00</del>
							</p>
							<p>
								<span class="item_price">$500</span>
							</p>
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<!--//related-products-->
	</div>
</div>
<!--//single-page-->
