<div class="skil">
  <script>
      $(document).ready(function(){
          $('[data-toggle="tooltip"]').tooltip();
      });
  </script>
  <br><h1 style="text-align:center">Email and Password</h1><br>
  <%= form_for(:user, url:{:controller => 'user_registrations', :action => 'update_password'}) do |f| %>
      <%= devise_error_messages! %>
      <div class="form-group">
        <%= f.label :email %><br/>
        <%= f.email_field :email, autofocus: true, class: 'form-control', id:'changemail' %>
        <div class="display_email_prev"></div>
        <a data-toggle="tooltip" data-placement="right" title="This is the email you will use to login and recover your password"><span><i style="color: #b52e31" class="fa fa-question-circle"></i> <span style="color: #b52e31">Help?</span></span></a>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="form-group">
        <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, autocomplete: "off" , class: 'form-control', id:'currentpass'%>
      </div>

      <div class="form-group">
        <%= f.label :password %>
        <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br/>
        <%= f.password_field :password, autocomplete: "off", class: 'form-control', id:'changepass'%>
        <div class="store_password_prev"></div>
        <a data-toggle="tooltip" data-placement="right" title="New Password"><span><i style="color: #b52e31" class="fa fa-question-circle"></i> <span style="color: #b52e31">Help?</span></span></a>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation %><br/>
        <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', id:'changepassconf' %>
        <div class="store_password_conf_prev"></div>
        <a data-toggle="tooltip" data-placement="right" title="Repeat New Password"><span><i style="color: #b52e31" class="fa fa-question-circle"></i> <span style="color: #b52e31">Help?</span></span></a>
      </div>
      </div>
      </div>
      <br><br>
      <p style="text-align:center"><%= f.submit 'Save', class: 'btn btn-success btn-lg', id:'changebtn', disabled:'disabled' %>
  <% end %>
