<div class="col-md-6 col-md-offset-3 containerw3layouts-agileits">


<h1>Register</h1>

<div class="aitsloginwthree w3layouts agileits">
  <div class="col-md-12">
    <% if !notice.nil? %>
        <div class="alert alert-success" role="alert">
          <strong><%= notice %></strong>
        </div>
    <% end %>
    <% if !alert.nil? %>
        <div class="alert alert-info" role="alert">
          <strong><%= alert %></strong>
        </div>
    <% end %>

  </div>
  <br><br><br>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name, autofocus: true, class:'form-control' %>
    </div>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, class:'form-control' %>
    </div>

    <div class="field">
      <%= f.label :username %><br />
      <%= f.text_field :username, autofocus: true, class:'form-control' %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off", class:'form-control' %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", class:'form-control' %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>
<% end %>



  <%= render "devise/shared/links" %>

</div>
</div>