
<h1>LOGIN</h1>

<div class="col-md-6 col-md-offset-3 containerw3layouts-agileits">

	<!-- <div class="w3imageaits">
		<%= image_tag("web.jpg") %>
	</div> -->

	<div class="aitsloginwthree w3layouts agileits">
		
		<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
		<%= f.email_field :email, autofocus: true, class:'form-control' %>
		<%= f.password_field :password, autocomplete: "off", class:'form-control' %>
		<ul class="tick w3layouts agileinfo">
			<li>
				<%= f.check_box :remember_me %>
				<label for="brand1"><span></span>Remember me</label>
			</li>
			<li>
				<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
				<%= link_to "Sign up", new_registration_path(resource_name) %> |
				<% end -%> <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
				<%= link_to "Forgot your password?", new_password_path(resource_name) %>
				<br />
				<% end -%>
			</li>
		</ul>
		<div class="send-button wthree agileits">
			<%= f.submit "Log in" %>
		</div>
		<% end %>
	</div>

	<div class="clear"></div>

</div>