<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>
<%= form_for(layout) do |f| %>
  <% if layout.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(layout.errors.count, "error") %> prohibited this layout from being saved:</h2>

      <ul>
      <% layout.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <label for="name" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-8">
      <%= f.text_field :name, class: 'form-control1', placeholder: 'Name',required:'required',id:'name' %>
    </div>
    <div class="col-sm-2">
      <a class="help-block"><span data-toggle="tooltip" data-placement="bottom" title='This is the Layout Name'>Help?</span></a>
    </div>
  </div>
  <div class="col-md-12" style="height:1em"></div>
  <div class="form-group">
    <label for="d_name" class="col-sm-2 control-label">DName</label>
    <div class="col-sm-8">
      <%= f.text_field :d_name, class: 'form-control1', placeholder: 'DName',required:'required',id:'d_name' %>
    </div>
    <div class="col-sm-2">
      <a class="help-block"><span data-toggle="tooltip" data-placement="bottom" title='This is the Layout DName'>Help?</span></a>
    </div>
  </div>
  <div class="col-md-12" style="height:1em"></div>
  <div class="form-group">
    <label for="description" class="col-sm-2 control-label">Description</label>
    <div class="col-sm-8">
      <%= f.text_field :description, class: 'form-control1', placeholder: 'Description',required:'required',id:'description' %>
    </div>
    <div class="col-sm-2">
      <a class="help-block"><span data-toggle="tooltip" data-placement="bottom" title='This is the Layout Description'>Help?</span></a>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-12" style="height:1em"></div>
    <label for="description" class="col-sm-2 control-label">Premium</label>
    <div class="col-sm-8">
      <%= f.check_box :premium, class: 'form-control',id:'premium' %>
    </div>
    <div class="col-sm-2">
      <a class="help-block"><span data-toggle="tooltip" data-placement="bottom" title='This is the Layout Description'>Help?</span></a>
    </div>
  </div>
  <div class="col-md-12" style="height:1em"></div>
  <div class="form-group">
    <label for="preview" class="col-sm-2 control-label">Layout Preview</label>
    <div class="col-sm-8">
      <%= f.file_field :preview, class: 'form-control1', placeholder: 'DName',required:'required',id:'preview' %>
    </div>
    <div class="col-sm-2">
      <a class="help-block"><span data-toggle="tooltip" data-placement="bottom" title='This is the Layout Preview Image'>Help?</span></a>
    </div>
  </div>
  <div class="col-md-12" style="height:1em"></div>
  <div class="form-group">
    <label for="preview" class="col-sm-2 control-label"></label>
    <div class="col-sm-10">
      <div class="actions">
        <button type="submit" class="kd_buttons"><i class="fa fa-save"></i> Submit</button>
        <%= link_to layouts_path,style:'text-decoration:none'  do %>
          <button class="kd_reset"><i class="fa fa-arrow-left"></i> Back</button>
        <%end%>
      </div>
    </div>
  </div>
  <div class="col-md-12" style="height:1em"></div>
<% end %>
