<%= form_for(layout) do |f| %>
  <% if layout.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(layout.errors.count, "error") %> prohibited this layout from being saved:</h2>

      <ul>
      <% layout.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :d_name %>
    <%= f.text_field :d_name %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :preview %>
    <%= f.file_field :preview %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
