<!DOCTYPE html>
<html>
<head>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'custom.css' %>
  <%= csrf_meta_tags %>
  <title>MyDuka</title>
  <!-- for-mobile-apps -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="keywords" content="Modern Shoppe Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
  <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
  function hideURLbar(){ window.scrollTo(0,1); } </script>
  <!--//for-mobile-apps -->
  <!--Custom Theme files -->
  <!--<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />-->
  <!--<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
  <link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" />-->
  <!--//Custom Theme files -->
  <!--js-->
  <!--<script src="js/jquery-1.11.1.min.js"></script>
  <script src="js/modernizr.custom.js"></script>-->
  <!--//js-->
  <!--cart-->
  <!--<script src="js/simpleCart.min.js"></script>-->
  <!--cart-->
  <!--web-fonts-->
  <%= stylesheet_link_tag '//fonts.googleapis.com/css?family=Raleway:400,100,100italic,200,200italic,300,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic'%>
  <%= stylesheet_link_tag '//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' %>
  <%=  stylesheet_link_tag '//fonts.googleapis.com/css?family=Pompiere' %>
  <%=  stylesheet_link_tag '//fonts.googleapis.com/css?family=Fascinate' %>
  <!--web-fonts-->
  <!--animation-effect-->
  <!--<link href="css/animate.min.css" rel="stylesheet">
  <script src="js/wow.min.js"></script>-->
  <script>
      new WOW().init();
  </script>
  <!--//animation-effect-->
  <!--start-smooth-scrolling-->
  <!--<script type="text/javascript" src="js/move-top.js"></script>
  <script type="text/javascript" src="js/easing.js"></script>-->
  <script type="text/javascript">
      jQuery(document).ready(function($) {
          $(".scroll").click(function(event){
              event.preventDefault();
              $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
          });
      });
  </script>
  <!--//end-smooth-scrolling-->
</head>
<body>

<!--header-->
<div class="header">
  <div class="top-header navbar navbar-default"><!--header-one-->
    <div class="container">
      <div class="nav navbar-nav wow fadeInLeft animated "  data-wow-delay=".5s">
        <% if user_signed_in? %>
            Welcome <%= current_user.email %>!  |  <%= link_to "Logout", destroy_user_session_path, :method => 'delete' %>  |  <%= link_to "My Profile", edit_user_registration_path(:subdomain => 'sub') %>
        <% else %>
            <p>Welcome to Duka <%= link_to "Register", new_user_registration_path  %> or <%= link_to "Login", new_user_session_path  %></p>
        <% end %>
      </div>
      <div class="nav navbar-nav navbar-right social-icons wow fadeInRight animated" data-wow-delay=".5s">
        <ul>
          <li><a href="#"> </a></li>
          <li><a href="#" class="pin"> </a></li>
          <li><a href="#" class="in"> </a></li>
          <li><a href="#" class="be"> </a></li>
          <li><a href="#" class="you"> </a></li>
          <li><a href="#" class="vimeo"> </a></li>
        </ul>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
  <div class="header-two navbar navbar-default"><!--header-two-->
    <div class="container">
      <div class="nav navbar-nav header-two-left">
        <ul>
        	<% if !@store.phone.blank?%>
          <li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i> <%= @store.phone %></li>
          <% end %>
          <% if !@store.display_email.blank?%>
          <li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:info@example.com">info@myduka.com</a></li>
          <% end %>
        </ul>
      </div>
      <div class="nav navbar-nav logo wow zoomIn animated" data-wow-delay=".7s">
        <h1><%= link_to(root_path) do %> My<b>Duka</b><span class="tag">Get your business running</span> <% end %></h1>
      </div>
      <div class="nav navbar-nav navbar-right header-two-right">
        <div class="header-right my-account">
          <a href=""><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> CONTACT US</a>
        </div>
        <div class="header-right cart">
          <a href="#"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a>
          <%= link_to(cart_path) do %>
          <h4 class="cart-text"><%= render 'layouts/cart_text' %></h4>
              <% end %>
          <div class="cart-box">
            <p><%= link_to "Empty cart", order_items_clear_path, remote: true, :class => "simpleCart_empty" %></p>
            <div class="clearfix"> </div>
          </div>
        </div>
        <div class="clearfix"> </div>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
  <%= render 'layouts/menu_shop' %>
</div>

<div class="container" style="margin-top: 1em">
    <div class="row">
      <div class="col-md-12">
        <% if !notice.nil? %>
        <div class="alert alert-success" role="alert">
          <strong><%= notice %></strong>
        </div>
        <% end %>
        <% if !alert.nil? %>
        <div class="alert alert-info" role="alert">
          <strong><%= alert %></strong>
        </div>
            <% end %>

      </div>
    </div>
    <hr>
    <%= yield %>
</div>
<!--footer-->
<div class="footer" style="margin-top: 2em">
  <div class="container">
    <div class="footer-info">
      <div class="col-md-4 footer-grids wow fadeInUp animated" data-wow-delay=".5s">
        <h4 class="footer-logo"><a href="index.html">My<b>Duka</b> <span class="tag">Get your business running</span> </a></h4>
        <p>© 2017 MyDuka . All rights reserved | Design by <a href="http://w3layouts.com" target="_blank">W3layouts</a></p>
      </div>
      <div class="col-md-4 footer-grids wow fadeInUp animated" data-wow-delay=".7s">
        <h3>Popular</h3>
        <ul>
          <li><a href="">About Us</a></li>
          <li><a href="">new</a></li>
          <li><a href="">Contact Us</a></li>
          <li><a href="">FAQ</a></li>
          <li><a href="">Wishlist</a></li>
        </ul>
      </div>
      <div class="col-md-4 footer-grids wow fadeInUp animated" data-wow-delay=".9s">
        <h3>Subscribe</h3>
        <p>Sign Up Now For More Information <br> About Our Company </p>
        <form>
          <input type="text" placeholder="Enter Your Email" required="">
          <input type="submit" value="Go">
        </form>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!--//footer-->
<!-- the jScrollPane script -->
<!--<script type="text/javascript" src="js/jquery.jscrollpane.min.js"></script>-->
<script type="text/javascript" id="sourcecode">
    $(function()
    {
        $('.scroll-pane').jScrollPane();
    });
</script>
<!-- //the jScrollPane script -->
<!--<script type="text/javascript" src="js/jquery.mousewheel.js"></script>-->

<!-- the mousewheel plugin -->
<!--search jQuery-->
<!--<script src="js/main.js"></script>-->
<!--//search jQuery-->
<!--smooth-scrolling-of-move-up-->
<script type="text/javascript">
    $(document).ready(function() {

        var defaults = {
            containerID: 'toTop', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 1200,
            easingType: 'linear'
        };

        $().UItoTop({ easingType: 'easeOutQuart' });

    });
</script>
<!--//smooth-scrolling-of-move-up-->
<!--Bootstrap core JavaScript
  ================================================== -->
<!--Placed at the end of the document so the pages load faster -->
<!--<script src="js/bootstrap.js"></script>-->
</body>
</html>
