<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @layout.name %>
</p>

<p>
  <strong>D name:</strong>
  <%= @layout.d_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @layout.description %>
</p>

<p>
  <strong>D name:</strong>
  <%= @layout.d_name %>
</p>

<p>
  <strong>Preview:</strong>
  <%= @layout.preview %>
</p>

<%= link_to 'Edit', edit_layout_path(@layout) %> |
<%= link_to 'Back', layouts_path %>
