<div class="col-md-6 col-md-offset-3">
<h2>Edit Store</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

  <%= devise_error_messages! %>
  
  
  
  <div class="field">
      <%= f.label "Store Active" %><br />
      <%= f.text_field :name, autofocus: true, class:'form-control' %>
   </div> 
   
  <div class="field">
      <%= f.label "Url" %><br />
      <%= f.text_field :subdomain, autofocus: true, class:'form-control', placeholder:'Your url will be storename.myduka.com' %>
    </div>

      <div class="field">
        <%= f.label "Use Logo" %><br />
        <%= f.text_field :logo_status %>
      </div>

      <div class="field">
        <%= f.label "Upload Logo" %><br />
        <%= f.file_field :logo, autofocus: true, class:'form-control' %>
      </div>

      <div class="field">
        <%= f.label "Preview Logo" %><br />
        <%= image_tag(@store.logo_url(:thumb).to_s) %>
      </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class:'form-control' %>
  </div>

    <div class="field">
      <%= f.label :username %><br />
      <%= f.text_field :username, autofocus: true, class:'form-control' %>
    </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", class:'form-control' %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class:'form-control' %>
  </div>

    
    <div class="field">
      <%= f.label :display_email %><br />
      <%= f.text_field :display_email, autofocus: true, class:'form-control' %>
    </div>
    
    <div class="field">
      <%= f.label :phone %><br />
      <%= f.text_field :phone, autofocus: true, class:'form-control' %>
    </div>
    
    <div class="field">
      <%= f.label :active %><br />
      <%= f.check_box :active, autofocus: true %>
    </div>
    

  <div class="actions">
    <%= f.submit "Create Store", class:'btn btn-primary' %>
  </div>
<% end %>

</div>