<div class="col-md-6 col-md-offset-3">
<h2>New Store</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

  <%= devise_error_messages! %>
  
  <div class="field">
  	<br />
      <%= f.label "Store Name" %>
      <%= f.text_field :name, autofocus: true, class:'form-control', placeholder:'The name of your store users will see i.e Johns Store' %>
   </div> 
   
  <div class="field">
  	<br />
      <%= f.label "Url" %>
      If you enter 'john', your store will be john.kduka.co.ke<br/>
      <%= f.text_field :subdomain, autofocus: true, class:'form-control', placeholder:'Your url will be storename.myduka.com', id:'url' %>
    <p style="color: green;font-weight:bold" id="url_prev">http://example.kduka.co.ke</p>
    <p><i style="color: #b52e31" class="fa fa-question-circle"></i> <span style="color: #b52e31">Help?</span></p>
    </div>

  <div class="field">
  	<br />
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, id:'s_email',class:'form-control',placeholder:'Email to be used to login into the store account' %>
    <p style="color: green;font-weight:bold" id="email_prev"></p>
    <p><i style="color: #b52e31" class="fa fa-question-circle"></i> <span style="color: #b52e31">Help?</span></p>
  </div>



  <div class="field">
  	<br />
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", class:'form-control' ,placeholder:'Password'%>
    <p><i style="color: #b52e31" class="fa fa-question-circle"></i> <span style="color: #b52e31">Help?</span></p>
  </div>

  <div class="field">
  	<br />
    <%= f.label "Repeat Password" %>
    <%= f.password_field :password_confirmation, autocomplete: "off", class:'form-control',placeholder:'Repeat Password' %>
    <p><i style="color: #b52e31" class="fa fa-question-circle"></i> <span style="color: #b52e31">Help?</span></p>
  </div>

    
    <div class="field">
    	<br />
      <%= f.label :display_email %>
      <%= f.text_field :display_email, autofocus: true, class:'form-control' ,placeholder:'Email you want your clients to see' %>
      <p><i style="color: #b52e31" class="fa fa-question-circle"></i> <span style="color: #b52e31">Help?</span></p>
    </div>
    
    <div class="field">
    	<br />
      <%= f.label :phone %>
      <%= f.text_field :phone, autofocus: true, class:'form-control',placeholder:'Phone Number you want your clients to see' %>
      <p><i style="color: #b52e31" class="fa fa-question-circle"></i> <span style="color: #b52e31">Help?</span></p>
    </div>

    

  <div class="actions">
    <%= f.submit "Create Store", class:'btn btn-primary' %>
  </div>
      <br><p></p><br>
<% end %>

</div>